#content {
	background: #fff;
	position: relative;
	padding-top: 50px;
	padding-bottom: 100px;
	
	width: 100%;
	z-index: 1000;
	-webkit-transition: margin 0.4s;
			transition: margin 0.4s;
	overflow: auto;
}

/** intermediate between mobile/tablet **/
@media (min-width: 600px) {
	#content {
		padding-top:60px;
	}
}

/** small desktop **/
@media (min-width: 768px) {
	#content {
		padding-top:75px;
	}
}

/** medium desktop **/
@media (min-width: 992px) {
	#content {
		padding-top:100px;

		#main-content {
			min-height: 625px;
		}
	}
}

/** large desktop **/
@media (min-width: 1200px) {

}