#footer {
	background:#e6e6e6;
	padding-top:65px;
	padding-bottom:90px;
	float:left;
	width:100%;
	position: relative;
	z-index: 905;

	.hbspt-form {
		width:86%;
		background:#eaeaea;
		border:2px solid #eeeeee;
		padding:33px 0;
		margin-left:7%;
		margin-bottom:85px;
		text-align:center;

		form {
			overflow: auto;
		}

		label {
			width:100%;
			@include adelle(28px);
			color: $cl_blue;
			float:left;
			margin-top:5px;
		}

		.hs-input {
			width:80%;
			font-size:20px;
			padding:0px 30px;
			line-height:50px;
			border:none;
			outline:none;
			margin:10px auto 0;
			min-height:50px;
		}

		.hs-button {
			background: $cl_blue;
			border-color: $cl_blue;
			max-width:180px;
			width:100%;
			margin-top:20px;
			color:#fff;
			padding:3px 17px 0;
			line-height:28px;
			@include rounded(36px);
			text-transform: uppercase;
			@include avenir_bl(11px);
		}
		.hs-button:hover {
			background:none;
			border-color: $cl_blue;
			color: $cl_blue;
		}

		.hs-error-msgs, .hs-form-required {
			display: none !important;
		}

		.submitted-message {
			clear:left;
			display:inline-block;
			width:80%;
			margin:0 auto;
			@include avenir_m(17px);
			color: $cl_green;
		}
	}



	.footer_nav_row {
		margin:0;
		width:100%;

		.footer_logo {
			width:100%;
			margin:0 auto 40px;
			text-align:center;

			img {
				max-width:150px;
			}

		}

		.footer_nav_col, .footer_social_col {
			float:right;
		}

		.footer_nav, .footer_social {
			list-style: none;
			width:100%;
			margin:0;
			padding:0;

			li {
				color:#353435;
				@include avenir_bk(14px);
				text-transform: uppercase;
				width:100%;
				list-style:none;
				text-align:center;
				padding:0;
				margin:0;
				text-indent:0;
				line-height:14px;

				a {
					color:#353435;
					@include avenir_bk(17px);
					text-transform: none;
					line-height:40px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
			li.header {
				width:100%;
				margin-bottom:10px;
				@include avenir_bl(14px);
			}
			li:before {
			    content: "";
				display:none;
				left:auto;
				top:auto;
			}
		}
	}

	.copyright {
		text-align:center;
		margin:45px 0 0;
		color:#353435;
	}
}

/** intermediate between mobile/tablet **/
@media (min-width: 600px) {
	
	#footer {
		.footer_nav_row {
			margin:0;
			width:100%;

			.footer_logo {
				float:left;
				width:33%;
				max-width:30%;
				margin:0 0 0 15px;

				img {
					max-width:200px;
				}
			}

			.footer_nav_col, .footer_social_col {
				float:right;
				width:30%;
			}

			.footer_nav, .footer_social {
				li {
					text-align:left;
				}
			}
		}
	}
}

/** mobile-only **/
@media (min-width: 768px) {
	
	#footer {
		padding-top:55px;
		padding-bottom:70px;

		.hbspt-form {
			padding:22px 0;
			margin:0 15px 65px;
			width: calc(100% - 30px);

			label {
				width:auto;
				@include adelle(24px);
				margin-top:5px;
				margin-left:15px;
			}

			.hs-input {
				width: calc(100% - 420px);
				float:left;
				font-size:18px;
				padding:0px 15px;
				line-height:40px;
				margin-left:20px;
				margin-top:0;
				min-height:40px;
			}

			.hs-button {
				max-width:180px;
				width:auto;
				float:right;
				margin-right:15px;
				margin-top:0;
				text-align:center;
				line-height:40px;
				@include rounded(35px);
				@include avenir_bl(14px);
			}

		}

		.footer_nav_row {

			.footer_nav_col, .footer_social_col {
				width:25%;
			}

		}

		.copyright {
			width:100%;
			float:left;
			margin-top:45px;
			text-align: left;
		}

	}
}

/** medium desktop **/
@media (min-width: 992px) {

	#footer {
		padding-top:60px;
		padding-bottom:80px;

		.hbspt-form {
			padding:28px 0;

			label {
				width:auto;
				@include adelle(28px);
				margin-top:5px;
				margin-left:30px;
			}

			.hs-input {
				width: calc(100% - 500px);
				padding:0px 20px;
				line-height:45px;
				margin-left:30px;
				min-height:45px;
			}

			.hs-button {
				margin-right:30px;
				line-height:45px;
			}

		}

		.footer_nav_row {

			.footer_logo {
				text-align:left;
				width:25%;
			}

			.footer_nav_col, .footer_social_col {
				width:25%;
			}

			.footer_nav, .footer_social {
				float:right;

				li {
					width:100%;
				}
				li.header {
					width:100%;
				}

			}
			.footer_social {
				li {
					width:50%;
					float:left;
				}
			}
		}

	}
}

/** large desktop **/
@media (min-width: 1200px) {

	#footer {
		padding-top:65px;
		padding-bottom:90px;

		.hbspt-form {
			width:100%;
			padding:33px 0;
			margin-bottom:85px;

			label {
				@include adelle(31px);
				margin-top:5px;
				margin-left:40px;
			}

			.hs-input {
				width:500px;
				font-size:20px;
				padding:0px 30px;
				line-height:50px;
				min-height:50px;
			}

			.hs-button {
				width:170px;
				margin-right:40px;
				padding:0 45px;
			}
		}
	}
}

