#footer {
	background: $cl_blue;
	padding-top:65px;
	padding-bottom: 30px;
	margin-top: 100px;


	.form_header {
		color: $cl_green;
		@include avenir_bl(14px);
		text-transform: uppercase;
		width:100%;
		list-style:none;
		text-align:center;
		padding:0;
		margin:50px 0 0 0;
		text-indent:0;
		line-height:14px;
	}

	.hbspt-form {
		max-width: 250px;
		margin: 0 auto 20px;

		form {
			overflow: auto;
		}

		label {
			display: none;
		}

		.hs-input {
			width: 80%;
			font-size:14px;
			padding:0px 15px;
			line-height:40px;
			outline:none;
			margin-top:10px;
			min-height:40px;
			@include border-left-radius(38px);
			float: left;
			background-color: transparent;	
			border: 2px solid rgba(255, 255, 255, 0.2);	
			border-right-width: 1px;
			color: $cl_green;
		}

		.hs_submit {
			position: relative;

			&:after {
				content: '\f00c';
				font-family: 'FontAwesome';
				position: absolute;
				color: rgba(255, 255, 255, 0.2);
				top: 17px;
				right: 11px;
				width: 20px;
				height: 20px;
				font-size: 20px;
				z-index: 4;
			}
		}

		.hs-button {
			background-color: transparent;
			border-color:$cl_blue;
			width:20%;
			margin-top:10px;
			min-height: 40px;
			color:#fff;
			padding: 0;
			line-height:40px;
			@include border-right-radius(38px);
			text-indent: -5000px;
			float: right;
			border: 2px solid rgba(255, 255, 255, 0.2);	
			border-left-width: 1px;
			position: relative;
			outline: 0;
			z-index: 5;
		}

		.hs-error-msgs, .hs-form-required {
			display: none important;
		}

		.submitted-message {
			text-align: center;
			width: 100%;
			color: $cl_green;
			@include avenir_bk(16px);
		}
	}



	.footer_nav_row {
		margin:0;
		width:100%;


		.footer_nav, .footer_social, .footer_documentation {
			list-style: none;
			width:100%;
			margin:0;
			padding:0;

			li {
				color:#FFFFFF;
				text-transform: uppercase;
				width:100%;
				list-style:none;
				text-align:center;
				padding:0;
				margin:0;
				text-indent:0;
				line-height:14px;

				a {
					color:#FFFFFF;
					@include avenir_bk(14px);
					text-transform: none;
					line-height: 26px;
				}

				
			}
			li.header {
				width:100%;
				margin-bottom:10px;
				@include avenir_bl(13px);
			}
			li:before {
			    content: "";
				display:none;
				left:auto;
				top:auto;
			}
		}

		.footer_documentation {
			margin-top: 40px;
		}

		.contact_header {
			color: #FFFFFF;
			margin-bottom:10px;
			@include avenir_bl(13px);
			text-transform: uppercase;
			line-height: 13px;
		}

		.address {
			color:#FFFFFF;
			@include avenir_bk(14px);
			line-height: 26px;
		}

		.address_two {
			margin-bottom: 30px;
		}

		.contact_col {
			margin-top: 40px;
			text-align: center;
		}

		.contact_email a {
			color:#FFFFFF;
			@include avenir_bk(12px);
			line-height: 30px;
		}
	}

	.footer_logo {
		width:20%;
		margin:40px auto 10px;
		display: inline-block;

		img {
			max-width:36px;
			width: 100%;
			height: auto;
		}

	}

	.copyright {
		margin:0;
		color:#FFFFFF;
	}
}

/** intermediate between mobile/tablet **/
@media (min-width: 600px) {
	
	#footer {
		.footer_nav_row {
			margin:0;
			width:100%;
		}
	}
}

/** mobile-only **/
@media (min-width: 768px) {
	
	#footer {
		padding-top:55px;	

		.footer_nav_row {
			.footer_nav, .footer_social, .footer_documentation {
				li {
					text-align:left;

					&.header {
						@include avenir_bl(14px);
					}

					a {
						@include avenir_bk(17px);
						line-height: 30px;
					}
				}
			}

			.address {
				@include avenir_bk(17px);
				line-height: 30px;
			}

			.footer_documentation {
				margin-top: 0;
			}

			.contact_col {
				margin-top: 0;
				text-align: left;
			}
		}

		.hbspt-form {
			.hs_submit {
				&:after {
					right: 13px;
				}
			}
		}
	}
}

/** medium desktop **/
@media (min-width: 992px) {

	#footer {
		padding-top:60px;

		.form_header {
			margin-top: 0;
		}

		.hbspt-form {
			.hs_submit {
				&:after {
					right: 13px;
				}
			}
		}

		.footer_nav_row {

			.footer_logo {
				text-align:left;
				width:25%;
			}

			.footer_nav_col, .footer_social_col {
				//width:25%;
			}

			.footer_nav, .footer_social, .footer_documentation {
				float:right;

				li {
					width:100%;
				}
				li.header {
					width:100%;
				}

			}
		}
	}
}

/** large desktop **/
@media (min-width: 1200px) {

	#footer {
		padding-top:65px;

		.hbspt-form {
			.hs_submit {
				&:after {
					right: 17px;
				}
			}
		}
	}
}

