body.menu_open {
	overflow:hidden;

	nav.mobile_expanded {
		overflow-y:auto;
	}
	header {
		margin-left:-200px;
	}
	#content {
		margin-left:-200px;
	}
}

nav.mobile_expanded {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 900;
	width: 197px;
	overflow: auto;
	visibility: hidden;

	a {
		border-bottom: 1px solid #cdcdcd;
		@include avenir_bl(16px);
		text-transform: uppercase;
		width: 100%;
		float: left;
		color: $cl_blue;
		padding:18px 0 18px 20px;
		text-decoration: none;
	}
	a:hover, a.current-menu-item {
		color: $cl_green;
	}
	a.current-menu-item {
		background: #efefef;
	}
}

header {
	height:50px;
	width:100%;
  	padding:8px 0 0;
  	float:left;
  	background:#fff;
	-webkit-transition:margin 0.4s;
    transition:margin 0.4s;
    border-bottom:1px solid rgba(0,0,0,0.1);

	.logo {
		width:160px;
		float:left;
		margin-left:8px;
		margin-top:5px;

		.default {
			display:none;
		}
		.scrolled {
			display:block;
		}
	}

	.container {
		position:relative;
	}

	nav.desktop {
		display:none;
	}

	nav.mobile {
		float:right;

	  	a.cl-btn {
	  		float:left;
	  		margin-right:0;
	  	}
	  	a.github {
			margin-right:15px;	  		
			padding: 1px 13px 0;
			line-height: 28px;
			margin-top:0px;
	  	}
	  	.hamburger {
	  		width:21px;
	  		float:right;
	  		margin-right:10px;
	  		margin-top:6px;
	  		padding-bottom:4px;
  			border-bottom:4px solid $cl_green;

	  		.hamburger_inner {
	  			border:4px solid $cl_green;
	  			border-right:none;
	  			border-left:none;
	  			height:12px;
	  			width:100%;
	  		}
	  	}
	  	.hamburger:hover {
	  		border-color: $cl_green_hover;

	  		.hamburger_inner {
		  		border-color: $cl_green_hover;
	  		}

	  	}
	}
}

/** intermediate between mobile/tablet **/
@media (min-width: 600px) {

	header {
		height:60px;
	  	padding:12px 0 0;

		.logo {
			margin-top:3px;
			width:209px;
		}

		nav.mobile {
		  	a.github {
				margin-right:19px;	  		
				margin-top:2px;
		  	}
		  	.hamburger {
		  		width:24px;
		  		margin-top:8px;
		  	}
		}
	}
}


/** small desktop **/
@media (min-width: 768px) {

	header, header.scrolled {
		height:75px;
	  	padding:18px 0;
	  	
		.logo {
			margin-top:5px;
			width:209px;
		}

		nav.desktop {
			display:inline-block;
			float:right;

			a {
				@include avenir_bl(14px);
				color: $cl_blue;
				text-transform:uppercase;
				float:left;
				margin:0 10px;
				padding:0;
				line-height:45px;
				text-decoration: none;
			}
			a.current-menu-item, a:hover {
				color: $cl_green;
				text-decoration: none;
			}
		  	a.cl-btn {
		  		color:#fff;
		  	}
		  	a.cl-btn:hover {
		  		color: $cl_green;
		  	}
		  	a.github {
		  		padding:0 29px;
				line-height:40px;
				margin-right: 0;
		  	}
		}

		nav.mobile {
			display:none;
		}
	}
}

/** medium desktop **/
@media (min-width: 992px) {

	header {
		height:100px;
	  	padding:24px 0;

		.logo {
			width:215px;

			.default {
				display:block;
			}
			.scrolled {
				display:none;
			}

		}

		nav.desktop {

			a {
				@include avenir_bl(15px);
				margin:0 15px;
				line-height:50px;
			}
		  	a.github {
		  		padding:2px 33px 0;
				line-height:44px;
		  	}
		}
	}
	header.scrolled {
		.logo {
			.default {
				display:none;
			}
			.scrolled {
				display:block;
			}
		}
	}
}

/** large desktop **/
@media (min-width: 1200px) {

	header {
		height:150px;
	  	padding:43px 0;
	  	
		.logo {
			width:283px;
		}

		nav.desktop {
			display:inline-block;
			float:right;

			a {
				@include avenir_bl(16px);
				margin:0 25px;
				line-height:60px;
			}
		  	a.github {
		  		padding:2px 45px 0;
				line-height:56px;
		  	}
		}
	}
}