/*Colors*/
$cl_green: #46a417;
$cl_blue: #142848;
$cl_green_hover: #37880f;
$cl_blue_hover: #0e2b48;


/*Mixins*/
@mixin rounded($val){ 
	-webkit-border-radius: $val;
	   -moz-border-radius: $val;
	        border-radius: $val;  
}