@import "global/variables";
@import "global/mixins";
@import "global/fonts";
@import "global/type";

html {
  height: 100%;
}

body {
  height: 100%;
  @include paragraph-type;
  color: $cl_blue;
}

p {
  @include paragraph-type;
  color: $cl_blue;

  strong, b {
    @include paragraph-type--heavy;
  }

  @include at-query($min, $screen-md) {
    margin: 10px 0;
  }
}

h1, h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 20px;

  @include at-query($min, $screen-sm) {
    margin-top: 40px;
  }
}

h1 {
  @include adelle_b(36px);
  line-height: 45px;
  color: $cl_blue;
}

h2 {
  @include adelle_b(30px);
  line-height: 40px;
  color: $cl_blue;

  &.clickable-header {
    cursor: pointer;
  }

  // for code snippets in section headers
  code {
    font-size: 17px;
  }
}

h3 {
  @include avenir_h(24px);
  line-height: 35px;
  color: $cl_blue;

  &.clickable-header {
    cursor: pointer;
  }

  strong, b {
    @include avenir_bl(24px);
  }

  code {
    font-size: 16px;
  }
}

h4 {
  @include subhead-avenir-sm;

  code {
    font-size: 17px;
  }
}

pre { overflow: auto; }

code {
  @include code-type;
  border: 1px solid $cl_gray_medium;
 }

pre, code {
  @include code-type;
  background-color: $cl_syntax_gray_light;
  font-size: 14px;
  line-height: 25px;
  color: $cl_blue;
  hyphens: none;
}

ul {
  padding-left: 25px;
}

a code:hover {
  text-decoration: underline;
}

@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/landing-page";
@import "layouts/content";
@import "layouts/footer";

.breadcrumb > .active {color: #777 !important;}

/* make room for the nav bar */
h1:target:before,
h2:target:before,
h3:target:before,
h4:target:before,
h5:target:before,
h6:target:before {
  content: '';
  display: block;
  height: 100px;
  margin-top: -100px; }

.post-content {
  img {
    margin: 12px 0px 3px 0px;
  }

  ul, ol {
    @include at-query($min, $screen-md) {
      margin-bottom: 20px;
    }
  }
}

.post-summary {
  margin-bottom:12px;
}

.bs-example{
  margin: 20px;
}

.breadcrumb li {
  color: gray;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

th {
  @include avenir_h(17px);
  text-align: left;
  padding: 15px 8px 15px 8px;
}

tbody tr:hover {
  // what is theme-blue.css? overwriting requires important
  background-color: $cl_gray_light !important;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}


table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}


table td:first-child {
  min-width: 200px;
}


table tr td {
  hyphens: auto;
}

.filter-options {
  margin-bottom: 20px;

  button {
    margin: 3px;
  }
}

.post-content a.fa-rss {
  color: orange;
}

.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  margin-top:10px;
}

.post-content .rssfeedLink {
  color: #248EC2;
}

dl dt p {
  margin-left:20px;
}

dl dd {
  margin-top:10px;
  margin-bottom:10px;
}

dl.dl-horizontal dd {
  padding-top: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  border-radius:5px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  border-radius: 5px;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #444;
  }
}

img.screenshotSmall {
  max-width: 300px;
}

@media (max-width: 990px) {
  #mysidebar {
    position: relative;
  }
}

figcaption {
  padding-bottom:12px;
  padding-top:6px;
  max-width: 90%;
  margin-bottom:20px;
}

table.dataTable thead {
  background-color: #444;
}

table td {
  hyphens: auto;
}

section table tr.success {
  background-color: #dff0d8 !important;
}

table tr.info {
  background-color: #d9edf7 !important;
}

section table tr.warning, table tr.testing, table tr.testing > td.sorting_1  {
  background-color: #fcf8e3 !important;
}
section table tr.danger, table tr.preference, table tr.preference > td.sorting_1  {
  background-color: #f2dede !important;
}

.orange {
  color: orange;
}

table.profile thead tr th {
  background-color: #248ec2;
}

table.request thead tr th {
  background-color: #ED1951;
}

.audienceLabel {
  margin: 10px;
  float: right;
  border:1px solid #dedede;
  padding:7px;
}

.prefaceAudienceLabel {
  color: gray;
  text-align: center;
  margin:5px;
}

span.myLabel {
  padding-left:10px;
  padding-right:10px;
}

button.cursorNorm {
  cursor: default;
}

hr.faded {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.shaded {
  height: 12px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.5);
  margin-top: 70px;
  background: white;
  width: 100%;
  margin-bottom: 10px;
}

i.border {
  padding: 10px 20px;
  background-color: whitesmoke;
  border: 1px solid #777;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a[data-toggle] {
  color: #248EC2;
}

.alert, .callout {
  overflow: hidden;
}

ol li ol li {
  list-style-type: lower-alpha;
}

li img {
  clear:both;
}

.tab-content {
  padding: 15px;
  background-color: #FAFAFA;
}

.alert-warning {
  color: #444;
}

div.alert code {
  background-color: transparent !important;
  text-transform: none;
}
/* without this, the links in these notes aren't visible.*/
.alert a {
  text-decoration: underline;
}

div.tags {
  padding: 10px 5px;
}

.tabLabel {
  font-weight: normal;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #999;
  margin: 30px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

button.cursorNorm {
  cursor: pointer;
}

span.otherProgrammingLanguages {
  font-style: normal;
}

.seriesNext, .seriesContext {
  margin-top: 15px;
  margin-bottom: 15px;
}

.seriescontext ol li {
  list-style-type: upper-roman;
}

ol.series li {
  list-style-type: decimal;
  margin-left: 40px;
  padding-left: 0px;
}

#mysidebar .nav ul {
  background-color: #FAFAFA;
}
.nav ul.series li {
  list-style: decimal;
  font-size:12px;
}

.nav ul.series li a:hover {
  /*background-color: gray;*/
  background-color: transparent;
}
.nav ul.series {
  padding-left: 30px;
}

.nav ul.series {
  background-color: #FAFAFA;
}

span.muted {color: #C0C0C0;}

.highlight .err {
  color: #a61717;
  background-color: transparent !important;
}

table p {
  margin-top: 12px;
  margin-bottom: 12px;
}

pre, table code {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#json-box-container pre {
  margin: 0px;
}

dd {
  margin-left:20px;
}

.post-content img.inline {
  margin:0px;
  margin-bottom:6px;
}

.note code, .alert code, .warning code, div#toc code {
  color: inherit;
  padding: 0px;
}

.alert {
  margin-bottom:10px;
}

a.accordion-toggle {
  font-style: normal;
}

.post-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px -30px 10px;

  > * {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.post-title-main {
  margin-top: 0;
  margin-bottom: 0;
}

.cockroachdb-training {
  width: 100%;
  max-width: 800px;
}

@import "components/search";
@import "components/callout";
@import "components/toc";
@import "components/filtertabs";
@import "components/newsletter";
@import "components/codesamples";
@import "syntax/sql";
@import "syntax/syntax";
@import "components/feedback-widget";
@import "components/back-to-top";
@import "components/buttons";
@import "components/help-widget";
@import "components/releases";
@import "components/copy-clipboard";
@import "components/version-tag";
@import "components/comparison-chart";
@import "components/algolia";
