@import "global/variables";

@import "bs/bootstrap.scss";
@import "global/fonts";
@import "global/mixins";

@import "global/type";

@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/landing-page";
@import "layouts/content";
@import "layouts/footer";
@import "layouts/topnav";

@import "components/search";
@import "components/callout";
@import "components/toc";

@import "components/newsletter";
@import "components/codesamples";
@import "syntax/sql";
@import "syntax/syntax";
@import "components/feedback-widget";
@import "components/back-to-top";
@import "components/buttons";
@import "components/filtertabs";
@import "components/releases";
@import "components/copy-clipboard";
@import "components/version-tag";
@import "components/comparison-chart";
@import "components/algolia";
@import "components/version-switcher";
@import "components/navbar";
@import "components/badge";
@import "components/main-menu";
@import "utils/backgrounds";
@import "utils/type";

html {
  height: 100%;
}

body {
  height: 100%;
  // @include paragraph-type;
  color: $neutral-800;
}

strong {
  @include sourcesanspro_b(16px);
  font-weight: 700;
}

p {
  @include paragraph-type;
  // color: $cl_blue;

  // strong, b {
  //   @include sourcesanspro_m(16px);
  //   font-weight: 700;
  // }

  @include at-query($min, $screen-md) {
     margin-bottom: 12px;
  }
}

h1, h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 20px;

  @include at-query($min, $screen-sm) {
    margin-top: 40px;
  }
}

h1 {
  @include headline-1;
}

h2 {
  @include headline-2;
  &.clickable-header {
    cursor: pointer;
  }

  // for code snippets in section headers
  code {
    font-size: 26px;
  }
}

h3 {
  @include poppins(20px);
  line-height: 32px;

  &.clickable-header {
    cursor: pointer;
  }

  strong, b {
    @include poppins_sb(24px);
  }

  code {
    font-size: 20px;
  }
}

h4, .h4 {
  @include poppins_sb(16px);
  font-weight: bold;
  line-height: 26px;
  code {
    font-size: 18px;
  }
}

h5, .h5 {
  @include poppins_sb(16px);
  line-height: 24px;
  code {
    font-size: 16px;
  }
}

h6, .h6 {
  @include headline-6;
}

.sub-heading {
  font-size: 20px;
  line-height: 30px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

pre {
  overflow: auto;
  display: block;
  padding: 20px;
  margin: 0 0 15px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  code {
    background-color: $neutral-800;
    color: $neutral-100;
    padding: 0;
    font-size: inherit;
    white-space: pre;
    word-wrap: normal;
    border: 0;
  }
}

code {
  @include code-type;
  background-color: $neutral-100;
  color: $neutral-600;
  @include at-query(0, $screen-sm) {
    word-break: break-word;
  }
 }

pre, code {
  @include code-type;
  font-size: 14px;
  line-height: 25px;
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  code {
    background: none;
  }
}

ul, ol {
  @include paragraph-type;
  padding-left: 25px;
  li {
    margin-bottom: 10px;
  }
}

a.external:after{
  display: inline-block;
  content: url(../images/external.svg);
  padding-left: 4px;
}

a code {
  color: $dark-blue;
  &:hover {
    text-decoration: underline;
    color: $dark-blue;
  }
}

.breadcrumb > .active {color: #777 !important;}

/* make room for the nav bar */
h1:target:before,
h2:target:before,
h3:target:before,
h4:target:before,
h5:target:before,
h6:target:before,
td a:target:before,
p a[name]:target:before {
  content: '';
  display: block;
  height: 155px;
  margin-top: -155px; }

.post-content {
  img {
    margin: 12px 0px 3px 0px;
  }

  ul, ol {
    @include at-query($min, $screen-md) {
      margin-bottom: 20px;
    }
  }

  h1 {
    @include poppins_sb(36px);
    line-height: 48px;
  }

  h2 {
    @include poppins_sb(26px);
    line-height: 32px;
  }
  h3 {
    @include poppins_sb(20px);
    line-height: 26px;
  }
  h4 {
    @include poppins(18px);
    line-height: 22.6px;
  }
  h5 {
    @include poppins(16px);
    line-height: 22.6px;
  }

}

.post-summary {
  margin-bottom:12px;
}

.bs-example{
  margin: 20px;
}

.breadcrumb li {
  color: gray;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  @include sourcesanspro_r(14px);
  border-color: $neutral-300;
  border-style: solid;
  border-width: 0;
}
th,
td {
  padding: map-get($spacers, 1) map-get($spacers, 2);
}


tbody tr.eol {
  background-color: #fffaea !important;
}

.table-bordered {
  > :not(caption) > * {
    border-width: $table-border-width 0;

    // stylelint-disable-next-line selector-max-universal
    > * {
      border-width: 0 $table-border-width;
    }
  }
}

table {
  border-color: inherit;
  border-style: solid;
  border-width: $table-border-width;
  width: 100%;
  border-color: $table-border-color;


  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  @extend .table-bordered;

}

th {
  font-weight: 600;
  // text-align: left;
  // padding: 15px 8px 15px 8px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  // vertical-align: top;
  // border-top: 1px solid #ddd;
}


table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  // border-top: 0;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}


table td:first-child {
  // min-width: 200px;
}


table tr td {
  hyphens: auto;
}

.filter-options {
  margin-bottom: 20px;

  button {
    margin: 3px;
  }
}

.post-content a.fa-rss {
  color: orange;
}

.navbar-inverse .navbar-nav > li > a {
  background-color: transparent;
  margin-top:10px;
}

.post-content .rssfeedLink {
  color: #248EC2;
}

dl dt p {
  margin-left:20px;
}

dl dd {
  margin-top:10px;
  margin-bottom:10px;
}

dl.dl-horizontal dd {
  padding-top: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  border-radius:5px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  border-radius: 5px;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #444;
  }
}

img.screenshotSmall {
  max-width: 300px;
}

figcaption {
  padding-bottom:12px;
  padding-top:6px;
  max-width: 90%;
  margin-bottom:20px;
}

table.dataTable thead {
  background-color: #444;
}

table td {
  hyphens: auto;
}

section table tr.success {
  background-color: #dff0d8 !important;
}

table tr.info {
  background-color: #d9edf7 !important;
}

section table tr.warning, table tr.testing, table tr.testing > td.sorting_1  {
  background-color: #fcf8e3 !important;
}
section table tr.danger, table tr.preference, table tr.preference > td.sorting_1  {
  background-color: #f2dede !important;
}

.orange {
  color: orange;
}

table.profile thead tr th {
  background-color: #248ec2;
}

table.request thead tr th {
  background-color: #ED1951;
}

.audienceLabel {
  margin: 10px;
  float: right;
  border:1px solid #dedede;
  padding:7px;
}

.prefaceAudienceLabel {
  color: gray;
  text-align: center;
  margin:5px;
}

span.myLabel {
  padding-left:10px;
  padding-right:10px;
}

button.cursorNorm {
  cursor: default;
}

hr.faded {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.shaded {
  height: 12px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.5);
  margin-top: 70px;
  background: white;
  width: 100%;
  margin-bottom: 10px;
}

i.border {
  padding: 10px 20px;
  background-color: whitesmoke;
  border: 1px solid #777;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a[data-toggle] {
  color: #248EC2;
}

.alert, .callout {
  overflow: hidden;
}

ol li ol li {
  list-style-type: lower-alpha;
}

li img {
  clear:both;
}

.tab-content {
  padding: 15px;
  background-color: #FAFAFA;
}

.alert-warning {
  color: #444;
}

div.alert code {
  background-color: transparent !important;
  text-transform: none;
}
/* without this, the links in these notes aren't visible.*/
.alert a {
  text-decoration: underline;
}

div.tags {
  padding: 10px 5px;
}

.tabLabel {
  font-weight: normal;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #999;
  margin: 30px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

button.cursorNorm {
  cursor: pointer;
}

span.otherProgrammingLanguages {
  font-style: normal;
}

.seriesNext, .seriesContext {
  margin-top: 15px;
  margin-bottom: 15px;
}

.seriescontext ol li {
  list-style-type: upper-roman;
}

ol.series li {
  list-style-type: decimal;
  margin-left: 40px;
  padding-left: 0px;
}

#sidebar .nav ul,
.js-sidebar .nav ul {
  background-color: #FAFAFA;
}
.nav ul.series li {
  list-style: decimal;
  font-size:12px;
}

.nav ul.series li a:hover {
  /*background-color: gray;*/
  background-color: transparent;
}
.nav ul.series {
  padding-left: 30px;
}

.nav ul.series {
  background-color: #FAFAFA;
}

span.muted {color: #C0C0C0;}

.highlight .err {
  color: #a61717;
  background-color: transparent !important;
}

table p {
  margin-top: 12px;
  margin-bottom: 12px;
}

pre, table code {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#json-box-container pre {
  margin: 0px;
}

dd {
  margin-left:20px;
}

.post-content img.inline {
  margin:0px;
  margin-bottom:6px;
}

.horizontal-scroll {
  overflow-x:auto;
}

.note code, .alert code, .warning code, div#toc code {
  color: inherit;
  padding: 0px;
}

.alert {
  margin-bottom:10px;
}

a.accordion-toggle {
  font-style: normal;
}

.post-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin: 20px 0;
  h1 {
    @include headline-2;
  }
}

.post-title-main {
  margin-top: 0;
  margin-bottom: 0;
}

.cockroachdb-training {
  width: 100%;
  max-width: 800px;
}

/* Docs landing page */
.landing-column-title {
  @include sourcesanspro_m(15px);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.landing-column-content p {
  line-height: 25px;
}

/* Use flexbox to keep columns at equal height */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* Search results highlight */
#search-hits mark {
  background: none;
  font-weight: bold;
}

#search-stats {
  margin-top: -10px;
}

#search-pages .ais-Pagination {
  margin: 45px 0;
}

#search-pages .ais-Pagination-list {
  padding: 0;
}

#search-pages .ais-Pagination-item {
  display: inline;
}

#search-pages .ais-Pagination-item.ais-Pagination-item--previousPage a,
#search-pages .ais-Pagination-item.ais-Pagination-item--nextPage a {
  color: #192847;
  font-size: 15px;
}

#search-pages .ais-Pagination-item a {
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.0941177px;
  color: #192847;
  padding: 4px;
}

#search-pages .ais-Pagination-item.ais-Pagination-item--selected a {
  color: #497EDA;
  font-weight: 900;
}

.caption-sm {
  @include caption--small;
}

.bg-white-transparent {
  background: rgba(255,255,255,0.16);
}

.bg-purple-transparent {
  background: rgba(206,192,242,0.16);
}

.close-card {
  right: 30px;
  top: 30px;
  z-index: 1;
  @media (min-width: $screen-md){
    right: 15px;
    top: 15px;
  }
}

.text-purple-300 {
  color: $purple-300;
}
.lh-n {
  line-height: normal;
}
.page-not-found {
  width: 60%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

#page-not-found-heading {
  color: #212B36;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 32px;
}

#page-not-found-body {
  color: #637282;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
}

.apidocs table {
  border: none;
}

.apidocs table td {
  border-right: 0px;
  border-left: 0px;
}

.apidocs pre, code {
  line-height: 1.5em;
  overflow-x: auto;
}

.apidocs code {
  background-color: transparent;
  color: #ffffff;
}

.redoc-json ul {
  font-family: Courier, monospace;
  font-size: 13px;
  line-height: 1.5em;
  margin-bottom: 1px;
}

.redoc-json ol {
  font-family: Courier, monospace;
  font-size: 13px;
  line-height: 1.5em;
  margin-bottom: 1px;
}

.redoc-json li {
  font-family: Courier, monospace;
  font-size: 13px;
  line-height: 1.5em;
  margin-bottom: 1px;
}

.form-control {
  &:focus {
    border-color: $electric-purple;
    box-shadow: none;
  }
}

.contribute {
  li {
    padding: 0 10px;
  }
}

@include at-query($min, $screen-md) {
  .border-md-left {
    border-left: 1px solid $neutral-400;
  }
}

@include at-query($min, $screen-md) {
  .border-md-bottom {
    border-bottom: 1px solid $neutral-400;
  }
}



::marker {
  color: $neutral-800;
}

@import "theme-blue.css";

a.btn-primary {
  &:hover {
    color: #fff;
  }
}