---
---
$body-background-color: #fff;
$body-color-secondary: #222;

$content-color: #222;
$content-background-color: #fff;

$nav-background-color: #f0f4ee;
$nav-color-secondary: #fff;
$nav-width: 180px;

$page-header-background: #46a417;

$mobile-nav-height: 60px;
$mobile-nav-padding: 10px;

$brand-color: #ffd200;

@import "brand/mixins";
@import "brand/normalize";
@import "brand/pygments";
@import "brand/typography";
@import "brand/messages";
@import "brand/images";
@import "brand/button";
@import "brand/code";
@import "brand/set";
@import "brand/form";
@import "brand/checkbox";
@import "brand/tables";

@import "layout";
@import "changelog";
@import "logos";
