.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
}


h3 {color: #ED1951; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    /*background-color: #347DBE;*/
    background-color: transparent;
    color: #46a417;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #FFF;
    height: 75px;
    padding: 18px 0;
    /*z-index: 888;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /*background-image: url("images/AN_background.jpg");*/
    /*background-image: url("images/AT_2.jpg");*/
}

.navbar-header-items {
    font-size: 14px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    float: right;
    margin: 0 10px;
    padding: 0;
    line-height: 45px;
    text-decoration: none;
}

.navbar-header-items > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #015CAE;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    /*background-color: #015CAE;*/
    background-color: transparent;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #347DBE;
    border-color: #347DBE;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
   /*background-color: #248ec2;*/
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    /*background-color: #347DBE;*/
    background-color: transparent;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #E50E51 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}
