#version-switcher {

  border: 1px solid $neutral-400;
  border-radius: $border-radius;
  z-index: 2;
  display: inline-block;
  position: relative;
  height: 32px;
  &:hover{
    background-color: $neutral-100;
  }

  &:active{
    background-color: $neutral-100;
    border: 1px solid $neutral-500;
  }

  &.open {
    background-color: $neutral-100;
    box-shadow: 0px 0px 0px 4px $neutral-100;
  }

  .tier-1 {
    margin: 0;

    &.active {

    }

    a {
      line-height: 32px !important;
      margin: 0;
      padding: 0 25px 0 10px;
      @include poppins(16px);
      color: $blue-500;

      &:hover{
        text-decoration: none;
      }

      .version-name {
        @include poppins_sb(16px);
        // line-height: 20px;
        color: $purple-200;
        text-transform: none;
        letter-spacing: normal;
      }

      .arrow {
        right: 10px;
        top: 14px;
        position: absolute;
      }
    }
  }

  .nav li ul {
    margin: 3px 0 0 0;
    box-shadow: 0px 8px 8px rgba(67, 90, 111, 0.231);
    background: #FFFFFF;
    border-radius: $border-radius;
    padding: 0;
    list-style: none;
  }

  .tier-2 {
    margin: 0;

    a {
      @include sourcesanspro_r(14px);
      text-transform: none;
      letter-spacing: normal;
      border-bottom: none;
      padding: 0px 16px;
      height: 32px;
      &:hover {
        color: $white;
        background-color: $purple-200;
        text-decoration: none;
      }
    }

    &.active a {
      @include sourcesanspro_b(14px);
      background-color: $neutral-100;
      &:hover {
        background-color: $purple-200;
      }
    }

    .version {
      &-text {

        &--page-dne {
          color: $cl_blue;
          font-style: italic;
          font-size: 12px;
        }
      }

      &--page-dne {

        &:hover {
          color: $cl_gray_dark;
        }
      }
    }

    .version--mobile {
      display: block;

      @include at-query($min, $screen-lg) {
        display: none;
      }
    }

    .version--desktop {
      display: none;

      @include at-query($min, $screen-lg) {
        display: block;
      }
    }
  }
}
