/.bundle/ @cockroachlabs/docs-infra-prs
/.github/ @cockroachlabs/docs-infra-prs
/__tests__/ @cockroachlabs/docs-infra-prs
/_layouts/  @cockroachlabs/docs-infra-prs
/_plugins/  @cockroachlabs/docs-infra-prs
/css/ @cockroachlabs/docs-infra-prs
/fonts/ @cockroachlabs/docs-infra-prs
/githooks/  @cockroachlabs/docs-infra-prs
/jekyll-algolia-dev/  @cockroachlabs/docs-infra-prs
/js/  @cockroachlabs/docs-infra-prs
/netlify/ @cockroachlabs/docs-infra-prs
/vale/  @cockroachlabs/docs-infra-prs
_redirects  @cockroachlabs/docs-infra-prs
.gitattributes  @cockroachlabs/docs-infra-prs
.gitignore  @cockroachlabs/docs-infra-prs
.htmltest.yaml  @cockroachlabs/docs-infra-prs
.vale.ini @cockroachlabs/docs-infra-prs
Gemfile @cockroachlabs/docs-infra-prs
Makefile  @cockroachlabs/docs-infra-prs
package.json  @cockroachlabs/docs-infra-prs
search.html @cockroachlabs/docs-infra-prs
sitemap.xml @cockroachlabs/docs-infra-prs
update.sh @cockroachlabs/docs-infra-prs
