/.bundle/ @cockroachdb/docs-infra-prs
/.github/ @cockroachdb/docs-infra-prs
/__tests__/ @cockroachdb/docs-infra-prs
/_layouts/  @cockroachdb/docs-infra-prs
/_plugins/  @cockroachdb/docs-infra-prs
/archived/  @cockroachdb/docs-infra-prs
/css/ @cockroachdb/docs-infra-prs
/fonts/ @cockroachdb/docs-infra-prs
/githooks/  @cockroachdb/docs-infra-prs
/jekyll-algolia-dev/  @cockroachdb/docs-infra-prs
/js/  @cockroachdb/docs-infra-prs
/netlify/ @cockroachdb/docs-infra-prs
/vale/  @cockroachdb/docs-infra-prs
_redirects  @cockroachdb/docs-infra-prs
.gitattributes  @cockroachdb/docs-infra-prs
.gitignore  @cockroachdb/docs-infra-prs
.htmltest.yaml  @cockroachdb/docs-infra-prs
.vale.ini @cockroachdb/docs-infra-prs
Gemfile @cockroachdb/docs-infra-prs
LICENSE @cockroachdb/docs-infra-prs
Makefile  @cockroachdb/docs-infra-prs
navgoco_license @cockroachdb/docs-infra-prs
package.json  @cockroachdb/docs-infra-prs
search.html @cockroachdb/docs-infra-prs
sitemap.xml @cockroachdb/docs-infra-prs
update.sh @cockroachdb/docs-infra-prs
