<div class="container-sm" style="max-width: 1300px;">
  <div class="row">
    <div class="col-6 col-md-3">
      <ul class="mb-3 mb-md-3 list-unstyled p-0">
        <li class="pb-2"><a href="https://www.cockroachlabs.com/blog/">Blog</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/community/webinars/">Webinars</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/events/">Events</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/big-ideas-podcast/">Podcast</a></li>
        <li class="pb-2"><a href="https://university.cockroachlabs.com/">Cockroach University</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/compare/">Compare</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <ul class="mb-3 mb-md-3 list-unstyled p-0">
        <li class="pb-2"><a href="https://www.cockroachlabs.com/resources/">Resource Center</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="nav-img-holder">
        <a href="https://university.cockroachlabs.com/">
          <img class="img-fluid" src="https://www.cockroachlabs.com/img/CU.png" alt="Cockroach University"/>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="nav-img-holder">
        <a href="https://www.cockroachlabs.com/webinars/cockroachdb-vs-aurora/">
          <img class="img-fluid" src="https://www.cockroachlabs.com/img/DB vs Aurora.png" alt="cockroachdb-vs-aurora"/>
        </a>
      </div>
    </div>
  </div>
</div>
