<div class="container-sm width-990">
  <div class="row">
    <div class="col-md-4">
      <ul class="mb-0 mb-md-3 list-unstyled p-0">
        <li class="pb-2"><a href="https://www.cockroachlabs.com/about/">About</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/careers/">Careers</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/partners/">Partners</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/events/">Events</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/company/professional-services/">Professional Services</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/trust-center/">Trust Center</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="nav-img-holder">
        <a href="https://www.cockroachlabs.com/careers/open-positions/">
          <img class="img-fluid" src="https://www.cockroachlabs.com/img/hire-ae.png" alt="Careers"/>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="nav-img-holder">
        <a href="https://www.cockroachlabs.com/roachfest/2024/">
          <img class="img-fluid" src="https://www.cockroachlabs.com/img/crl-on-demand-24.png" alt="Roachfests"/>
        </a>
      </div>
    </div>
  </div>
</div>
