<div class="container-sm width-990">
  <div class="row">
    <div class="col-md-4">
      <p class="font-weight-semi-bold font-size-16">Docs hub</p>
      <p class="font-size-16">Access tutorial, guides, example application, and much more</p>
      <a href="https://www.cockroachlabs.com/docs/" class="nav-button py-2 px-2 d-block" style=" max-width: 104px; text-align: center; font-size: 15px; margin-bottom: 20px;color:black !important;">Explore</a>
    </div>
    <div class="col-md-3">
      <ul class="mb-0 mb-md-3 list-unstyled p-0">
        <li class="pb-2"><a href="https://www.cockroachlabs.com/docs/cockroachcloud/quickstart/">Quickstart</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/docs/stable/frequently-asked-questions/">FAQ</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/docs/stable/example-apps/">Example applications</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/docs/stable/architecture/overview/">Architecture Overview</a></li>
      </ul>
    </div>
    <div class="col-md-5">
      <div class="nav-img-holder">
        <a href="https://www.cockroachlabs.com/docs/stable/architecture/overview">
          <img class="img-fluid" src="https://www.cockroachlabs.com/img/Architecture-nav.png" alt="Architecture" />
        </a>
      </div>
    </div>
  </div>
</div>
