<div class="container-sm width-990">
  <div class="row">
    <div class="col-md-3" style="position: relative; top: -15px;">
      <ul class="mt-3 mb-3 mb-md-3 list-unstyled p-0">
        <li><a class="font-weight-semi-bold font-size-16 mb-3 d-block" href="https://www.cockroachlabs.com/mainframe-modernization/">Mainframe Modernization</a></li>
        <li><a class="font-weight-semi-bold" href="https://www.cockroachlabs.com/architectural-simplification/">Architectural Simplification</a></li>
      </ul>
    </div>
    <div class="col-md-3 ps-lg-4">
      <p class="font-weight-semi-bold font-size-16 mb-2">By Industry</p>
      <ul class="mt-3 mb-3 mb-md-3 list-unstyled p-0">
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/financialservices/">Banking & Fintech</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/retail-ecommerce/">Retail & eCommerce</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/saas/">Software & Tech</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/media/">Media & Streaming</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/gaming/">Gaming</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/manufacturing-logistics/">Manufacturing & Logistics</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/gambling/">Gambling</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/verticals/healthcare/">Healthcare</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <p class="font-weight-semi-bold font-size-16 mb-2">By Use Case</p>
      <ul class="mt-3 mb-3 mb-md-3 list-unstyled p-0">
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/user-accounts-and-metadata/">User Metadata</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/payments/">Payments</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/identity-access-management/">Identity Access Management</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/orders-and-inventory-management/">Orders & Inventory Management</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/iot-and-device-management/">IoT & Device Management</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/banking-and-wallet/">Banking & Wallet</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/gaming-platforms/">Gaming Platform</a></li>
        <li class="pb-2"><a href="https://www.cockroachlabs.com/solutions/usecases/routing-and-logistics/">Routing and Logistics</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="nav-img-holder">
        <a href="https://www.cockroachlabs.com/guides/mission-critical-use-cases/">
          <img class="img-fluid" src="https://www.cockroachlabs.com/img/usecase.png" alt="Usecases"/>
        </a>
      </div>
    </div>
  </div>
</div>
