*~
.*.swp
*.pyc
__pycache__
.DS_Store
generate/generate
Railroad.jar
.netlify
.sass-cache
.vscode
_site
.jekyll-metadata
.jekyll-cache
/bootstrap
/vendor/
tmp/
node_modules
/src/*/bootstrap
/src/*/vendor/
spec_30_enriched.json
.bundle/config
src/current/changes.md
