<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
    <th colspan="1" rowspan="1">Ver.</th>
    <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-hosted</th>
    <th colspan="1" rowspan="1">Advanced</th>
    <th colspan="1" rowspan="1">Standard</th>
    <th colspan="1" rowspan="1">Basic</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">Admission Control Available on SQL Writes</p>
    <p class="feature-description">
      Added support for replication admission control on SQL writes, allowing writes and background cluster operations to be paced to prevent overloading the cluster during node restarts or joins.
    </p>
   </td>
   <td>25.1</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
    <td>
     <p class="feature-summary">ALTER COLUMN Type Now Generally Available</p>
     <p class="feature-description">
      ALTER COLUMN TYPE is now generally available (GA). This provides enhanced schema flexibility for your CockroachDB deployments. This release significantly expands the capabilities of ALTER COLUMN TYPE and simplifies its usage.

      Key improvements include:
      <ul>
        <li>Full support for check constraints, enabling you to maintain data integrity while modifying column types</li>
        <li>Seamless integration with virtual columns, allowing for more flexible schema modifications</li>
        <li>Complete compatibility with default values, preserving your data consistency requirements</li>
        <li>Simplified usage with no session variable requirements</li>
      </ul>
     </p>
    </td>
    <td>25.1</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
    <td>
     <p class="feature-summary">Transactions Automatically Commit Before DDL Statements</p>
     <p class="feature-description">
      CockroachDB now automatically commits the current transaction before executing DDL statements. With this change, data definition language (DDL) statements now trigger an automatic commit of any preceding data manipulation language (DML) statements. This change eliminates common errors from mixing DDL and DML. The cluster setting `autocommit_before_ddl` enables this behavior and is set to `on` by default. To disable this behavior run `ALTER ROLE ALL SET autocommit_before_ddl = off;`. See the backward incompatible changes section for additional information.
     </p>
    </td>
    <td>25.1</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
    <td>
     <p class="feature-summary">Improvements to Stored Procedures and User Defined Functions (UDFs)</p>
     <p class="feature-description">
      Expanded support for stored procedures and SQL blocks. This release introduces several features that enhance your ability to write complex database logic. The changes include:
      <ul>
        <li>Support for CTEs (WITH queries) within PL/pgSQL stored procedures</li>        
        <li>New support for RETURNS TABLE in SQL language functions</li>
        <li>Anonymous Function Blocks (DO blocks)</li>
      </ul>
     </p>
    </td>
    <td>25.1</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
