.bs-callout {
  padding: 30px 40px 30px 25px;
  margin: 15px 0;
  border-left: 5px solid #eee;
  @include paragraph-type;
  color: $cl_blue;
  border-radius: $border-radius;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 2px;
    border: 1px solid $cl_gray_medium;
  }

  .highlight code {
    border: none;
  }

  + .bs-callout {
    margin-top: -5px;
  }

  &__label {
    @include subhead-avenir-sm;
  }
  
  &--success {
    background-color: $shallow-end;
    border-left-color: $aquamarine;

    h4, .bs-callout__label {
      color: $spanish-roast;
    }    
  }

  &--danger {
    background-color: $cl_warning_light;
    border-left-color: $cl_warning;

    h4, .bs-callout__label {
      color: $spanish-roast;
    }
  }

  &--info {
    background-color: $cl_blue_pale;
    border-left-color: $cl_blue_note;

    h4, .bs-callout__label {
      color: $spanish-roast;
    }
  }
  
  &--version {
    background-color: rgba(105, 51, 255, 0.2);
    border-left-color: #6933FF;

    h4, .bs-callout__label {
      color: #190F33;
    }      
  }
}