<svg width="746" height="80">
         
         <polygon points="9 17 1 13 1 21"></polygon>
         <polygon points="17 17 9 13 9 21"></polygon>
         <rect x="51" y="3" width="62" height="32" rx="10"></rect>
         <rect x="49" y="1" width="62" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="59" y="21">ALTER</text>
         <rect x="133" y="3" width="62" height="32" rx="10"></rect>
         <rect x="131" y="1" width="62" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="141" y="21">INDEX</text>
         <a xlink:href="sql-grammar.html#qualified_name" xlink:title="qualified_name">
            <rect x="215" y="3" width="116" height="32"></rect>
            <rect x="213" y="1" width="116" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="223" y="21">qualified_name</text>
         </a>
         <rect x="351" y="3" width="74" height="32" rx="10"></rect>
         <rect x="349" y="1" width="74" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="359" y="21">RENAME</text>
         <rect x="445" y="3" width="38" height="32" rx="10"></rect>
         <rect x="443" y="1" width="38" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="453" y="21">TO</text>
         <a xlink:href="sql-grammar.html#name" xlink:title="name">
            <rect x="503" y="3" width="54" height="32"></rect>
            <rect x="501" y="1" width="54" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="511" y="21">name</text>
         </a>
         <rect x="51" y="47" width="62" height="32" rx="10"></rect>
         <rect x="49" y="45" width="62" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="59" y="65">ALTER</text>
         <rect x="133" y="47" width="62" height="32" rx="10"></rect>
         <rect x="131" y="45" width="62" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="141" y="65">INDEX</text>
         <rect x="215" y="47" width="34" height="32" rx="10"></rect>
         <rect x="213" y="45" width="34" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="223" y="65">IF</text>
         <rect x="269" y="47" width="68" height="32" rx="10"></rect>
         <rect x="267" y="45" width="68" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="277" y="65">EXISTS</text>
         <a xlink:href="sql-grammar.html#qualified_name" xlink:title="qualified_name">
            <rect x="357" y="47" width="116" height="32"></rect>
            <rect x="355" y="45" width="116" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="365" y="65">qualified_name</text>
         </a>
         <rect x="493" y="47" width="74" height="32" rx="10"></rect>
         <rect x="491" y="45" width="74" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="501" y="65">RENAME</text>
         <rect x="587" y="47" width="38" height="32" rx="10"></rect>
         <rect x="585" y="45" width="38" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="595" y="65">TO</text>
         <a xlink:href="sql-grammar.html#name" xlink:title="name">
            <rect x="645" y="47" width="54" height="32"></rect>
            <rect x="643" y="45" width="54" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="653" y="65">name</text>
         </a>
         <path class="line" d="m17 17 h2 m20 0 h10 m62 0 h10 m0 0 h10 m62 0 h10 m0 0 h10 m116 0 h10 m0 0 h10 m74 0 h10 m0 0 h10 m38 0 h10 m0 0 h10 m54 0 h10 m0 0 h142 m-688 0 h20 m668 0 h20 m-708 0 q10 0 10 10 m688 0 q0 -10 10 -10 m-698 10 v24 m688 0 v-24 m-688 24 q0 10 10 10 m668 0 q10 0 10 -10 m-678 10 h10 m62 0 h10 m0 0 h10 m62 0 h10 m0 0 h10 m34 0 h10 m0 0 h10 m68 0 h10 m0 0 h10 m116 0 h10 m0 0 h10 m74 0 h10 m0 0 h10 m38 0 h10 m0 0 h10 m54 0 h10 m23 -44 h-3"></path>
         <polygon points="737 17 745 13 745 21"></polygon>
         <polygon points="737 17 729 13 729 21"></polygon>
      </svg>