<svg width="654" height="134">
         
         <polygon points="9 17 1 13 1 21"></polygon>
         <polygon points="17 17 9 13 9 21"></polygon>
         <rect x="31" y="3" width="62" height="32" rx="10"></rect>
         <rect x="29" y="1" width="62" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="39" y="21">ALTER</text>
         <rect x="113" y="3" width="62" height="32" rx="10"></rect>
         <rect x="111" y="1" width="62" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="121" y="21">TABLE</text>
         <rect x="215" y="35" width="34" height="32" rx="10"></rect>
         <rect x="213" y="33" width="34" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="223" y="53">IF</text>
         <rect x="269" y="35" width="68" height="32" rx="10"></rect>
         <rect x="267" y="33" width="68" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="277" y="53">EXISTS</text>
         <a xlink:href="sql-grammar.html#relation_expr" xlink:title="relation_expr">
            <rect x="377" y="3" width="104" height="32"></rect>
            <rect x="375" y="1" width="104" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="385" y="21">relation_expr</text>
         </a>
         <rect x="501" y="3" width="74" height="32" rx="10"></rect>
         <rect x="499" y="1" width="74" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="509" y="21">RENAME</text>
         <rect x="595" y="3" width="38" height="32" rx="10"></rect>
         <rect x="593" y="1" width="38" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="603" y="21">TO</text>
         <a xlink:href="sql-grammar.html#qualified_name" xlink:title="qualified_name">
            <rect x="511" y="101" width="116" height="32"></rect>
            <rect x="509" y="99" width="116" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="519" y="119">qualified_name</text>
         </a>
         <path class="line" d="m17 17 h2 m0 0 h10 m62 0 h10 m0 0 h10 m62 0 h10 m20 0 h10 m0 0 h132 m-162 0 h20 m142 0 h20 m-182 0 q10 0 10 10 m162 0 q0 -10 10 -10 m-172 10 v12 m162 0 v-12 m-162 12 q0 10 10 10 m142 0 q10 0 10 -10 m-152 10 h10 m34 0 h10 m0 0 h10 m68 0 h10 m20 -32 h10 m104 0 h10 m0 0 h10 m74 0 h10 m0 0 h10 m38 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-166 98 l2 0 m2 0 l2 0 m2 0 l2 0 m2 0 h10 m116 0 h10 m3 0 h-3"></path>
         <polygon points="645 115 653 111 653 119"></polygon>
         <polygon points="645 115 637 111 637 119"></polygon>
      </svg>