#content {
	background: #fff;
	position: relative;
	padding-top: 62px;
	width: 100%;
	z-index: 1000;
	// @include groovy(all);
	@include box-shadow(5px, 0, 4px, 0, rgba(0, 0, 0, 0.1));
	overflow: auto;

	#main-content {
		.content-col {
			padding-top: 50px;
			padding-bottom: 100px;

			&--landing {
				padding-top: 30px;
			}
		}
	}

	@include at-query($min, $screen-md){
		padding-top: 71px;
	}

	@include at-query($min, $screen-md){
		#main-content {
			min-height: 625px;

			.content-col {
				min-height: 625px;
				padding-left: 55px;

				&-border {
					border-left: 1px solid $cl_gray_medium;
				}
			}
		}
	}
}
