#content {
	background: #fff;
	position: relative;
	padding-top: 62px;
	width: 100%;
	z-index: 1000;
	@include box-shadow(5px, 0, 4px, 0, rgba(0, 0, 0, 0.1));
	overflow: auto;

	#main-content {
		margin: 0 15px;

		@include at-query($min, $screen-md) {
			margin: 0 auto;
			min-height: 625px;

			// this is slight hack done to ensure alignment of the left edge of the header logo
			// with left edge of sidebar under all responsive conditions
			max-width: 1530px; 
		}

		.content-col {
			padding-bottom: 100px;
			max-width: 100%;
			min-width: 0;
			padding-top: 45px;

			@include at-query($min, $screen-md) {
				padding-top: 0;
				min-height: 625px;
				padding-left: 310px;
				padding-right: 60px;

				&.no-sidebar {
					padding-left: 30px;
				}

				&.no-toc {
					padding-right: 15px;
				}
			}

			&--landing {
				padding-top: 30px;
			}
		}
	}

	@include at-query($min, $screen-md){
		padding-top: 71px;
	}
}
