section.footer {
	background: $neutral-100;
	padding: 0 0 20px;
	z-index: 1;
	position: relative; // needed for z-index

	@include at-query($min, $screen-md) {
		padding: 0 0 40px;
	}

	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		max-width: 100%;

		@include at-query($min, $screen-md) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			padding: 60px 0 20px 45px;
			margin: 0 auto;
			width: 1500px;
		}
	}

	.footer {
		&__flex-wrap {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;

			@include at-query($min, $screen-md) {
				width: 68%;
			}
		}

		&__right {
			display: flex;
			flex-direction: column;
			border-top: solid 1px #DADADA;
    		padding: 10px 20px;
			.desc {
				@include sourcesanspro_m(12px);
				color: $neutral-500;
				margin: 5px 0;
			}		
			@include at-query($min, $screen-md) {
				border-top: none;
				border-left: solid 1px $cl_gray_medium;
				width: 25%;
				padding-top: 0;
				padding-left: 60px;
				margin-left: 50px;
			}
		}
	}

	// Nav Items
	.footer-nav {
		width: 100%;
		list-style: none;
		margin-bottom: 0;

		// mobile only
		@include at-query($max, $screen-md) {
			border-top: 1px solid $cl_gray_medium;
			padding: 15px 20px;
		}

		@include at-query($min, $screen-md) {
			width: calc(100% / 4 - 1px);
			padding-left: 0;

			&--product {
				-webkit-box-ordinal-group: -1;
				    -ms-flex-order: -2;
				        order: -2;
			}

			&--documentation {
				-webkit-box-ordinal-group: 0;
				    -ms-flex-order: -1;
				        order: -1;
			}
		}

		li {
			color: $cl_blue;
			text-transform: uppercase;
			list-style:none;
			text-align: left;
			padding:0;
			margin: 0 10px 0 0;
			text-indent:0;

			@include at-query($min, $screen-md) {
				width: 100%;
				margin-right: 20px;
			}

			a {
				@include sourcesanspro_r(14px);
				color: $neutral-700;
				// vertical spacing
				line-height: 40px;
				text-transform: none;
				display: block;

				@include at-query($min, $screen-md) {
					// back to normal
					line-height: 25px;
					margin-bottom: 10px;
				}

				&:hover {
					color: $cl_green;
				}
			}
		}

		li:before {
		  content: "";
			display:none;
			left:auto;
			top:auto;
		}
	}


	.header {
		@include poppins_sb(14px);
		color: $neutral-800;
		text-transform: uppercase;

		@include at-query($min, $screen-md) {
			margin-bottom: 15px;
		}
	}

	.footer-sub-nav {
		display: none;
		margin-top: 20px;
		padding-left: 0;

		@include at-query($min, $screen-md) {
			display: block;
		}
	}

	.blue-arrow {
		margin-right: -12px;
		cursor: pointer;
	}
}
