section.footer {
	background: #fff;
	position: relative;
	padding: 30px 20px 20px;

	@include at-query($min, $screen-sm) {
		padding: 50px 60px 20px;
	}

	@include at-query($min, $screen-md) {
		padding-bottom: 60px;
	}

	// ul li {
	// 	line-height: 20px;
	// }

	.container {
		padding: 0;

		@include at-query($min, $screen-sm) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			max-width: 100%;
		}

		@include at-query($min, $screen-md) {
			max-width: 1050px;
			margin: 0 auto;
		}
	}

	.footer {
		&__flex-wrap {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;

			@include at-query($min, $screen-sm) {
				width: 65%;
			}

			@include at-query($min, $screen-md) {
				width: 69%;
			}
		}

		&__social {
			border-top: solid 1px #e2e2e2;
			padding-top: 35px;

			@include at-query($min, $screen-sm) {
				border-top: none;
				border-left: solid 1px #e2e2e2;
				width: 34%;
				padding-top: 0;
				padding-left: 60px;
			}

			@include at-query($min, $screen-md) {
				width: 30%;
			}

			.footer-nav {
				width: 100%;

				li, a {
					text-align: center;

					@include at-query($min, $screen-sm) {
						text-align: left;
						// line-height: 34px;
					}

					// @include at-query($min, $screen-md) {
					// 	text-align: left;
					// 	line-height: 24px;
					// }
				}

				li.header {
					margin-bottom: 22px;

					@include at-query($min, $screen-sm) {
						margin-bottom: 12px;
					}
				}
			}
		}
	}

	// Nav Items
	.footer-nav {
		list-style: none;
		margin-bottom: 30px;
		width: calc(100% / 2);
		padding: 0;

		@include at-query($min, $screen-md) {
			width: calc(100% / 4 - 1px);

			&--product {
				-webkit-box-ordinal-group: -1;
				    -ms-flex-order: -2;
				        order: -2;
			}

			&--documentation {
				-webkit-box-ordinal-group: 0;
				    -ms-flex-order: -1;
				        order: -1;
			}
		}

		li {
			color: $cl_blue;
			text-transform: uppercase;
			list-style: none;
			text-align: left;
			padding: 0;
			margin: 0 20px 0 0;
			text-indent: 0;
			font-size: 14px;
			line-height: 20px;

			@include at-query($min, $screen-sm) {
				width:100%;
			}

			@include at-query($min, $screen-md) {
				text-align: left;
			}

			a {
				color: $cl_blue_dark;
				@include avenir_r(14px);
				line-height: 20px;
				text-transform: none;
				display: block;
				margin-bottom: 10px;
				@include groovy(color);

				&:hover {
					color: $cl_green;
				}

				// @include at-query($min, $screen-sm) {
				// 	line-height: 24px;
				// }
			}
		}

		li.header a {
			width:100%;
			margin-bottom:5px;
			@include button-text;
			display: block;
			text-transform: uppercase;

			@include at-query($min, $screen-sm) {
				margin-bottom: 15px;
			}
		}

		li:before {
		  content: "";
			display:none;
			left:auto;
			top:auto;
		}
	}

	.copyright {
		margin: 10px 0 0;
		text-align: center;
		@include avenir_r(14px);
		color: $cl_blue;

		@include at-query($min, $screen-sm) {
			width: 100%;
			margin-top: 65px;
		}

		@include at-query($min, $screen-md) {
			text-align: left;
			margin-top: 15px;
		}
	}
}
