section.footer {
	background: $cl_gray_footer;
	padding: 0 0 20px;

	@include at-query($min, $screen-md) {
		border-top: 1px solid $cl_gray_medium;
		background: #fff;
		padding: 0 0 40px;
	}

	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		max-width: 100%;

		@include at-query($min, $screen-md) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			padding: 60px 60px 20px 60px;
			margin: 0 auto;
			width: 1500px;
		}
	}

	.footer {
		&__flex-wrap {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;

			@include at-query($min, $screen-md) {
				width: 68%;
			}
		}

		&__right {
			display: flex;
			border-bottom: solid 1px $cl_gray_medium;

			@include at-query($min, $screen-md) {
				border-bottom: none;
				border-left: solid 1px $cl_gray_medium;
				width: 25%;
				padding-top: 0;
				padding-left: 60px;
				margin-left: 50px;
			}
		}
	}

	// Nav Items
	.footer-nav {
		width: 100%;
		list-style: none;
		margin-bottom: 0;

		// mobile only
		@include at-query($max, $screen-md) {
			border-top: 1px solid $cl_gray_medium;
			padding: 20px;
		}

		@include at-query($min, $screen-md) {
			width: calc(100% / 4 - 1px);
			padding-left: 0;

			&--product {
				-webkit-box-ordinal-group: -1;
				    -ms-flex-order: -2;
				        order: -2;
			}

			&--documentation {
				-webkit-box-ordinal-group: 0;
				    -ms-flex-order: -1;
				        order: -1;
			}
		}

		li {
			color: $cl_blue;
			text-transform: uppercase;
			list-style:none;
			text-align: left;
			padding:0;
			margin: 0 10px 0 0;
			text-indent:0;

			@include at-query($min, $screen-md) {
				width: 100%;
				margin-right: 20px;
			}

			a {
				color: $cl_blue_dark;
				@include type-caption-3;
				// vertical spacing
				line-height: 40px;
				text-transform: none;
				display: block;
				@include groovy(color);

				@include at-query($min, $screen-md) {
					// back to normal
					line-height: 25px;
					margin-bottom: 10px;
				}

				&:hover {
					color: $cl_green;
				}
			}
		}

		li.header {
			@include button-text--heavy--medium;
			text-transform: uppercase;

			@include at-query($min, $screen-md) {
				margin-bottom: 15px;
			}
		}

		li:before {
		  content: "";
			display:none;
			left:auto;
			top:auto;
		}
	}

	.footer-sub-nav {
		display: none;
		margin-top: 10px;
		padding-left: 0;

		@include at-query($min, $screen-md) {
			display: block;
		}
	}

	.copyright {
		margin: 20px 0 0 20px;
		@include type-caption-3;
		color: $cl_blue;

		@include at-query($min, $screen-md) {
			text-align: left;
			width: 100%;
			margin-top: 15px;
			margin-left: 0;
		}
	}
}

.blue-arrow {
	display: inline-block;
	border: solid $cl_blue;
	padding: 4px;
	margin-left: 4px;
	transition: transform 0.2s ease, margin-bottom 0.2s ease;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	float: right;

	@include at-query($min, $screen-md) {
		display: none;
	}

	&--up {
		border-width: 2px 0 0 2px;
		margin-top: 3px;
	}

	&--down {
		border-width: 0 2px 2px 0;
		margin-bottom: 3px;
	}
}
