body.menu_open {
	overflow:hidden;

	nav.mobile_expanded {
		overflow-y:auto;
		display: block;
	}

	header {
		margin-left: -100vw;

		nav.mobile {
			.hamburger {

				span {
					&:nth-child(1), &:nth-child(4) {
					  top: 8px;
					  width: 0%;
					  left: 50%;
					}

					&:nth-child(2) {
					  @include rotate(45deg);
					}

					&:nth-child(3) {
					  @include rotate(-45deg);
					}
				}
			}
		}
	}

	#content, .col-sidebar, #version-switcher {
		margin-left: -100vw;
		box-shadow: none;
	}
}

nav.mobile_expanded {
	position:fixed;
	right:0;
	top:0;
	bottom: 0;
	z-index:900;
	width: 100vw;
	overflow:auto;
	display: none;

	a:not(.mobile-menu-dropdown__parent-link):not(.logo) {
		border-bottom: 1px solid $cl_gray_medium;
		@include button-text--heavy--large;
		text-transform: uppercase;
		width:100%;
		float:left;
		color: $cl_blue;
		padding: 30px 0 30px 20px;
		text-decoration: none;
		@include groovy(color);
	}
	a:hover, a.current-menu-item {
		color: $cl_green;
	}
	a.current-menu-item {
		background:#efefef;
	}

	.mobile-menu-dropdown {
		width: 100%;
		float: left;
		@include button-text--heavy--large;
		color: $cl_blue;
		text-transform: uppercase;
		padding: 30px 0 30px 20px;
		border-bottom: 1px solid $cl_gray_medium;

		&__parent-link {
			color: $cl_blue;
		}

		a:not(.mobile-menu-dropdown__parent-link) {
			position: relative;
			display: block;
			@include type-caption-3;
			letter-spacing: normal;
			text-transform: none;
			border-bottom: none;
			margin-top: 15px;
			padding: 0;
		}

		.mobile-sub-nav {
			display: none;
		}

		.blue-arrow {
			margin-right: 25px;
			display: block;
		}
	}

	.close-wrap {
		height: 60px;
		border-bottom: 1px solid #dadada;
		padding: 15px 0 0 15px;
	}

	.hamburger {
		position: absolute;
		top: 0;
		right: 4px;
		width: 45px;
		height: 45px;
		margin-right:5px;
		margin-top:5px;
		@include rotate(0deg);
		@include groovy(all);

		span {
			display: block;
			position: absolute;
			background-color: $cl_blue;
			@include rounded(4px);
			height: 4px;
			width: 20px;
			opacity: 1;
			left: 0; right: 0;
			margin: 0 auto;
			top: 50%;
			transform: translateY(-50%);
			@include rotate(0deg);
			@include groovy(all);

			&:nth-child(1), &:nth-child(4) {
				top: 8px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				@include rotate(45deg);
			}

			&:nth-child(3) {
				@include rotate(-45deg);
			}
		}

		&:hover {
			border-color: $cl_blue;

			.hamburger_inner {
				border-color: $cl_blue;
			}
		}
	}
}

.logo {
	width: 180px;
	margin-top: 3px;
	float:left;
	line-height: 20px;
	font-size: 0;

	@include at-query($screen-sm, $screen-md) {
		line-height: 23px;
	}

	@include at-query($min, $screen-lg) {
		width:209px;
	}
}

header {
	width:100%;
	float:left;
  padding: 15px;
	background: #FFFFFF;
  border-bottom: 1px solid $cl_gray_medium;
	height: 60px;

	// there is just not enough room once we hit tablet
	@include at-query($min, $screen-sm) {
		padding: 15px 10px;
	}

	@include at-query($min, $screen-md) {
		height: 70px;
	}

	// return to regular padding when there is space
	@include at-query($min, $screen-sm + 10px) {
		padding: 15px;
	}

	.container {
		position: relative;
		margin: 0;

		@include at-query($min, $screen-sm) {
			width: 100%;
			margin: 0 auto;
		}

		@include at-query($min, $max-plus-gutters) {
			max-width: $max-width;
		}
	}

	&.scrolled {
		background: #FFFFFF;
		border-bottom: 1px solid $cl_gray_medium;
	}

	nav.desktop {
		display:none;

		a:not(.button--header) {
			color: $cl_blue;
			@include button-text--heavy;
			text-transform:uppercase;
			line-height: 40px;
			float:left;
			margin:0 10px;
			padding:0;
			text-decoration: none;
			@include groovy(color);

			&.current-menu-item, &:hover {
				color: $cl_green;
				text-decoration: none;
			}
		}

		.current-menu-item .menu-item-dropdown__parent-link a {
			color: $cl_green;
		}

		.button--header {
			@include at-query($min, $screen-sm) {
				margin-right: 0;
			}
		}

		@include at-query($min, $screen-md) {
			display: inline-block;
			float: right;
		}

		//
		// dropdown nav items
		//
		.menu-dropdown {
			position: absolute;
			max-width: 280px;
			margin-left: -31px;
			background-color: #ffffff;
			border-radius: 5px;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
			text-transform: none;
			letter-spacing: normal;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.4s ease;
			z-index: 1;

			a {
				padding: 20px 30px;
				margin: 0;
				width: 100%;

				&:not(:last-child) {
					padding-right: 45px;
					border-bottom: solid 2px #e6e6e6;
				}

				.menu-dropdown {
					&__title {
						@include paragraph-type--medium;
						color: $cl_blue;
						text-transform: none;
						letter-spacing: normal;
						@include groovy(color);
					}

					&__info {
						@include type-caption-3;
						color: #4d4d4d;
						text-transform: none;
						letter-spacing: normal;
					}
				}

				&:hover {
					.menu-dropdown__title {
						color: $cl_green;
					}
				}
			}
		}

		.menu-item-dropdown {
			float: left;
			margin: 0 10px;
			padding: 0;
			@include avenir_h(12px);
			line-height: 40px;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			@include groovy(color);

			&__parent-link {
				height: 40px;

				a {
					margin: 0;
				}
			}

			&.current-menu-item {
				color: $cl_green;
			}

			&:hover {
				cursor: pointer;
				color: $cl_green;

				.menu-dropdown {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}

	nav.mobile {
		float:right;

  	.hamburger {
  		width:21px;
  		height: 20px;
  		float:right;
  		margin-right:5px;
  		margin-top:5px;
  		position: relative;
  		@include rotate(0deg);
  	 	@include groovy(all);

  	 	span {
  	 		display: block;
  	 		position: absolute;
  	 		background-color: $cl_green;
  	 		@include rounded(4px);
  	 		height: 4px;
  	 		width: 100%;
  	 		opacity: 1;
  	 		left: 0;
  	 		@include rotate(0deg);
  	 		@include groovy(all);

  	 		&:nth-child(1) {
		  		top: 0px;
				}

		 		&:nth-child(2), &:nth-child(3) {
		  		top: 8px;
				}

		 		&:nth-child(4) {
		  		top: 16px;
				}
			}
		}

  	.hamburger:hover {
  		border-color: $cl_green_dark;

  		.hamburger_inner {
	  		border-color: $cl_green_dark;
  		}
  	}

  	@include at-query($min, $screen-md) {
  		display: none;
  	}
	}
}
