body.menu_open {
	overflow:hidden;

	nav.mobile_expanded {
		overflow-y:auto;
		display: block;
	}

	header {
		margin-left:-200px;

		nav.mobile {
			.hamburger {

				span {
					&:nth-child(1), &:nth-child(4) {
					  top: 8px;
					  width: 0%;
					  left: 50%;
					}

					&:nth-child(2) {
					  @include rotate(45deg);
					}

					&:nth-child(3) {
					  @include rotate(-45deg);
					}
				}
			}
		}
	}

	#content {
		margin-left:-200px;
	}
}

nav.mobile_expanded {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 900;
	width: 200px;
	overflow: auto;
	visibility: hidden;

	a {
		border-bottom: 1px solid $cl_border;
		@include avenir_h(14px);
		line-height: 19px;
		text-transform: uppercase;
		letter-spacing: 1.6px;
		width: 100%;
		float: left;
		color: $cl_blue;
		padding:26px 0 30px 20px;
		text-decoration: none;
		@include groovy(color);
	}
	a:hover, a.current-menu-item {
		color: $cl_green;
	}
	a.current-menu-item {
		background: #efefef;
	}
}

header {
	width:100%;
	float:left;
	background:#fff;
	padding: 15px;
	border-bottom: 1px solid $cl_border;
  @include groovy(all);

	.logo {
		width:130px;
		margin-top:5px;
		float: left;
		line-height: 19px;

		@include at-query($min, $screen-sm){
			width: 160px;
		}

		@include at-query($screen-sm, $screen-md){
			margin-top: 5px;
			line-height: 23px;
		}

		@include at-query($min, $screen-lg){
			width:209px;
		}
	}

	.container {
		position:relative;
	}

	nav.desktop {
		display:none;

		a:not(.button--header) {
			@include avenir_h(12px);
			color: $cl_blue;
			letter-spacing: 1.3px;
			text-transform:uppercase;
			float:left;
			margin:0 10px;
			padding:0;
			line-height: 40px;
			text-decoration: none;
			@include groovy(color);

			&.current-menu-item, &:hover {
				color: $cl_green;
				text-decoration: none;
			}
		}
		
		@include at-query($min, $screen-sm){
			display:inline-block;
			float:right;
		}
	}

	nav.mobile {
		float:right;
  	
  	.hamburger {
  		width:21px;
  		height: 20px;
  		float:right;
  		margin-right:6px;
  		margin-top:6px;
  		position: relative;
  		@include rotate(0deg);
  	 	@include groovy(all);

  	 	span {
  	 		display: block;
  	 		position: absolute;
  	 		background-color: $cl_green;
  	 		@include rounded(4px);
  	 		height: 4px;
  	 		width: 100%;
  	 		opacity: 1;
  	 		left: 0;
  	 		@include rotate(0deg);
  	 		@include groovy(all);

  	 		&:nth-child(1) {
		  		top: 0px;
				}
		 		
		 		&:nth-child(2), &:nth-child(3) {
		  		top: 8px;
				}

		 		&:nth-child(4) {
		  		top: 16px;
				}
			}
		}

  	.hamburger:hover {
  		border-color: $cl_green_hover;

  		.hamburger_inner {
	  		border-color: $cl_green_hover;
  		}
  	}

  	@include at-query($min, $screen-sm){
  		display: none;
  	}
	}
}