#sidebarMenu{
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

#sidebar {
  width: 100%;
  padding: 10px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  @include sourcesanspro_r(14px);

  .sidenav-arrow {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      position: relative;
      padding: 4px 0 4px 20px;
      margin: 0;
      .nav-expand {
        content: url(../images/arrow-down.svg);
        position: absolute;
        top: 13px;
        left: 2px;
      }

      &.visited a{
        color: $blue-300;
      }

      &.active > a .nav-expand{
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
      }
    }
  }

  .tier-1 a{
    color: $neutral-700;
  }

  .tier-2 {
    a {
      color: $neutral-500;
    }
    
  }
}