<div class="filters clearfix">
  <button style="width: 15%" class="filter-button" data-scope="secure">Secure</button>
  <button style="width: 15%" class="filter-button" data-scope="insecure">Insecure</button>
</div>

1. Confirm that there are enough nodes to take over the replicas from the node you want to remove. See [Considerations](decommission-a-node.html#consideration) for some example scenarios.

2. [Install the `cockroach` binary](install-cockroachdb.html) on a machine separate from the node.

3. Run the [`cockroach node status`](view-node-details.html) command and identify the ID of the node you want to remove:

    <div class="filter-content" markdown="1" data-scope="secure">
    ~~~ shell
    $ cockroach node ls --certs-dir=certs --host=<address of any node>
    ~~~
    </div>

    <div class="filter-content" markdown="1" data-scope="insecure">
    ~~~ shell
    $ cockroach node ls --insecure --host=<address of any node>
    ~~~
    </div>

    ~~~
    +----+-----------------------+---------------------+---------------------+---------------------+
    | id |        address        |        build        |     updated_at      |     started_at      |
    +----+-----------------------+---------------------+---------------------+---------------------+
    |  1 | 165.227.60.76:26257   | v1.1-alpha.20170817 | 2017-09-01 15:06:35 | 2017-08-30 16:17:05 |
    |  2 | 192.241.239.201:26257 | v1.1-alpha.20170817 | 2017-09-01 15:06:30 | 2017-08-30 16:18:20 |
    |  3 | 67.207.91.36:26257    | v1.1-alpha.20170817 | 2017-09-01 15:06:31 | 2017-08-30 16:19:20 |
    |  4 | 138.197.12.74:26257   | v1.1-alpha.20170817 | 2017-09-01 15:06:33 | 2017-08-30 16:20:13 |
    +----+-----------------------+---------------------+---------------------+---------------------+
    (4 rows)
    ~~~

4. Open the Admin UI, go to the **Replication** dashboard, and hover over the **Replicas per Store** and **Leaseholders per Store** graphs to see the state of the node before decommissioning:

    <div style="text-align: center;"><img src="{{ 'images/before-decommission2.png' | relative_url }}" alt="Decommission Scenario 1" style="border:1px solid #eee;max-width:100%" /></div>

    <div style="text-align: center;"><img src="{{ 'images/before-decommission1.png' | relative_url }}" alt="Decommission Scenario 1" style="border:1px solid #eee;max-width:100%" /></div>

5. Run the [`cockroach node decommission`](decommission-a-node.html) command with the node ID to decommission the node:

    <div class="filter-content" markdown="1" data-scope="secure">
    ~~~ shell
    $ cockroach node decommission 4 --certs-dir=certs --host=<address of any node>
    ~~~
    </div>

    <div class="filter-content" markdown="1" data-scope="insecure">
    ~~~ shell
    $ cockroach node decommission 4 --insecure --host=<address of any node>
    ~~~
    </div>

    Every second or so, you'll then see the decommissioning status:

    ~~~
    +----+---------+-------------------+--------------------+-------------+
    | id | is_live | gossiped_replicas | is_decommissioning | is_draining |
    +----+---------+-------------------+--------------------+-------------+
    |  4 | true    |                73 | false              | false       |
    +----+---------+-------------------+--------------------+-------------+
    (1 row)
    +----+---------+-------------------+--------------------+-------------+
    | id | is_live | gossiped_replicas | is_decommissioning | is_draining |
    +----+---------+-------------------+--------------------+-------------+
    |  4 | true    |                73 | true               | false       |
    +----+---------+-------------------+--------------------+-------------+
    (1 row)
    ~~~

    Once the node has been fully decommissioned, the command will return to the client:

    ~~~
    +----+---------+-------------------+--------------------+-------------+
    | id | is_live | gossiped_replicas | is_decommissioning | is_draining |
    +----+---------+-------------------+--------------------+-------------+
    |  4 | true    |                13 | true               | true        |
    +----+---------+-------------------+--------------------+-------------+
    (1 row)
    +----+---------+-------------------+--------------------+-------------+
    | id | is_live | gossiped_replicas | is_decommissioning | is_draining |
    +----+---------+-------------------+--------------------+-------------+
    |  4 | true    |                 0 | true               | true        |
    +----+---------+-------------------+--------------------+-------------+
    (1 row)
    All target nodes report that they hold no more data. Please verify cluster health before removing the nodes.
    ~~~

6. In the Admin UI, again hover over the **Replicas per Store** and **Leaseholders per Store** graphs to see the state of the node after decommissioning:

    <div style="text-align: center;"><img src="{{ 'images/after-decommission1.png' | relative_url }}" alt="Decommission Scenario 1" style="border:1px solid #eee;max-width:100%" /></div>

    <div style="text-align: center;"><img src="{{ 'images/after-decommission2.png' | relative_url }}" alt="Decommission Scenario 1" style="border:1px solid #eee;max-width:100%" /></div>

    Then go to the **Overview** dashboard and make sure all nodes are healthy (green) in the **Summary** on the right:

    <div style="text-align: center;"><img src="{{ 'images/cluster-status-after-decommission.png' | relative_url }}" alt="Decommission Scenario 1" style="border:1px solid #eee;max-width:40%" /></div>

5. To permanently remove the decommissioned node, run the [`cockroach quit`](stop-a-node.html) command against the node:

    <div class="filter-content" markdown="1" data-scope="secure">
    ~~~ shell
    $ cockroach quit --certs-dir=certs --host=<address of node to remove>
    ~~~
    </div>

    <div class="filter-content" markdown="1" data-scope="insecure">
    ~~~ shell
    $ cockroach quit --insecure --host=<address of node to remove>
    ~~~
    </div>
