---
---
table {
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    overflow: auto;
}

table thead tr {
    /* border-bottom: 2px solid #46a417 !important; */
    /* border: none; */
    background: #ffffff;
    /* color: #46a417; */
}

table td {
    /*border-right: 0px solid #FFFFFF;*/
    /* border-bottom: 1px solid #e8e7e5; */
    /*border-left: 0px solid #FFFFFF;*/
    /*background: white;*/
    /* color: #142848; */
    /* padding: 10px 8px; */
}

tbody tr:hover {
    /* background-color: #e8e7e5; */
}

.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: transparent;
    color: #6933FF;
}

.nav > li.active > ul > li.active > a {
    color: #6933FF;
}

.nav > li > a {
    background-color: transparent;
    color: #142848;
}

a[data-toggle="tooltip"], a:hover[data-toggle="tooltip"] {
    color: #142848;
    font-style: normal;
    font-weight: bold;
    cursor: default;
}

.navbar-inverse {
    background-color: #FFF;
    height: 75px;
    padding: 18px 0;
    /*z-index: 888;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /*background-image: url("images/AN_background.jpg");*/
    /*background-image: url("images/AT_2.jpg");*/
}

.navbar-header-items {
    font-family: Avernir-Black, sans-serif;
    font-size: 15px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    float: right;
    margin: 0 10px;
    padding: 0;
    line-height: 45px;
    text-decoration: none;
}

/* .btn {
    background: #46a417;
    border: 2px solid #46a417;
    font-family: Avernir-Black, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 0 29px;
    line-height: 40px;
    color: #fff;
    border-radius: 35px;
    margin-bottom: 5px;
}

.btn:hover {
    background: #fff;
    color: #46a417;
} */

.navbar-header-items > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #015CAE;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    /*background-color: #015CAE;*/
    background-color: transparent;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

/* .btn-primary {
    color: #ffffff;
    background-color: #347DBE;
    border-color: #347DBE;
} */

/* .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active, */
.open .dropdown-toggle.btn-primary {
   /*background-color: #248ec2;*/
    border-color: #347DBE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    /*background-color: #347DBE;*/
    background-color: transparent;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #E50E51 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
