{% assign $d = site.data.settings_main_nav.main_nav_global %}
{% assign $ctop = $d.customer_top %}
{% assign $cbottom = $d.customer_bottom %}

<div class="px-lg-4 mb-3">
  <div class="card shadow-sm">
    <a class="link-black" href="{{$ctop.link}}">
      <div class="cad-body p-3">
        <div class=" pb-3">
          <img src="{{$ctop.image}}" alt="{{$ctop.text}}">
        </div>
        <div class="d-flex justify-content-between">
          <p class="small10 mb-0">{{$ctop.text}}</p>
          <img src="{{ 'images/icons/icon-arrow-right-black.svg' | relative_url }}" alt="icon">
        </div>
      </div>
    </a>
  </div>
</div>
<div class="px-lg-4">
  <div class="card shadow-sm">
    <a class="link-black" href="{{$cbottom.link}}">
      <div class="cad-body p-3">
        <div class=" pb-3">
          <img src="{{$cbottom.image}}" alt="{{$ctop.text}}">
        </div>
        <div class="d-flex justify-content-between">
          <p class="small10 mb-0">{{$cbottom.text}}</p>
          <img src="{{ 'images/icons/icon-arrow-right-black.svg' | relative_url }}" alt="icon">
        </div>
      </div>
    </a>
  </div>

  <a href="https://www.cockroachlabs.com/customers/" class="btn btn-block btn-outline-primary mt-3">View all customer stories</a>
</div>