<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="4" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
   <th colspan="1" rowspan="1">Dedicated</th>
   <th colspan="1" rowspan="1">Serverless</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">Stored Procedures and UDF Improvements</p>
    <p class="feature-description">Support for PL/pgSQL, user-defined functions, and stored procedures is now expanded:
                <ul>
      <li>
       <a href="https://www.cockroachlabs.com/docs/v24.2/create-procedure#create-a-stored-procedure-that-uses-out-and-inout-parameters">OUT and INOUT</a> parameters can be specified.</li>
      <li>PL/pgSQL <a href="https://www.cockroachlabs.com/docs/v24.2/plpgsql.html#exit-and-continue-statements">EXIT and CONTINUE statements</a> can be used together with conditions.</li>
      <li>UDFs can <a href="https://www.cockroachlabs.com/docs/v24.2/create-function#create-a-function-that-invokes-a-function">call other UDFs</a>.</li>
      <li>Stored procedures can <a href="https://www.cockroachlabs.com/docs/v24.2/create-procedure#create-a-stored-procedure-that-calls-a-procedure">invoke other stored procedures</a> using a <a href="https://www.cockroachlabs.com/docs/v24.2/plpgsql.html#call-a-procedure">PL/pgSQL CALL statement</a>.</li>
      <li>
       <a href="https://www.cockroachlabs.com/docs/v24.2/plpgsql.html#control-transactions">Transaction control within PL/pgSQL blocks</a> is possible using COMMIT, ROLLBACK, and SET TRANSACTION statements.</li>
     </ul>
    </p>
    <p class="feature-description">For more information, you can also view a <a href="https://youtu.be/8M_ISTZMAis">video demo</a>.</p>
   </td>
   <td>24.1</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
   <td>
    <p class="feature-summary">Read Committed Isolation in GA</p>
    <p class="feature-description">Read Committed isolation is now GA. Under <code>
      <a href="https://www.cockroachlabs.com/docs/v24.2/read-committed">READ COMMITTED</a>
     </code> isolation, DDL operations can be auto-committed, and <code>RETRY_SERIALIZABLE</code> errors are absent. This offers a simpler migration path for applications and removes the need for client-side retry handling, which is necessary under <code>SERIALIZABLE</code> isolation.</p>
    <p class="feature-description">For more information, you can also view a <a href="https://youtu.be/RX5SYAap57s">video about using Read Committed isolation</a> and the blog post <a href="https://www.cockroachlabs.com/blog/232-read-committed-no-more-anomaly-tables/">Isolation levels without the anomaly table</a>.</p>
   </td>
   <td>24.1</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
   <td>
    <p class="feature-summary">SELECT FOR SHARE updates</p>
    <p class="feature-description">A shared lock that is acquired explicitly using <a href="https://www.cockroachlabs.com/docs/v24.2/select-for-update#for-share-usage">
      <code>SELECT FOR SHARE</code>
     </a> or implicitly by a read-committed transaction, can now be re-acquired with higher strength by either using a <code>SELECT FOR UPDATE</code> statement or by writing to the key.</p>
   </td>
   <td>24.1</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
   <td>
    <p class="feature-summary">SHOW DEFAULT SESSION VARIABLES FOR ROLE</p>
    <p class="feature-description">Previously, a database administrator could discover which session variables were set for a role only by switching into to that user or querying a system table. The new command <a href="https://www.cockroachlabs.com/docs/v24.2/show-default-session-variables-for-role">
      <code>SHOW DEFAULT SESSION VARIABLES FOR ROLE</code>
     </a> shows the database administrator the default values for session variables applied to a given user.</p>
   </td>
   <td>24.1</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
