<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="4" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
   <th colspan="1" rowspan="1">Dedicated</th>
   <th colspan="1" rowspan="1">Serverless</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">CockroachDB Changefeeds - Improved null handling usability</p>
    <p class="feature-description">
     <a href="https://www.cockroachlabs.com/docs/v24.2/change-data-capture-overview.html">Changefeed</a> users can distinguish between JSON <code>NULL</code> values and SQL <code>NULL</code> values in changefeed messages, by using the <a href="https://www.cockroachlabs.com/docs/v24.2/changefeed-messages#json">
      <code>encode_json_value_null_as_object</code> option</a> with <code>CREATE CHANGEFEED</code>. This enables a consumer to distinguish an unset value from a null JSON token.
    </p>
   </td>
   <td>24.2</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
