<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="4" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
   <th colspan="1" rowspan="1">Dedicated</th>
   <th colspan="1" rowspan="1">Serverless</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">CockroachDB Dedicated clusters on Azure now integrate with Azure Monitor for metrics and logs (limited access)</p>
    <p class="feature-description">
      <a href="https://www.cockroachlabs.com/docs/cockroachcloud/export-logs?filters=azure-monitor-log-export">Exporting logs</a> to Azure Monitor Logs and <a href="https://www.cockroachlabs.com/docs/cockroachcloud/export-metrics?filters=azure-monitor-metrics-export">exporting metrics</a> to Azure Monitor Metrics and Prometheus-compatible metric sinks from your CockroachDB Dedicated cluster hosted on Azure is now supported in <a href="https://cockroachlabs.com/docs/stable/feature-availability.html">Limited Access</a>.
    </p>
   </td>
   <td>All<sup>&starf;</sup>
   </td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-no.html %}</td>
  </tr>
  <tr>
   <td>
    <p class="feature-summary">Improved Overload Dashboard</p>
    <p class="feature-description">
      Updates to the <a href="https://www.cockroachlabs.com/docs/v24.2/ui-overload-dashboard">Overload dashboard</a> include moving important metrics nearer the top and adding more informative tooltips. These enhancements aim to help users more easily identify when <a href="https://www.cockroachlabs.com/docs/v24.2/admission-control">Admission Control</a> mechanisms are activated due to overload.
    </p>
   </td>
   <td>v24.2</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
