<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="4" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
   <th colspan="1" rowspan="1">Dedicated</th>
   <th colspan="1" rowspan="1">Serverless</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">New Regions for CockroachDB Dedicated</p>
    <p class="feature-description">Cockroach Cloud is now available in additional Azure regions. This expansion enhances our global reach and offers more options for deploying resilient, distributed databases with low latency and high availability.</p>
    <p class="feature-description">With these <a href="https://www.cockroachlabs.com/docs/releases/cloud#2024-04-18-general-updates">new regions</a>, you can now select a geographical location that best fits your needs, reducing data latency and ensuring compliance with regional data residency regulations. Deploying in a region close to your service or customers means improved performance and a better user experience.</p>
   </td>
   <td>All<sup>&starf;</sup>
   </td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-no.html %}</td>
  </tr>
  <tr>
   <td>
    <p class="feature-summary">Organize Cloud clusters using Folders</p>
    <p class="feature-description">
     <a href="https://www.cockroachlabs.com/docs/cockroachcloud/folders">Folders</a> help users organize and manage access for Clusters by projects, teams or business units. This feature is now in public preview and available to all Cloud organizations. For additional details, refer to the <a href="https://www.cockroachlabs.com/docs/releases/cloud#may-12-2024">release note.</a>
    </p>
   </td>
   <td>All<sup>&starf;</sup>
   </td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
   <td>
    <p class="feature-summary">CockroachDB Cloud Terraform provider IAM enhancements</p>
    <p class="feature-description">The <a href="https://registry.terraform.io/providers/cockroachdb/cockroach/latest">CockroachDB Cloud Terraform provider</a> has new resources for User Role Grant and Service Accounts, and a new data source for Folders. These new features improve customers’ ability to manage secure access to data, API, and infrastructure on CockroachDB Cloud.</p>
   </td>
   <td>All<sup>&starf;</sup>
   </td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
