<ul>
  <li>If you&#39;re just getting started with CockroachDB:
    <ul>
      <li><a href="start-a-local-cluster.html">Start a cluster locally</a> and talk to it via the built-in SQL client</li>
      <li><a href="learn-cockroachdb-sql.html">Learn more about CockroachDB SQL</a></li>
      <li><a href="build-an-app-with-cockroachdb.html">Build a simple application</a> with CockroachDB using Postgres-compatible client drivers and ORMs</li>
      <li><a href="demo-data-replication.html">Explore core CockroachDB features</a> like automatic replication, rebalancing, and fault tolerance</li>
    </ul>
  </li>
  <li>If you&#39;re ready to run CockroachDB in production:
    <ul>
      <li>Review the <a href="recommended-production-settings.html">Production Checklist</a></li>
      <li><a href="manual-deployment.html">Deploy CockroachDB manually</a> or <a href="orchestration.html">use an orchestration system like Kubernetes</a></li>
    </ul>
  </li>
</ul>
