<style>
/* Button for expanding/collapsing content */
.btn.details, .btn.details:active {
    background: #fff;
    border: none;
    font-family: Avernir-Black, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
    line-height: 20px;
    color: #142848;
    border-radius: 35px;
    margin-bottom: 0px;
    outline: none;
    box-shadow:none;
}
/* Icon when the content is shown */
.btn.details:after {
   font-family: "Glyphicons Halflings";
   content: "\e114";
   float: right;
   margin-left: 10px;
}
/* Icon when the content is hidden */
.btn.details.collapsed:after {
   font-family: "Glyphicons Halflings";
   float: right;
   margin-left: 10px;
   content: "\e080";
}
/* Removes small content jump when expanding and collapsing */
.collapsing p, .collapsing ul, .collapse.in p, .collapse.in ul {
  overflow-y: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}
.collapse, .collapsing {
  margin-bottom: 0px;
}
</style>