<div id="feedback-prompt">
  <p class="feedback-question">이 페이지가 도움이 되었나요?</p>
  <a href="#yes-feedback" id="yes-button" class="yes-button" data-proofer-ignore>예</a>
  <a href="#no-feedback" id="no-button" class="no-button" data-proofer-ignore>아니오</a>
</div>

<script>
  $(document).ready(function(){
    $("#yes-button, #no-button").bind("click", function () {
      if ($(this).attr("id") == "yes-button")
      {
        $('#feedback-prompt').html('<p class="feedback-response">Thanks for the feedback!</p>')
      }
      if ($(this).attr("id") == "no-button")
      {
        hbspt.forms.create({
          portalId: '1753393',
          formId: '90745362-7730-4dfd-83ff-dd64dc02a7ae',
          target: '#feedback-prompt'
        });
      }
    });
  });
</script>
