
<a href="#feedback-popup" class="feedback-button" data-toggle="tooltip" title="FEEDBACK">No</a>

<script>
  $(function() {
      $('[data-toggle="tooltip"]').tooltip();   
  });
</script>

<div id="feedback-popup" class="white-popup mfp-hide">
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({ 
      css: '',
      portalId: '1753393',
      formId: '6739d0dd-8ecb-40a6-a814-d6f84b05a6ee'
    });
  </script>
</div>

<script>
  $(document).ready(function() {
    $('.feedback-button').magnificPopup({
      type:'inline',
      midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
    });
  });
</script>

<button id="#yes-submission" class="yes-submission">Yes</button>

<!-- Starting to work on jquery to post directly to hubspot forms api on "yes" -->
<script>
  $( "#yes-submission" ).click(function() {
    $.ajax({
      url:"https://forms.hubspot.com/uploads/form/v2/1753393/6739d0dd-8ecb-40a6-a814-d6f84b05a6ee",
      type:"POST",
      headers: { 
        "Content-Type": "application/x-www-form-urlencoded"
      },
      data:{ "help": "yes", "pageUrl":"{{site.baseurl}}{{page.url}}", "pageName":"{{page.title}}" },
      dataType:"json"
    })
  });
</script>

<!-- Stars for rating the page. Clicking a star opens a feedback modal.
<div class="rating" data-toggle="modal" data-target="#feedback">
  <p><i>Was this page helpful?</i></p>
  <ul>
    <li><p class="vote 1" id="vote" data-toggle="tooltip" data-container="body" title="Unusable">&starf;</p></li>
    <li><p class="vote 2" id="vote" data-toggle="tooltip" data-container="body" title="Poor">&starf;</p></li>
    <li><p class="vote 3" id="vote" data-toggle="tooltip" data-container="body" title="OK">&starf;</p></li>
    <li><p class="vote 4" id="vote" data-toggle="tooltip" data-container="body" title="Good">&starf;</p></li>
    <li><p class="vote 5" id="vote" data-toggle="tooltip" data-container="body" title="Exellent">&starf;</p></li>
  </ul> 
</div> -->

<!-- Feedback modal. Submitting will eventually create a new github issue.
<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">How can we improve this page?</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label><input type="checkbox" value="">Incorrect info</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Unclear info</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Not detailed enough</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Needs more examples</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">Something's broken (links, etc.)</label>
        </div>
        <div class="form-group">
          <label for="comment">Description:</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div> -->