<section class="footer">
	{% if page.back_to_top == true %}
		{% include back-to-top.html %}
	{% endif %}
	{% unless page.drift == true %}
		{% include help-widget.html %}
  {% endunless %}
	<div class="container">
		<div class="footer__flex-wrap">
			<ul class="footer-nav">
				<li class="header">Product<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://www.cockroachlabs.com/product/cockroachdb/">CockroachDB</a></li>
					<li><a href="https://www.cockroachlabs.com/solutions/automated-operation/">Automated Operation</a></li>
					<li><a href="https://www.cockroachlabs.com/solutions/global-clusters/">Global Clusters</a></li>
					<li><a href="https://www.cockroachlabs.com/pricing/">Subscriptions</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/stable/frequently-asked-questions.html">FAQ</a></li>
				</ul>
			</ul>
			<ul class="footer-nav">
				<li class="header">Resources<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://www.cockroachlabs.com/docs/stable/">Docs</a></li>
					<li><a href="https://www.cockroachlabs.com/guides/">Guides</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/stable/training/">Training</a></li>
					<li><a href="https://www.cockroachlabs.com/community/tech-talks">Tech Talks</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/stable/architecture/overview.html">Architecture Overview</a></li>
				</ul>
			</ul>
			<ul class="footer-nav">
				<li class="header">Support Channels<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://github.com/cockroachdb/cockroach/" data-proofer-ignore>Github</a></li>
					<li><a href="https://stackoverflow.com/questions/tagged/cockroachdb">Stack Overflow</a></li>
					<li><a href="https://forum.cockroachlabs.com/">Forum</a></li>
					<li><a href="https://gitter.im/cockroachdb/cockroach" class="ft-btn-facebook">Gitter</a></li>
					<li><a href="https://www.cockroachlabs.com/contact/">Contact Us</a>
				</ul>
			</ul>
		</div>
		<div class="footer__right">
			<ul class="footer-nav">
				<li class="header">Company<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://www.cockroachlabs.com/about/">About</a></li>
					<li><a href="https://www.cockroachlabs.com/blog/">Blog</a>
					<li><a href="https://www.cockroachlabs.com/careers/">Careers</a></li>
					<li><a href="https://www.cockroachlabs.com/customers/">Customers</a></li>
					<li><a href="https://www.cockroachlabs.com/community/events/">Events</a></li>
					<li><a href="https://www.cockroachlabs.com/press/">News</a></li>
				</ul>
			</ul>
		</div>
		<div class="copyright"><span class="year">&copy; 2018 </span>Cockroach Labs </div>
	</div>
</section>

{% if page.sidebar_data != "sidebar-data-training.json" %}
	{% include newsletter-popout.html %}
{% endif %}
