<div id="footer">
	<div class="container">
		<div class="row footer_nav_row">
			<div class="col-xs-12 col-md-9">
				<div class="row">
					<div class="footer_nav_col col-xs-6 col-sm-4 col-md-3">
						<ul class="footer_nav">
							<li class="header">Company</li>
							<li><a href="//www.cockroachlabs.com/contact/">Contact Us</a></li>
							<li><a href="//www.cockroachlabs.com/careers/">Careers</a></li>
							<li><a href="//www.cockroachlabs.com/community/events">Events</a></li>
							<li><a href="//www.cockroachlabs.com/press/">Press</a></li>
						</ul>
					</div>
					<div class="footer_social_col col-xs-6 col-sm-4 col-md-3">
						<ul class="footer_social">
							<li class="header">Connect</li>
							<li><a target="_blank" href="https://twitter.com/cockroachdb">Twitter</a></li>
							<li><a target="_blank" href="https://www.facebook.com/cockroachlabs">Facebook</a></li>
							<li><a target="_blank" href="https://github.com/cockroachdb/cockroach">GitHub</a></li>
							<li><a href="https://groups.google.com/forum/#!forum/cockroach-db">Google Groups</a></li>
							<li><a target="_blank" href="http://www.reddit.com/r/CockroachDB/">Reddit</a></li>
						</ul>
					</div>
					<div class="footer_documentation_col col-xs-12 col-sm-4 col-md-3">
						<ul class="footer_documentation">
							<li class="header">Documentation</li>
							<li><a href="//www.cockroachlabs.com/docs/install-cockroachdb.html">Install</a></li>
							<li><a href="//www.cockroachlabs.com/docs/start-a-cluster.html">Quickstart</a></li>
							<li><a href="//www.cockroachlabs.com/docs/frequently-asked-questions.html">FAQ</a></li>
							<li><a href="//www.cockroachlabs.com/docs/improve-the-docs.html">Contribute</a></li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="contact_col">
							<!--
							<div class="contact_header">Contact</div>
							<div class="address address_one">110 5th Avenue </div>
							<div class="address address_two">NY, NY 10011</div>
							<div class="contact_email"><a href="mailto:info@cockroachlabs.com" target="_blank">info@cockroachlabs.com</a></div>
							-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
				<div id="hubspot-form">
					<div class="form_header">JOIN OUR MAILING LIST</div>
					<script>
						hbspt.forms.create({ 
							css: '',
							portalId: '1753393',
							formId: '3a24a2d8-c2fd-4e89-acf6-73a4e7b4b69f'
						});
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row footer_logo_row">
			<div class="col-xs-12 text-center">
				<div class="footer_logo">
					<img src="images/footer_logo.png" />
				</div>
			</div>
			<div class="col-xs-12 text-center copyright">&copy; 2016 Cockroach Labs </div>
		</div>
	</div>
</div>

{% include newsletter-popout.html %}