<section class="footer">
	{% include back-to-top.html %}
  {% include help-widget.html %}
	<div class="container">
		<div class="row">
			<div class="company-nav-col col-xs-12 col-xsm-6 col-sm-15">
				<ul class="footer-nav">
					<li class="header">Company</li>
					<li><a href="https://www.cockroachlabs.com/about/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0">About</a></li>
					<li><a href="https://www.cockroachlabs.com/careers/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Careers</a></li>
					<li><a href="https://www.cockroachlabs.com/press/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Press</a></li>
					<li><a href="https://www.cockroachlabs.com/blog/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0">Blog</a></li>
					<li><a href="https://www.cockroachlabs.com/security/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0">Security</a></li>
				</ul>
			</div>
			<div class="getting-started-col col-xs-12 col-xsm-6 col-sm-15">
				<ul class="footer-nav">
					<li class="header">Getting Started</li>
					<li><a href="https://www.cockroachlabs.com/docs/frequently-asked-questions.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">FAQ</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/install-cockroachdb.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Install</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/start-a-local-cluster.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Quickstart</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/build-a-test-app.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Hello, World!</a></li>
				</ul>
			</div>
			<div class="clearfix hidden-sm hidden-md hidden-lg"></div>
			<div class="documentation-col col-xs-12 col-xsm-6 col-sm-15">
				<ul class="footer-nav">
					<li class="header">Documentation</li>
					<li><a href="https://github.com/cockroachdb/cockroach/blob/master/docs/design.md" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Architecture</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/sql-statements.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">SQL</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/cockroach-commands.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Command Line</a></li>
					<li><a href="https://www.cockroachlabs.com/docs/manual-deployment.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Deployment</a></li>
				</ul>
			</div>
			<div class="community-col col-xs-12 col-xsm-6 col-sm-15">
				<ul class="footer-nav">
					<li class="header">Community</li>
					<li><a href="https://www.cockroachlabs.com/docs/contribute-to-cockroachdb.html" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Contribute</a></li>
					<li><a href="https://www.cockroachlabs.com/community/events/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Events</a></li>
					<li><a href="https://www.cockroachlabs.com/community/tech-talks/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Tech Talks</a></li>
				</ul>
			</div>
			<div class="clearfix hidden-sm hidden-md hidden-lg"></div>
			<div class="social-col col-xs-12 col-xsm-6 col-sm-15">
				<ul class="footer-nav">
					<li class="header">Talk to Us</li>
					<li><a href="https://forum.cockroachlabs.com/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Community Forum</a></li>
					<li><a href="https://gitter.im/cockroachdb/cockroach" class="ft-btn-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Gitter</a></li>
					<li><a target="_blank" href="https://twitter.com/cockroachdb" class="ft-btn-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Twitter</a></li>
					<li><a href="https://www.cockroachlabs.com/contact/" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-0">Contact Us</a></li>					
				</ul>
			</div>	
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-9 col-md-push-3">
				<div id="hubspot-form">
					<div class="form-header">Learn more about CockroachDB</div>
					<script>

						hbspt.forms.create({ 

						css: '',

						portalId: '1753393',

						formId: '3a24a2d8-c2fd-4e89-acf6-73a4e7b4b69f'

						});

					</script>
				</div>
			</div>
			<div class="col-xs-12 col-md-3 col-md-pull-9">
				<div class="footer-logo-wrap">
					<div class="footer-logo"><img src="images/footer_logo.svg" alt="Cockroach Labs"></div>
					<div class="copyright">
						<span class="year">© 2016 </span>Cockroach Labs 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include newsletter-popout.html %}
