<div class="get-started">
  <p>CockroachDB is the SQL database for building global, scalable cloud services that survive disasters.</p>
  <div class="get-started__tiles">
    {% if page.version.tag %}
      {% assign tag = page.version.tag %}
    {% else %}
      {% assign tag = page.version.version %}
    {% endif %}

    <div class="get-started__tiles--row">
      <a class="get-started__tile" href="/docs/{{tag}}/guides/">Guides</a>
      <a class="get-started__tile" href="/docs/{{tag}}/concepts/">Concepts</a>
    </div>
    <div class="get-started__tiles--row">
      <a class="get-started__tile" href="/docs/{{tag}}/reference/">Reference</a>
      <a class="get-started__tile" href="/docs/{{tag}}/support/">Support</a>
    </div>
  </div>
  <div class="get-started__video-wrapper">
    <iframe width="560" height="349" src="https://www.youtube.com/embed/4R2LODwgXsM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
