<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' | escape }}{% endif %}">
{% if page.block_search or page.url contains 'v1.0' or page.url contains 'v1.1' or page.url contains 'v2.0' or page.url contains 'v2.1' or page.url contains 'v19.1' %}
<meta name="robots" content="noindex">
<meta name="robots" content="nofollow">
<meta name="robots" content="noarchive">
<meta name="robots" content="nocache">
{% endif %}
<title>{{ page.title }} | {{ site.site_title }}</title>
{% assign page_url = page.url | relative_url | split: "/" %}
<link rel="canonical" href="{{ site.versions["stable"] | absolute_url | append: "/" | append: page_url[3] }}">
<link rel="shortcut icon" href="{{ 'images/favicon.png' | relative_url }}" type="image/png">

{% if page.comparison == true %}<link rel="stylesheet" type="text/css" href="{{ 'css/select2.min.css' | relative_url }}">{% endif %}
<link rel="stylesheet" type="text/css" href="{{ 'css/customstyles.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/theme-blue.css' | relative_url }}">
{% if page.asciicast == true %}<link rel="stylesheet" type="text/css" href="{{ 'css/asciinema-player.css' | relative_url }}">{% endif %}

<script>
var pageConfig = {
  tocNotNested: {% if page.toc_not_nested %}true{% else %}false{% endif %}
};
</script>

{% include_cached vwo.html %}

<script src="{{ 'js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.cookie.min.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.navgoco.min.js' | relative_url }}"></script>
<!-- bs 4.X -->
<script src="{{'js/bootstrap453.bundle.min.js' | relative_url }}" crossorigin="anonymous"></script>

<script src="{{ 'js/algoliasearchLite.min.js' | relative_url }}"></script>
<script src="{{ 'js/instantsearch.production.min.js' | relative_url }}"></script>

<script src="{{ 'js/toc.js' | relative_url }}"></script>
<script src="{{ 'js/cookieUtils.js' | relative_url }}"></script>
<script src="{{ 'js/clipboard.min.js' | relative_url }}"></script>
<script src="{{ 'js/customscripts.js' | relative_url }}"></script>
<script src="{{ 'js/setDocsContext.js' | relative_url }}"></script>
<script src="{{ 'js/anchor.js' | relative_url }}"></script>
{% if page.comparison == true %}
  <script src="{{ 'js/comparison-chart.js' | relative_url }}"></script>
  <script src="{{ 'js/select2.min.js' | relative_url }}"></script>
{% endif %}
{% if page.asciicast == true %}<script src="{{ 'js/asciinema-player.js' | relative_url }}"></script>{% endif %}
{% if page.license == true %}<script src="{{ 'js/license-on-page.js' | relative_url }}"></script>{% endif %}
<script async src="//js.convertflow.co/production/websites/5329.js"></script>
<script src="https://kit.fontawesome.com/4e4d5754e5.js" crossorigin="anonymous"></script>
<script src="//go.cockroachlabs.com/js/forms2/js/forms2.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400&Source+Code+Pro&display=swap" rel="stylesheet">
