<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<div id="new-header">
  <header class="main-navigation p-0 d-xl-flex flex-column-l flex-grow align-items-center">
    <nav class="navbar navbar-expand-xl navbar-light py-lx-0 w-100 pt-sm-2 bg-white z-index-2">
      <a class="navbar-brand p-0 mr-0 mr-md-0 d-block d-xl-none" href="https://www.cockroachlabs.com/"><img width="199" alt="Cockroach Labs"
          class="br0 db mb0" src="https://crl2020.imgix.net/img/cockroach-labs-logo-dark.svg" /></a>
      <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars"
        aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarContent" class="collapse navbar-collapse bg-white">
        <a class="navbar-brand mr-0 mr-md-2 d-none d-xl-block" href="https://www.cockroachlabs.com/"><img width="199" alt="Cockroach Labs"
            class="br0 db mb0" src="https://crl2020.imgix.net/img/cockroach-labs-logo-dark.svg" /></a>
        <ul class="navbar-nav ml-lg-3 mr-auto">

          <li class="nav-item dropdown megamenu mr-xl-4 py-xl-45">
            <a id="megamneu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle  position-relative" data-offset="10,20">Why CockroachDB
            </a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
              <div class="container">
                <div class="row rounded-0 m-0">

                  <div class="col-xl-9 bg-white position-relative shadow-sm"
                    style="background-image: url('https://crl2020.imgix.net/img/nav-bg.svg');">
                    <div class="p-4 megamenu-main position-relative">
                      <div class="row">


                        <div class="col-xl-3 d-md-flex flex-md-column pb-sm-3">
                          <h6 class="font-weight-bold m-0 lh-normal">
                            The most <br>highly evolved <br>database<br> on the planet
                          </h6>
                          <a href="https://www.cockroachlabs.com/customers/" class="text-small">See our customer stories <svg width="6" height="11"
                              viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1 0.664551L5 5.24403L1 9.82351" stroke="#6933FF"></path>
                            </svg>
                          </a>
                        </div>
                        <div class="col-xl-3 pb-sm-3">
                          <div class="font-weight-bold  column-title mb-3 pb-1">
                            SCALE FAST
                          </div>
                          <ul class="list-unstyled">


                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Build fast &amp; build to last</div>
                              <a href="https://www.cockroachlabs.com/product/sql/" class="nav-link text-small pb-0 ">Familiar SQL</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Elastic Scale</div>
                              <a href="https://www.cockroachlabs.com/product/scale/" class="nav-link text-small pb-0 ">Grow locally and/or
                                globally</a>
                            </li>

                          </ul>
                        </div>

                        <div class="col-xl-3 pb-sm-3">
                          <div class="font-weight-bold  column-title mb-3 pb-1">
                            SURVIVE ANYTHING
                          </div>
                          <ul class="list-unstyled">


                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Bulletproof Resilience</div>
                              <a href="https://www.cockroachlabs.com/product/resilience/" class="nav-link text-small pb-0 ">Survive any failure</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Consistent Transactions</div>
                              <a href="https://www.cockroachlabs.com/product/consistency" class="nav-link text-small pb-0 ">Guarantee data
                                correctness</a>
                            </li>

                          </ul>
                        </div>


                        <div class="col-xl-3 pb-sm-3">
                          <div class="font-weight-bold  column-title mb-3 pb-1">
                            THRIVE EVERYWHERE
                          </div>
                          <ul class="list-unstyled">


                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Geo-partitioned data</div>
                              <a href="https://www.cockroachlabs.com/product/geo-partitioning/" class="nav-link text-small pb-0 ">Performance &amp;
                                Regulatory Compliance</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Hybrid and multi-cloud</div>
                              <a href="https://www.cockroachlabs.com/product/cloud-native/" class="nav-link text-small pb-0 ">Deploy on and across
                                any cloud</a>
                            </li>

                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown megamenu mr-xl-4 py-xl-45">
            <a id="megamneu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle  position-relative" data-offset="10,20">Product
            </a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
              <div class="container">
                <div class="row rounded-0 m-0">


                  <div class="col-xl-8 bg-white position-relative shadow-sm"
                    style="background-image: url('https://crl2020.imgix.net/img/nav-bg.svg');">
                    <div class="p-4 megamenu-main position-relative">
                      <div class="row">
                        <div class="col-xl-4 d-md-flex flex-md-column justify-content-center text-center pb-sm-3">
                          <div class="column-large-icon-box text-center d-flex justify-content-center">
                            <img src="https://crl2020.imgix.net/img/icons/icon-database.svg" alt="CockroachDB" />
                          </div>
                          <h6 class="font-weight-bold  callout-title text-center">
                            CockroachDB
                          </h6>
                          <p class="nav-link text-small text-center">
                            Free for everyone. <br />Runs anywhere.
                          </p>
                          <a href="https://www.cockroachlabs.com/product/" class="text-small ">Explore CockroachDB <svg width="6" height="11"
                              viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1 0.664551L5 5.24403L1 9.82351" stroke="#6933FF"></path>
                            </svg>
                          </a>
                        </div>
                        <div class="col-xl-4 d-md-flex flex-md-column justify-content-center text-center pb-sm-3">
                          <div class="column-large-icon-box d-flex justify-content-center">
                            <img src="https://crl2020.imgix.net/img/icons/icon-db-cloud.svg" alt="CockroachDB" />
                          </div>
                          <h6 class="font-weight-bold  callout-title text-center">
                            CockroachCloud
                          </h6>
                          <p class="nav-link text-small text-center">
                            CockroachDB hosted <br />as a service.
                          </p>
                          <a href="https://www.cockroachlabs.com/product/cockroachcloud/" class="text-small">Explore CockroachCloud <svg width="6"
                              height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1 0.664551L5 5.24403L1 9.82351" stroke="#6933FF"></path>
                            </svg>
                          </a>
                        </div>

                        <div class="col-xl-4 pb-sm-3">
                          <div class="font-weight-bold  column-title mb-3 pb-1">
                            QUICK LINKS
                          </div>
                          <ul class="list-unstyled">


                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Compare Products</div>
                              <a href="https://www.cockroachlabs.com/compare/" class="nav-link text-small pb-0 ">CockroachDB, Enterprise &amp;
                                Cloud</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">Pricing</div>
                              <a href="https://www.cockroachlabs.com/pricing/" class="nav-link text-small pb-0 ">Pricing breakdown</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">The Latest</div>
                              <a href="https://www.cockroachlabs.com/blog/cockroachdb-20-2-release/" class="nav-link text-small pb-0 ">What's
                                New</a>
                            </li>
                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title">CockroachDB on Kubernetes</div>
                              <a href="https://www.cockroachlabs.com/product/kubernetes/" class="nav-link text-small pb-0 ">Cloud native distributed SQL</a>
                            </li>

                          </ul>
                        </div>


                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown megamenu mr-xl-4 py-xl-45">
            <a id="megamneu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle  position-relative" data-offset="10,20">Resources
            </a>
            <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
              <div class="container">
                <div class="row rounded-0 m-0">


                  <div class="col-xl-9 bg-white position-relative shadow-sm"
                    style="background-image: url('https://crl2020.imgix.net/img/nav-bg.svg');">
                    <div class="p-4 megamenu-main position-relative">
                      <div class="row">
                        <div class="col-xl-3 d-md-flex flex-md-column justify-content-center text-center pb-sm-3">
                          <div class="column-large-icon-box text-center d-flex justify-content-center">
                            <img src="https://crl2020.imgix.net/img/icons/icon-database.svg" alt="CockroachDB" />
                          </div>
                          <h6 class="font-weight-bold  callout-title text-center">
                            CockroachDB
                          </h6>
                          <p class="nav-link text-small text-center">
                            Free for everyone. <br />Runs anywhere.
                          </p>
                          <a href="https://www.cockroachlabs.com/customers/" class="text-small ">See our customer stories <svg width="6" height="11"
                              viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1 0.664551L5 5.24403L1 9.82351" stroke="#6933FF"></path>
                            </svg>
                          </a>
                        </div>

                        <div class="col-xl-3 pb-sm-3">
                          <div class="font-weight-bold  column-title mb-3 pb-1">
                            GETTING STARTED
                          </div>
                          <ul class="list-unstyled">


                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/get-cockroachdb/" class="nav-link text-small pb-0 ">Get CockroachDB</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/docs/stable/architecture/overview.html"
                                class="nav-link text-small pb-0 ">Architecture Overview</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/docs/cockroachcloud/quickstart.html"
                                class="nav-link text-small pb-0 ">Quickstart</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/docs/stable/frequently-asked-questions.html"
                                class="nav-link text-small pb-0 ">FAQ</a>
                            </li>

                          </ul>
                        </div>

                        <div class="col-xl-3 pb-sm-3">
                          <div class="font-weight-bold  column-title mb-3 pb-1">
                            TECHNICAL RESOURCES
                          </div>
                          <ul class="list-unstyled">


                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/docs/" class="nav-link text-small pb-0 ">Docs</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/developers/" class="nav-link text-small pb-0 ">Developers</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/community/tech-talks/" class="nav-link text-small pb-0 ">Webinars</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://resources.cockroachlabs.com/guides-briefs"
                                class="nav-link text-small pb-0 ">Guides</a>
                            </li>

                          </ul>
                        </div>

                        <div class="col-xl-3 pb-sm-3">
                          <div class="font-weight-bold  column-title mb-3 pb-1">
                            LEARN
                          </div>
                          <ul class="list-unstyled">


                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/cockroach-university/" class="nav-link text-small pb-0 ">Cockroach
                                University</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://resources.cockroachlabs.com/" class="nav-link text-small pb-0 ">Resource
                                library</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://resources.cockroachlabs.com/videos"
                                class="nav-link text-small pb-0 ">Videos</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/about/" class="nav-link text-small pb-0 ">Company</a>
                            </li>

                            <li class="nav-item mb-3 pb-1">
                              <div class="font-weight-bold item-title d-none"></div>
                              <a href="https://www.cockroachlabs.com/partners/" class="nav-link text-small pb-0 ">Partners</a>
                            </li>

                          </ul>
                        </div>


                      </div>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </li>

          <li class="nav-item py-xl-45
        
        ">

            <a href="https://www.cockroachlabs.com/blog" class="nav-link ">Blog</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex align-items-center pb-xl-0 pb-2">
          <li class="nav-item mr-xl-4 ">
            <a class="
            
            nav-link  p-xl-2
            " href="https://www.cockroachlabs.com/contact/">Contact Us</a>
          </li>
          <li class="nav-item mr-xl-4 ">
            <a class="
            
            nav-link  p-xl-2
            " href="https://cockroachlabs.cloud/">Sign In</a>
          </li>
          <li class="nav-item mr-xl-4 ">
            <a class="
            
            btn btn-sm btn-primary headerbtn
            " href="https://www.cockroachlabs.com/get-started-cockroachdb/">Get CockroachDB</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>

<script>
  function toggleDropdown(e) {
    e.preventDefault();
    const _d = $(e.target).closest(".dropdown"),
      _m = $(".dropdown-menu", _d);
      //   TODO: remove timeout
      if(window.innerWidth <= 768){
        let shouldOpen = e.type == "click";
        if(_d.hasClass('show')){
          shouldOpen = false;
        }

      _m.toggleClass("show", shouldOpen);
      _d.toggleClass("show", shouldOpen);
      $('[data-toggle="dropdown"]', _d).attr("aria-expanded", shouldOpen);
      return;
    }

    setTimeout(function() {
      let shouldOpen = e.type !== "click" && _d.is(":hover");
      _m.toggleClass("show", shouldOpen);
      _d.toggleClass("show", shouldOpen);
      $('[data-toggle="dropdown"]', _d).attr("aria-expanded", shouldOpen);
    }, e.type === "mouseleave" ? 100 : 0);

  }
  
  $("body").on("mouseenter mouseleave", ".main-navigation .dropdown", toggleDropdown);
  $("body").on("click", ".main-navigation .dropdown-toggle", toggleDropdown);
</script>