<form id="release-mktoForm_1082_{{ include.uid }}" class="mkto-install-form"></form>
<p class="js-ty-mktoForm_1082_{{ include.uid }}" style="display: none;">Thanks!</p>
<script>
    whenAvailable("MktoForms2", function() {
        const MktoForms21082_{{ include.uid }} = MktoForms2;
        MktoForms21082_{{ include.uid }}.loadForm('//go.cockroachlabs.com', '350-QIN-827', 1082, function (form) {
            const form_mktoForm_1082 = $('#release-mktoForm_1082_{{ include.uid }}');
            form.render(form_mktoForm_1082)
            form.onSuccess(function (values, followUpUrl) {
                form.getFormElem().hide();
                document.querySelector('.js-ty-mktoForm_1082_{{ include.uid }}').style.display = 'block';
                return false;
            });
            // Move button next to input
            MktoForms21082_{{ include.uid }}.whenReady(function (form) {
                $('#release-mktoForm_1082_{{ include.uid }} input').css('width', '');
                $('#release-mktoForm_1082_{{ include.uid }} .mktoButtonWrap').css('margin-left', '');
                $('#release-mktoForm_1082_{{ include.uid }} .mktoButtonRow').insertAfter('#release-mktoForm_1082_{{ include.uid }} #Email');
                $('#release-mktoForm_1082_{{ include.uid }} .mktoButtonRow').css('display', 'flex');
            });
        });    
    });
</script>