<header>
<h1><a href="http://cockroachlabs.com"><img src="/img/CL_Logo_Large.png" alt="CockroachDB"></a></h1>
<!-- <h1><a href="http://cloudcannon.com"><img src="/img/logo.svg" width="100" height="69" alt="CloudCannon"></a><br> Documentation</h1> -->	

	<nav>
		<ul>
			{% assign url = page.url %}
			{% if url == "/" %}
				{% assign url = "/overview/welcome/" %}
			{% endif %}
			{% for item in site.collections %}
				{% assign collection = item[1] %}
				{% if collection.output %}
					{% assign parts = url | split: "/" %}
					<li class="nav-item top-level {% if parts[1] == collection.active_prefix %}current{% endif %}">
						{% assign items = collection.docs | sort: 'order' %}
						<a href="{{ items.first.url }}">{{ collection.title }}</a>
						{% include secondary-nav-items.html items=items %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<ul>
			<li class="nav-item top-level {% if url contains '/changelog/' %}current{% endif %}">
				<a href="/changelog/">Change Log</a>
			</li>
		</ul>
	</nav>
</header>
