    <!-- Sidebar Column -->
    <div class="col-md-3">

        <script>

            $(document).ready(function() {
                // Initialize navgoco with default options
                var $sidebar = $('#mysidebar'),
                    $maincontent = $('#main-content');

                $sidebar.navgoco({
                    caretHtml: '',
                    accordion: true,
                    openClass: 'active', // open
                    save: false, // leave false or nav highlighting doesn't work right
                    cookie: {
                        name: 'navgoco',
                        expires: false,
                        path: '/'
                    },
                    slide: {
                        duration: 400,
                        easing: 'swing'
                    },
                    onToggleAfter: function(){
                        adjustMinHeight();
                    }
                });
                $sidebar.show();

                adjustMinHeight();

                function adjustMinHeight(){
                    setTimeout(function(){
                        var height = $sidebar.outerHeight();
                        if(height > 475){
                            $maincontent.animate({ 'min-height' : 625 + (height - 475) }, 200);
                        }else{
                            $maincontent.animate({ 'min-height' : 625 }, 200);
                        }
                    }, 400);
                }

            });

        </script>

        {% include custom/conditions.html %}

        <ul id="mysidebar" class="nav" style="display: none">
            <li>
                <form action="https://google.com/search" method="GET">
                    <input type="hidden" name="sitesearch" value="cockroachlabs.com/docs">
                    <input type="text" name="q" id="search-input" placeholder="{{site.data.strings.search_placeholder_text}}">
                </form>
            </li>
            {% for entry in sidebar %}
            {% for subcategory in entry.subcategories %}
            <li><a href="#">{{ subcategory.title }}</a>
                <ul>
                    {% for item in subcategory.items %}
                    {% if item.external_url %}
                    <li><a href="{{item.external_url}}" target="_blank">{{subcategory.title}}</a></li>
                    {% elsif page.url == item.url %}
                    <li class="active"><a href="{{item.url | replace: "/",""}}">{{item.title}}</a></li>
                    {% else %}
                    <li><a href="{{item.url | replace: "/",""}}">{{item.title}}</a></li>

                    {% for thirdlevel in item.thirdlevel %}
                    <li class="thirdlevel"><a href="#">{{ thirdlevel.title }}</a>
                        <ul>
                            {% for deeplevel in thirdlevel.thirdlevelitems %}
                            {% if deeplevel.external_url %}
                            <li><a href="{{deeplevel.external_url}}" target="_blank">{{deeplevel.title}}</a></li>
                            {% elsif page.url == deeplevel.url %}
                            <li class="active"><a href="{{deeplevel.url | replace: "/",""}}">{{deeplevel.title}}</a></li>
                            {% else %}
                            <li><a href="{{deeplevel.url | replace: "/",""}}">{{deeplevel.title}}</a></li>
                            {% endif %}

                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
            </li>
            {% endif %}
            {% endfor %}
            {% if subcategory.class == "series" %}</ul>{% else %}</ul>{% endif %}
        </li>
        {% endfor %}
        {% endfor %}
        </ul>

    </div>
       <!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above.-->
    <script>$("li.active").parents('li').toggleClass("active");</script>
