<!-- TOC LEVEL and TOC PLACEMENT. To include h2 and h3 headers in the toc, set `toc_nested: true` in the page's front-matter. Otherwise, only h2 headers are included. To place the toc at the top of the page, set `toc: true` in the page's front-matter. To place the toc somewhere else, set `toc: false` in the front-matter, and then include the below <div> manually where you want it. -->
{% if page.toc_nested == true %}
	<script>
		$( document ).ready(function() {
  		// Handler for .ready() called.
			$('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2,h3' });
		});
	</script>
	{% unless page.toc == false %}
		<div id="toc"></div>
	{% endunless %}
{% else %}
	<script>
		$( document ).ready(function() {
  		// Handler for .ready() called.
			$('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2' });
		});
	</script>
	{% unless page.toc == false %}
		<div id="toc"></div>
	{% endunless %}
{% endif %}

<!-- TOC WIDTH. To place the toc at the top of the page, set `toc: true` in the page's front-matter. To place the toc somewhere else, set `toc: false` in the front-matter, and then include the below <div> manually at the right place. -->
{% if page.toc_width == 50 %}
	<style>
	div#toc ul {
	    max-width: 50%;
	}
	</style>
{% elsif page.toc_width == 60 %}
	<style>
	div#toc ul {
	    max-width: 60%;
	}
	</style>
{% elsif page.toc_width == 70 %}
	<style>
	div#toc ul {
	    max-width: 70%;
	}
	</style>
{% elsif page.toc_width == 80 %}
	<style>
	div#toc ul {
	    max-width: 80%;
	}
	</style>
{% elsif page.toc_width == 90 %}
	<style>
	div#toc ul {
	    max-width: 90%;
	}
	</style>
{% elsif page.toc_width == 100 %}
	<style>
	div#toc ul {
	    max-width: 100%;
	}
	</style>
{% endif %}
