<!-- Mobile Side Navigation -->
<nav class="mobile_expanded">
	<div class="close-wrap">
		<a class="logo" href="https://www.cockroachlabs.com/" title="Cockroach Labs">
			<img src="{{ 'images/CL_Logo_Horizontal.svg' | relative_url }}" width="100%" alt="Cockroach Labs" />
		</a>
		<div class="hamburger">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="mobile-menu-dropdown">
		<span class="blue-arrow blue-arrow--down"></span>
		<span class="mobile-nav__dropdown-label">Product</span>
		<div class="mobile-subnav">
			<div class="mobile-subnav__section">
					<span class="mobile-subnav__label">CockroachDB</span>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/product/managed/">Managed CockroachDB</a>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/pricing/">Compare Plans</a>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/get-cockroachdb/">Get CockroachDB</a>
				</div>
				<div class="mobile-subnav-section">
					<span class="mobile-subnav__label">Capabilities</span>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/product/sql/">Distributed SQL</a>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/product/cloud-neutral/">Cloud Neutral</a>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/product/scale/">Massive Scalability</a>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/product/availability/">High Availability</a>
					<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/product/geo-distributed">Geo-Distributed</a>
				</div>
		</div>
	</div>
	<a class="mobile-nav__link" href="https://www.cockroachlabs.com/customers/">Customers</a>
	<a class="mobile-nav__link" href="https://www.cockroachlabs.com/docs/stable/">Docs</a>
	<div class="mobile-menu-dropdown">
		<span class="blue-arrow blue-arrow--down"></span>
		<span class="mobile-nav__dropdown-label">Resources</span>
		<div class="mobile-subnav">
			<div class="mobile-subnav-section">
					<span class="mobile-subnav__label"></span>
				<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/guides/">Guides</a>
				<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/docs/stable/training/">Training</a>
				<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/community/tech-talks/">Videos &amp; Webinars</a>
				<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/partners/">Partners</a>
				<a class="mobile-subnav__link" href="https://forum.cockroachlabs.com/">Forum</a>
				<a class="mobile-subnav__link" href="https://www.cockroachlabs.com/community/events/">Events</a>
			</div>
		</div>
	</div>
	<a class="mobile-nav__link" href="https://www.cockroachlabs.com/blog/" itemprop="url">Blog</a>
  <a class="mobile-nav__link" href="https://www.cockroachlabs.com/get-cockroachdb/" itemprop="url">Get CockroachDB</a>
  <a class="mobile-nav__link" href="https://www.cockroachlabs.com/contact/" itemprop="url">Contact Us</a>
</nav>

<!-- Desktop / Tablet Navigation -->
<header class="navbar-fixed-top">
	<div class="navbar-fixed-top--inner">
		<a class="logo" href="https://www.cockroachlabs.com/" title="Cockroach Labs">
			<img src="{{ 'images/CL_Logo_Horizontal.svg' | relative_url }}" width="100%" alt="Cockroach Labs" />
		</a>
		<nav class="desktop">
				<div class='desktop-menu__item'>
					<div class="desktop-menu__item-link">Product</div>
					<div class="desktop-menu__dropdown-container">
						<div class="desktop-menu__subnav-section desktop-menu__subnav-section--product">
							<span class="desktop-menu__subnav-label">CockroachDB</span>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/product/managed/" data-proofer-ignore>Managed CockroachDB</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/pricing/" data-proofer-ignore>Compare Plans</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/get-cockroachdb/" data-proofer-ignore>Get CockroachDB</a>
						</div>
						<div class="desktop-menu__subnav-section desktop-menu__subnav-section--product">
							<span class="desktop-menu__subnav-label">Capabilities</span>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/product/sql/" data-proofer-ignore>Distributed SQL</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/product/cloud-neutral/" data-proofer-ignore>Cloud Neutral</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/product/scale/" data-proofer-ignore>Massive Scalability</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/product/availability/" data-proofer-ignore>High Availability</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/product/geo-distributed" data-proofer-ignore>Geo-Distributed</a>
						</div>
					</div>
				</div>
				<a class="desktop-menu__item-link" href="https://www.cockroachlabs.com/customers/" data-proofer-ignore>Customers</a>
				<a class="desktop-menu__item-link" href="{{ "/stable/" | relative_url }}" itemprop="url" data-proofer-ignore>Docs</a>
				<div class="desktop-menu__item">
					<div class="desktop-menu__item-link">Resources</div>
					<div class="desktop-menu__dropdown-container">
						<div class="desktop-menu__subnav-section desktop-menu__subnav-section--resources">
							<span class="desktop-menu__subnav-label">Resources</span>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/guides/" data-proofer-ignore>Guides</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/docs/stable/training/" data-proofer-ignore>Training</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/community/tech-talks/" data-proofer-ignore>Videos &amp; Webinars</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/partners/" data-proofer-ignore>Partners</a>
							<a class="desktop-menu__subnav-link" href="https://forum.cockroachlabs.com/" data-proofer-ignore>Forum</a>
							<a class="desktop-menu__subnav-link" href="https://www.cockroachlabs.com/community/events/" data-proofer-ignore>Events</a>
						</div>
					</div>
				</div>
				<a class="desktop-menu__item-link" href="https://www.cockroachlabs.com/blog/" itemprop="url" data-proofer-ignore>Blog</a>
				<a href="https://www.cockroachlabs.com/get-cockroachdb/" itemprop="url" class="button--header menu-item" data-proofer-ignore>Get CockroachDB</a>
        <a href="https://www.cockroachlabs.com/contact/" itemprop="url" class="button--header button--header--alt menu-item" data-proofer-ignore>Contact Us</a>
			</nav>
			<nav class="mobile">
				<a href="#" title="Expand Menu" class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</a>
			</nav>
	</div>
</header>
