<div class="version-nav-wrapper">
  <div class="version-nav">
    <a
      class="version-nav__link version-nav__link--crdb {% unless site.cockroachcloud %}version-nav__link--active{% endunless %}"
      href="{% if site.cockroachcloud %}{{ "/../stable/" | relative_url }}{% else %}{{ "/stable/" | relative_url }}{% endif %}"
    >
      <img
        class="version-nav__link-icon version-nav__link-icon--crdb version-nav__link-icon--standard"
        src="{{ 'images/docs.svg' | relative_url }}"
        alt="Go to CockroachDB docs"
      >
      <img
        class="version-nav__link-icon version-nav__link-icon--crdb version-nav__link-icon--hover"
        src="{{ 'images/docs-hover.svg' | relative_url }}" alt="Go to CockroachDB docs"
      >
      <span class="version-nav__link-text version-nav__link-text--crdb" ></span>
    </a>

    <a
      class="version-nav__link version-nav__link--managed {% if site.cockroachcloud %}version-nav__link--active{% endif %}"
      href="{% if site.cockroachcloud %}{{ "/stable/" | relative_url }}{% else %}{{ "/cockroachcloud/stable/" | relative_url }}{% endif %}"
      data-proofer-ignore
    >
      <img
        class="version-nav__link-icon version-nav__link-icon--managed version-nav__link-icon--standard"
        src="{{ 'images/docs-managed.svg' | relative_url }}" alt="Go to CockroachCloud docs"
      >
      <img
        class="version-nav__link-icon version-nav__link-icon--managed version-nav__link-icon--hover"
        src="{{ 'images/docs-managed-hover.svg' | relative_url }}" alt="Go to CockroachCloud docs"
      >
      <span class="version-nav__link-text version-nav__link-text--managed"></span>
    </a>
    {% if page.version %}
      {% unless page.cockroachcloud == true}
        {% include version-switcher.html %}
      {% endunless %}
    {% endif %}
  </div>
</div>
