<div class="version-nav-wrapper">
  <div class="version-nav">
    <a
      class="version-nav__link version-nav__link--crdb {% unless site.cockroachcloud %}version-nav__link--active{% endunless %}"
      href="{% if site.cockroachcloud %}{{ "/../stable/" | relative_url }}{% else %}{{ "/stable/" | relative_url }}{% endif %}"
    >
      <span class="version-nav__link-text version-nav__link-text--crdb" ></span>
    </a>

    <a
      class="version-nav__link version-nav__link--managed {% if site.cockroachcloud %}version-nav__link--active{% endif %}"
      href="{% if site.cockroachcloud %}{{ "/stable/" | relative_url }}{% else %}{{ "/cockroachcloud/stable/" | relative_url }}{% endif %}"
      data-proofer-ignore
    >
      <span class="version-nav__link-text version-nav__link-text--managed"></span>
    </a>
    {% unless site.cockroachcloud %}
      {% if page.version %}
        {% include version-switcher.html %}
      {% endif %}
    {% endunless %}
  </div>
</div>
