.changelog {
	&, > div {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	> div + div {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid #eee;
	}

	.date {
		color: #888;
		font-style: italic;
	}
}

.badge {
	font-family: "Open Sans", sans-serif;
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 0.8rem;
	border-radius: 2px;
	background: #eee;
	font-weight: bold;

	&.major {
		background: #26abe2;
		color: #fff;
	}
}
