header {
	display: none;
	position: absolute;
	left: 0;
	top: $mobile-nav-height;
	bottom: 0;
	right: 0;
	padding: 0 $space;
	text-align: left;
	background-color: $nav-background-color;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 1;

	ul {
		padding: 0;
	}

	h1 {
		margin: 0;
		font-size: 12px;
		line-height: 0.8;
		color: #FFF;
		letter-spacing: 0;
		text-transform: uppercase;
		padding-bottom: 20px;
		font-weight: 300;
		text-indent: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.06);

		img {
			/*width: 100px;
			height: 69px;*/
			margin: 0 0 10px 0;
		}
	}
}

nav ul + ul {
	padding-top: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.main {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	left: 0;
	right: 0;
	top: $mobile-nav-height;
	bottom: 0;
	background: $body-background-color url(/img/background-repeat.png);
}

.content {
	margin: 0 auto;
	max-width: 710px;
	position: relative;

	background-color: transparent;
	box-shadow: none;
	color: $content-color;
	padding: 40px 35px 20px;
	border-radius: $border-radius;
}

footer {
	position: absolute;
	width: 100%;
	height: 60px;
	padding: 20px 0;
	margin: 60px 0 0 0;
}

.section-heading {
	margin-bottom: 15px;

	+ p {
		margin-top: 0;
	}
}

.page-header {
	padding: 80px 0;
	text-align: center;
	background-color: $page-header-background;
	text-transform: uppercase;

	h1 {
		color: $body-color-secondary;
		text-transform: uppercase;
		text-align: center;
		text-shadow: none;
		margin: $space $space ($space * 1.5) $space;
		font-size: 3rem;
	}

	h2 {font-size: 3em;}
	h2, h3 {
		margin: 0;
		line-height: 1.2;
		color: #fff;
	}
}

.colour-displays {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 -10px;

	&, li {
		list-style: none;
		padding: 0;
	}

	li {
		-webkit-flex: 1 1 200px;
		flex: 1 1 200px;
		float: left;
		margin: 10px;
		min-width: 200px;
		padding: 0 0 15px 0;
		border: 1px solid #eee;
		border-radius: 3px;
	}

	h3 {
		font-size: 1em;
		padding: 100px 16px 10px;
		margin: -1px -1px 15px -1px;
		display: block;
		color: #fff;
		border-radius: 3px 3px 0 0;
	}

	p {
		margin: 0 0 3px;
		padding: 0 15px;
	}
}

.nav-open header {
	display: block;
}

.mobile-nav {
	padding: $mobile-nav-padding;
	height: $mobile-nav-height;
	background-color: $nav-background-color;

	> img {
		height: 40px;
		padding: 0;
		display: block;
		margin: 0 auto;
	}

	.open-nav {
		background-image: url(/img/icons/menu.svg);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 100%;
		width: $mobile-nav-height - ($mobile-nav-padding * 2);
		height: $mobile-nav-height - ($mobile-nav-padding * 2);
		border: 0;
		opacity: 0.6;
		position: absolute;
		top: $mobile-nav-padding;
		right: $mobile-nav-padding;

		&:focus {
			outline: none;
		}

		&:focus,
		&:hover {
			opacity: 0.9;
		}
	}
}

.nav-item {
	display: block;
	font-family: "Open Sans", sans-serif;

	> ul {
		display: none;
	}

	> a {
		color: #142848;
		text-decoration: none;

		&:hover { color: #46a417; }
		&:active { color: #FFF; }
	}

	&.current {
		> a {
			color: #46a417;
		}

		> ul {
			display: block;
		}
	}

	&.top-level {
		> ul {
			margin: 10px 0 10px 10px;
			font-size: 0.9em;
		}

		> a {
			font-size: 1.1em;
		}
	}
}

.section-nav {
	position: relative;
	padding: 0 $space;

	.page-header & {
		position: absolute;
		top: 20px;
		right: 0;
		left: 0;
	}

	.prev,
	.next {
		background-size: 60px;
		background-repeat: no-repeat;
		width: 60px;
		height: 60px;
		display: inline-block;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}

		&.disabled {
			display: none;
		}
	}

	.prev {
		float: left;
		background-image: url(/img/icons/arrow-back.svg);
	}

	.next {
		float: right;
		background-image: url(/img/icons/arrow-forward.svg);
	}
}

header h1 {
	display: none;
}

@media (min-width: 700px) {
	.mobile-nav {
		display: none;
	}

	body {
		padding: 0 0 0 $nav-width;
	}

	header {
		display: block;
		width: $nav-width;
		top: 0;
		padding: $space * 2;
	}

	header h1 {
		display: block;
	}

	.main {
		top: 0;
		left: $nav-width + ($space * 4);
	}

	.page-header .section-nav {
		top: 80px;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.device {
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.ipad {
	@extend .device;
	background-image: url(/img/ipad.svg);
	padding: 3.5% 10%;
}

.nexus-7 {
	@extend .device;
	background-image: url(/img/nexus-7.svg);
	padding: 6% 11%;
}
