.logo-styles {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 0 -10px 1em;

	&, li {
		padding: 0;
		list-style: none;
	}

	li {
		-webkit-flex: 1 1 150px;
		flex: 1 1 150px;
		border-radius: 2px;
		background: #26ABE2;
		padding: 60px;
		margin: 0 10px 20px;
		box-shadow: inset 0 0 1px #ccc;
		line-height: 0;
		min-width: 150px;
		max-width: 300px;
	}

	.small {
		-webkit-flex: 1 1 90px;
		flex: 1 1 90px;
		padding: 40px;
		min-width: 90px;
		max-width: 150px;
	}

	.tiny {
		-webkit-flex: 1 1 80px;
		flex: 1 1 80px;
		padding: 20px;
		min-width: 80px;
		max-width: 120px;
	}

	.filler {
		padding-top: 0;
		padding-bottom: 0;
		height: 0;
	}

	li.white {
		background: #fff;
	}

	li.deep {
		background: #135571;
	}

	li.dark {
		background: #666;
	}

	li.darkest {
		background: #2B2E31;
	}
}
