<!-- Solutions Navigation -->
<div class="row">
  <div class="col-md-6">
    <h6 class="fw-bold mb-3">By Industry</h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/solutions/verticals/financialservices/" class="text-decoration-none">Finance</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/solutions/verticals/gaming/" class="text-decoration-none">Gaming</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/solutions/verticals/retail/" class="text-decoration-none">Retail</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h6 class="fw-bold mb-3">By Use Case</h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/solutions/" class="text-decoration-none">All Solutions</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/solutions/modernization/" class="text-decoration-none">Database Modernization</a>
      </li>
    </ul>
  </div>
</div>