<!-- Product Navigation -->
<div class="row">
  <div class="col-md-6">
    <h6 class="fw-bold mb-3">Product Capabilities</h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/product/scale/" class="text-decoration-none">Elastic Scale</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/product/kubernetes/" class="text-decoration-none">Cloud-Native & Kubernetes</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/product/resilience/" class="text-decoration-none">Built-in Survivability</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/product/sql/" class="text-decoration-none">Familiar, Consistent SQL</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/product/geo-partitioning/" class="text-decoration-none">Global Data</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h6 class="fw-bold mb-3">Learn More</h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/product/" class="text-decoration-none">Product Overview</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/compare/" class="text-decoration-none">Compare to Alternatives</a>
      </li>
    </ul>
  </div>
</div>