<!-- Docs Navigation -->
<div class="row">
  <div class="col-md-4">
    <h6 class="fw-bold mb-3">
      <img src="{{ '/images/docs.svg' | relative_url }}" alt="CockroachDB Docs" class="me-2" style="width: 24px;">
      CockroachDB
    </h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="{{ '/stable/' | relative_url }}" class="text-decoration-none">Get Started</a>
      </li>
      <li class="mb-2">
        <a href="{{ '/releases/' | relative_url }}" class="text-decoration-none">Release Notes</a>
      </li>
      <li class="mb-2">
        <a href="{{ '/stable/sql-statements.html' | relative_url }}" class="text-decoration-none">SQL Reference</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h6 class="fw-bold mb-3">
      <img src="{{ '/images/docs-managed.svg' | relative_url }}" alt="CockroachDB Cloud" class="me-2" style="width: 24px;">
      CockroachDB Cloud
    </h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="{{ '/cockroachcloud/quickstart.html' | relative_url }}" class="text-decoration-none">Quickstart</a>
      </li>
      <li class="mb-2">
        <a href="{{ '/cockroachcloud/' | relative_url }}" class="text-decoration-none">Cloud Docs</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h6 class="fw-bold mb-3">Tools & Integrations</h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="{{ '/molt/' | relative_url }}" class="text-decoration-none">MOLT (Migration)</a>
      </li>
      <li class="mb-2">
        <a href="{{ '/stable/third-party-database-tools.html' | relative_url }}" class="text-decoration-none">Third-party Tools</a>
      </li>
    </ul>
  </div>
</div>