<!-- Customers Navigation -->
<div class="row">
  <div class="col-md-12">
    <h6 class="fw-bold mb-3">Customer Stories</h6>
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/customers/" class="text-decoration-none">All Customer Stories</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/case-studies/" class="text-decoration-none">Case Studies</a>
      </li>
      <li class="mb-2">
        <a href="https://www.cockroachlabs.com/testimonials/" class="text-decoration-none">Testimonials</a>
      </li>
    </ul>
  </div>
</div>