<div id="feedback-prompt">
  <div id="feedback-prompt-bottom">
    <p class="feedback-question">Was this helpful?</p><br>
    <a href="#yes-feedback" id="yes-button-bottom" class="yes-button" data-proofer-ignore><img class="mt-0 mb-0" src="{{ 'images/icon-thumbs-up.svg' | relative_url }}" alt="Yes"/></a>
    <a href="#no-feedback" id="no-button-bottom" class="no-button" data-proofer-ignore><img class="mt-0 mb-0" src="{{ 'images/icon-thumbs-down.svg' | relative_url }}" alt="No"/></a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#yes-button-bottom").bind("click", function () {
      $('#feedback-prompt-bottom').html('<p class="feedback-response-bottom">Thanks for the feedback!</p>')
      $('#feedback-prompt-toc').hide()
    });
    $("#no-button-bottom").bind("click", function () {
      $('#feedback-prompt-bottom').html('<p class="feedback-response-bottom">Thank you for your feedback.</p>')
      $('#feedback-prompt-toc').hide()
    });
  });
</script>
