<div class="container-sm width-990">
    <div class="row">
        <div class="col-md-4">
            <ul class="mb-0 mb-md-3 list-unstyled p-0">
                <li class="pb-2"><a href="https://www.cockroachlabs.com/product/cloud/">CockroachDB Cloud</a></li>
                <li class="pb-2"><a href="https://www.cockroachlabs.com/resilience/">Resilience platform</a></li>
                <li class="pb-2"><a href="/pricing/">Pricing</a></li>
                <li class="pb-2"><a href="/support/">Support</a></li>
                <li class="pb-2"><a href="/whatsnew/">Latest release</a></li>
    
                </ul>
        </div>
        <div class="col-lg-4" style="position: relative;
    left: -150px;">

            <div class="nav-img-holder mb-5 mb-m-lg-0">
                <a href="https://www.cockroachlabs.com/blog/what-is-a-dbaas-and-why-would-you-want-one/">
                    <img class="img-fluid" src="https://www.cockroachlabs.com/img/DBaaS.png" alt="Database as a service" />
                </a>
            </div>
            
        </div>
        <div class="col-lg-4" style="position: relative;
    left: -200px;">
         
            <div class="nav-img-holder">
                <a href="https://www.cockroachlabs.com/blog/what-is-distributed-sql/">
                    <img class="img-fluid" src="https://www.cockroachlabs.com/img/DistribSQL.png" alt="Distributed SQL" />
                </a>
            </div>

        </div>
    </div>
</div>