<div class="container-sm width-990">
    <div class="row">
        <div class="col-md-5">
            <p class="font-weight-semi-bold font-size-16">All Customer stories</p>
            <p class="font-size-16">Industry leaders trust CockroachDB to run their most data-intensive, mission-critical applications.</p>
        </div>
        <div class="col-md-3">
            <p class="font-weight-semi-bold font-size-16">Featured stories</p>
            <ul class="mb-0 mb-md-3 list-unstyled p-0">
                <li class="pb-2"><a href="https://www.cockroachlabs.com/blog/persistence-as-a-service-at-netflix/">Netflix</a></li>
                <li class="pb-2"><a href="https://www.cockroachlabs.com/customers/hard-rock-digital/">Hard Rock Digital</a></li>
                <li class="pb-2"><a href="https://www.cockroachlabs.com/customers/shipt/">Shipt (Target)</a></li>
                <li class="pb-2"><a href="https://www.cockroachlabs.com/blog/fortinet-self-hosted-to-managed-cockroachdb/">Fortinet</a></li>
            </ul>
            
        </div>
        <div class="col-md-4">
         
            <div class="nav-img-holder">
                <a href="https://www.cockroachlabs.com/img/roachfest/">
                    <img class="img-fluid" src="https://www.cockroachlabs.com/img/RF24navad.png" alt="Roachfest"/>
                </a>
            </div>

        </div>
    </div>
</div>