{% comment %}Optimized page header component with efficient conditionals{% endcomment %}

{% comment %}Version switcher logic - optimized for development{% endcomment %}
{% unless page.homepage %}
  {% if page.version %}
    {% if site.layout_optimizations.simple_version_switcher %}
      {% include_cached version-switcher-js.html %}
    {% else %}
      {% include version-switcher.html %}
    {% endif %}
  {% endif %}
{% endunless %}

{% comment %}Page header - pre-compute classes for efficiency{% endcomment %}
{% if page.homepage != true %}
  {% comment %}Optimized class assignment{% endcomment %}
  {% capture post_header_class %}post-header mb-3{% unless page.homepage %}{% unless page.version %} mt-5{% endunless %}{% endunless %}{% endcapture %}
  
<div class="{{ post_header_class }}">
<h1 class="post-title-main w-100">{{ page.title }}</h1>
  {% unless page.contribute == false %}
    {% comment %}Optimized TOC classes{% endcomment %}
    {% capture toc_classes %}d-block{% unless page.toc == false %} d-lg-none{% endunless %}{% endcapture %}
    
    <div class="{{ toc_classes }}">
      {% include_cached contribute-options.html %}
    </div>
  {% endunless %}
</div>
{% endif %}