<div class="col-sidebar" data-nosnippet>
  <div class="col-sidebar-content">
    <div class="mb-3 px-3">
      <form action="/docs/search.html">
        <input class="form-control" name="query" type="text" placeholder="Search">
      </form>
    </div>
    <ul id="sidebar" class="js-sidebar nav {% if page.name == 'index.md' %}nav--home{% endif %}{% if page.url == '/search.html'%}nav--search{% endif %}  pt-0" style="display: none">
      <div class="sidenav-arrow mr-4"></div>
    </ul>
  </div>
  <div class="stiky-spacer"></div>
</div>
