{% assign DEBUG=false %}

{% comment %}Get the version of the page we are currently viewing{% endcomment %}
{% assign version = site.data.versions | where_exp: "v", "v.major_version == page.version.version" | sort: "release_date, release_name" | reverse | first %}
{% unless version %}Error: Could not get version details for version {{ page.version.version }}. Giving up.{% break %}{% endunless %}

{% comment %}Check whether the current page's version is released and if so, is LTS{% endcomment %}
{% assign current_version_is_lts = false %}
{% if version.initial_lts_patch != "N/A" %}
  {% assign current_version_is_lts = true %}
{% endif %}

{% if DEBUG %}
<!-- page.version: {{ page.version }}-->

<!-- version: {{ version }}-->

<!-- current_version_is_lts: {{ current_version_is_lts }}-->
{% endif %}

<div class="mt-3 mb-4">
<div id="version-switcher">
  <ul class="nav">
    <li class="tier-1">
      <a href="#">

        {% comment %}Display the page version we are currently viewing{% endcomment %}
        {% comment %}Check if current version has any releases{% endcomment %}
        {% assign current_version_releases = site.data.releases | where_exp: "rel", "rel.major_version == page.version.version" %}
        {% if current_version_releases.size == 0 %}
          {% comment %}No releases yet - show special text{% endcomment %}
          Version <span class="version-name">{{ page.version.version }} (No testing releases available)</span>{% if current_version_is_lts == true %}&nbsp;LTS&nbsp;{% endif %}
        {% else %}
          {% comment %}Has releases - show normal text{% endcomment %}
          Version <span class="version-name">{{ page.version.name }}</span>{% if current_version_is_lts == true %}&nbsp;LTS&nbsp;{% endif %}
        {% endif %}
        <div class="arrow"></div>
      </a>
      <ul class="list-unstyled"  style="display: none">
        {% comment %}Build the list of versions of the page{% endcomment %}

        {% for v in page.versions %}
          {% comment %}Check if this version has any releases{% endcomment %}
          {% assign v_releases = site.data.releases | where_exp: "rel", "rel.major_version == v.version.version" %}
          {% if v_releases.size > 0 %}
            {% comment %}Only show versions that have releases{% endcomment %}
          {% assign v_is_lts = false %}
          {% comment %}Get major-version details for this version{% endcomment %}
          {% assign major_version_details = site.data.versions | where_exp: "pv", "pv.major_version == v.version.version" | sort: "release_date, release_name" | reverse | first %}
          {% unless major_version_details %}Error: Could not get version details for version {{ v.version }}. Giving up.{% break %}{% endunless %}

          {% comment %}Check whether this version is released and if so, and is LTS{% endcomment %}

          {% if major_version_details.major_version == v.version.version and major_version_details.initial_lts_patch != "N/A" %}
            {% assign v_is_lts = true %}
          {% endif %}

          {% if DEBUG %}

          <!-- major_version_details:  {{ major_version_details }}-->

          <!-- major_version_details.major_version: {{major_version_details.major_version }} -->

            <!-- major_version_details.initial_lts_patch -->

          <!-- page.versions: {{ page.versions }}-->

          <!-- v.version: {{ v.version }}-->

          <!-- v_is_lts: {{ v_is_lts }}-->
          {% endif %}


        <li class="tier-2 {% if v.version == page.version %}active{% endif %}">
          <a data-proofer-ignore
          {% if v.url %}
            href="{{ v.url | relative_url | replace: "/index.html", "" | replace: ".html", "" | downcase }}"
            class="version--mobile"
          {% else %}
            class="version--mobile version--page-dne"
          {% endif %}>
            {{ v.version.name }}{% if v_is_lts == true %}&nbsp;LTS&nbsp;{% endif %}
            {% unless v.version.tag == "cloud" or v.version.tag == nil %}({% if v.version.version == site.versions["stable"] %}Stable{% elsif v.version.version == site.versions["dev"] %}Dev{% endif %}){% endunless %}
            {% unless v.url %}
              <span class="version-text--page-dne">
                This page does not exist in {{ v.version.version }}
              </span>
            {% endunless %}
          </a>
          <a data-proofer-ignore
          {% if v.url %}
            href="{{ v.url | relative_url | replace: "/index.html", "" | replace: ".html", "" | downcase }}"
            class="version--desktop"
          {% else %}
            class="version--desktop version--page-dne"
            data-tooltip data-placement="left" data-container="body" title="This page does not exist in {{ v.version.version }}."
          {% endif %}>
            {{ v.version.name }}{% if v_is_lts == true %}&nbsp;LTS&nbsp;{% endif %}
            {% if v.version.tag %}({% if v.version.version == site.versions["stable"] %}Stable{% elsif v.version.version == site.versions["dev"] %}Dev{% endif %}){% endif %}
          </a>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
</div>

<script src="{{ 'js/initVersionSwitcher.js' | relative_url }}" async></script>
