.highlight {
  background: $cl_gray_light;

  pre {
    padding: 20px 30px;
  }

  .c { color: #60a0b0 } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .k { color: #a71d5d } /* Keyword */
  // .k { font-weight: bold } /* Keyword */
  // .o { font-weight: bold } /* Operator */
  .cm { color: #60a0b0 } /* Comment.Multiline */
  .cp { color: #60a0b0 } /* Comment.Preproc */
  .c1 { color: #60a0b0 } /* Comment.Single */
  .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
  .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #999999 } /* Generic.Heading */
  .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: $cl_gray; } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #aaaaaa } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .kc { font-weight: bold } /* Keyword.Constant */
  .kd { font-weight: bold } /* Keyword.Declaration */
  .kn { color: #a71d5d }
  .kp { font-weight: bold } /* Keyword.Pseudo */
  .kr { font-weight: bold } /* Keyword.Reserved */
  .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  .m { color: #009999 } /* Literal.Number */
  .s { color: #183691 } /* Literal.String */
  .na { color: #008080 } /* Name.Attribute */
  .nb { color: #0086B3 } /* Name.Builtin */
  .nc { color: #445588; font-weight: bold } /* Name.Class */
  .no { color: #008080 } /* Name.Constant */
  .ni { color: #800080 } /* Name.Entity */
  .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .nf { color: #990000 } /* Name.Function */
  .nn { color: #555555 } /* Name.Namespace */
  .nt { color: #000080 } /* Name.Tag */
  .nv { color: #008080 } /* Name.Variable */
  // .ow { font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #009999 } /* Literal.Number.Float */
  .mh { color: #009999 } /* Literal.Number.Hex */
  .mi { color: #009999 } /* Literal.Number.Integer */
  .mo { color: #009999 } /* Literal.Number.Oct */
  .sb { color: #d14 } /* Literal.String.Backtick */
  .sc { color: #d14 } /* Literal.String.Char */
  .sd { color: #d14 } /* Literal.String.Doc */
  .s2 { color: #d14 } /* Literal.String.Double */
  .se { color: #d14 } /* Literal.String.Escape */
  .sh { color: #d14 } /* Literal.String.Heredoc */
  .si { color: #d14 } /* Literal.String.Interpol */
  .sx { color: #d14 } /* Literal.String.Other */
  .sr { color: #009926 } /* Literal.String.Regex */
  .s1 { color: #183691 } /* Literal.String.Single */
  .ss { color: #990073 } /* Literal.String.Symbol */
  .bp { color: #0086b3 } /* Name.Builtin.Pseudo */
  .vc { color: #008080 } /* Name.Variable.Class */
  .vg { color: #008080 } /* Name.Variable.Global */
  .vi { color: #008080 } /* Name.Variable.Instance */
  .il { color: #009999 } /* Literal.Number.Integer.Long */
}
