#overlay-bg {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 2000;
}

#newsletter-popout {
	display: none;
	text-align: center;
	padding: 50px;
	position: fixed;
	@include translate(-50%, -50%);
	left: 50%;
	top: 50%;
	z-index: 2001;
	background-color: $electric-purple;
	width: 600px;

	.news-header {
		@include sourcesanspro_b(36px);
		color: #FFFFFF;
		line-height: 48px;
	}

	.news-subheader {
		@include sourcesanspro_r(17px);
		line-height: 30px;
		margin-bottom: 20px;
		padding: 30px 50px 0;
	}

	#hubspot-popup-form {
		display: inline-block;

		.popout-form {
			margin: 20px auto 0;

			> div {
				float: left;
			}

			.hs_email {
				label {
					display: none;
				}

				input {
					border:none;
					outline:none;
					height: 40px;
					line-height: 35px;
					-webkit-border-top-left-radius: 20px;
					-moz-border-top-left-radius: 20px;
					border-top-left-radius: 20px;
					-webkit-border-bottom-left-radius: 20px;
					-moz-border-bottom-left-radius: 20px;
					border-bottom-left-radius: 20px;
					padding: 0 15px 0 25px;
					width: 224px;
				}
			}

			.inputs-list {
					display: none !important;
				}

			.hs-button {
				background-color: $electric-purple;
				color: #FFFFFF;
				border:none;
				outline:none;
				height: 40px;
				line-height: 35px;
				-webkit-border-top-right-radius: 20px;
				-moz-border-top-right-radius: 20px;
				border-top-right-radius: 20px;
				-webkit-border-bottom-right-radius: 20px;
				-moz-border-bottom-right-radius: 20px;
				border-bottom-right-radius: 20px;
				padding: 0 25px 0 15px;

			}
		}
	}

	.newsletter-close {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}
}

#newsletter-footer-popout {
	padding: 40px 0;
	background-color: $electric-purple;
	position: fixed;
	z-index: 1999;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	@include translate(0, 100%);
	@include groovy(all);

	.news-header {
		@include sourcesanspro_b(25px);
		color: #FFFFFF;
		line-height: 33px;
	}

	.mktoForm {
		margin-top: 20px;
		float: left;

		> div {
			float: left;
		}
		.mktoButtonWrap {
			margin: 0!important;
		}
		.mktoFieldWrap {
			label {
				display: none;
			}

			#Email {
				border:none;
				outline:none;
				height: 40px;
				line-height: 35px;
				-webkit-border-top-left-radius: 20px;
				-moz-border-top-left-radius: 20px;
				border-top-left-radius: 20px;
				-webkit-border-bottom-left-radius: 20px;
				-moz-border-bottom-left-radius: 20px;
				border-bottom-left-radius: 20px;
				padding: 0 15px 0 25px;
				width: 180px!important;
			}


		}

		.inputs-list {
				display: none !important;
			}

		.mktoButtonWrap.mktoSimple .mktoButton {
			background: $cl_blue;
			color: #FFFFFF;
			border:none;
			outline:none;
			height: 40px;
			line-height: 35px;
			-webkit-border-top-right-radius: 20px;
			-moz-border-top-right-radius: 20px;
			border-top-right-radius: 20px;
			-webkit-border-bottom-right-radius: 20px;
			-moz-border-bottom-right-radius: 20px;
			border-bottom-right-radius: 20px;
			padding: 0 25px 0 15px;
			@include button-text;
			text-transform: capitalize;
		}

		.hs-error-msgs, .hs-form-required {
			display: none !important;
		}

		.submitted-message {
			text-align: center;
			width: 100%;
			color: #FFFFFF;
			@include sourcesanspro_r(16px);
		}
	}

	.newsletter-close {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}

	&.animate {
		@include translate(0, 0);
	}
}

.mkto-install-form.mktoForm {
	.mktoLabel,
	.mktoGutter,
	.mktoOffset {
		display: none;
	}
	input {
		height: 40px;
		@include sourcesanspro_r(14px);
		line-height: 40px;
		color: $cl_blue;
		border: 1px solid $cl_gray_medium;
		border-right: none;
		outline:none;
		-webkit-border-top-left-radius: 20px;
		-moz-border-top-left-radius: 20px;
		border-top-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		-moz-border-bottom-left-radius: 20px;
		border-bottom-left-radius: 20px;
		padding: 0 15px 0 25px!important;
		width: 150px;

		&::-webkit-input-placeholder {
			color: $cl_gray;
		}
		&:-moz-placeholder {
			color: $cl_gray;
		}
		&::-moz-placeholder {
			color: $cl_gray;
		}
		&:-ms-input-placeholder {
			color: $cl_gray;
		}
		&:placeholder-shown {
			color: $cl_gray;
		}

		&:focus {
			border-color: $electric-purple;
		}
	}

	.mktoButtonWrap.mktoSimple .mktoButton {
		background: $cl_blue;
		background-image: $cl_blue;
		border-color: $cl_blue;
		color: #FFFFFF;
		// border: 2px solid #DDDDDD;
		// border-left: none;
		border: none;
		outline:none;
		height: 40px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-top-right-radius: 20px;
		border-top-right-radius: 20px;
		-webkit-border-bottom-right-radius: 20px;
		-moz-border-bottom-right-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 0 25px 0 20px;
		@include button-text;
		line-height: 42px;
		text-transform: uppercase;
		&:active,
		&:hover {
			background: $cl_blue!important;
			border-color: $cl_blue!important;
		}
	}
	
}
.hubspot-install-form {

	.install-form {
		float: left;
		border: 1px solid $neutral-400;
		border-radius: $border-radius;
		padding: 4px;

		> div {
			float: left;
		}

		.hs_email {
			label {
				display: none;
			}

			input {
				height: 40px;
				@include sourcesanspro_m(14px);
				line-height: 40px;
				// color: $cl_blue;
				border: 1px solid transparent;
				outline:none;
				// -webkit-border-top-left-radius: 20px;
				// -moz-border-top-left-radius: 20px;
				// border-top-left-radius: 20px;
				// -webkit-border-bottom-left-radius: 20px;
				// -moz-border-bottom-left-radius: 20px;
				// border-bottom-left-radius: 20px;
				padding: 0 15px;
				width: 150px;

				&::-webkit-input-placeholder {
					color: $neutral-600;
				}
				&:-moz-placeholder {
					color: $neutral-600;
				}
				&::-moz-placeholder {
					color: $neutral-600;
				}
				&:-ms-input-placeholder {
					color: $neutral-600;
				}
				&:placeholder-shown {
					color: $neutral-600;
				}

				&:focus {
					border-color: transparent;
				}
			}
		}

		.inputs-list {
			display: none !important;
		}

		.hs-button {
			background-color: $electric-purple;
			color: #FFFFFF;
			// border: 2px solid #DDDDDD;
			// border-left: none;
			border: none;
			outline:none;
			height: 40px;
			// -webkit-border-top-right-radius: 20px;
			// -moz-border-top-right-radius: 20px;
			// border-top-right-radius: 20px;
			// -webkit-border-bottom-right-radius: 20px;
			// -moz-border-bottom-right-radius: 20px;
			// border-bottom-right-radius: 20px;
			padding: 0 16px;
			@include sourcesanspro_m(14px);
			line-height: 42px;
			text-transform: capitalize;
			border-radius: $border-radius;

		}

		.hs-error-msgs, .hs-form-required {
			display: none !important;
		}

		.submitted-message {
			text-align: left;
			width: 100%;
			@include sourcesanspro_r(16px);
		}
	}
}


/** small desktop **/
@media (min-width: 768px) {
	#newsletter-footer-popout {
		padding: 20px 0;

		.news-header {
			@include subhead-adelle-lg;
			color: #FFFFFF;
		}

		.mktoForm {
			.mktoFieldWrap {
				margin-top: 15px;
				float: left;
	
				// .hs_email {
					#Email {
						width: 250px!important;
					}
				// }
			}
		}

	}

	.hubspot-install-form {
		.install-form {
			.hs_email {
				input {
					width: 140px;
				}
			}
		}
	}

	.mkto-install-form.mktoForm {
		input {
			width: 250px;
		}
	}
}