<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
    <th colspan="1" rowspan="1">Ver.</th>
    <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-hosted</th>
    <th colspan="1" rowspan="1">Advanced</th>
    <th colspan="1" rowspan="1">Standard</th>
    <th colspan="1" rowspan="1">Basic</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">Now Supporting Workload Identity for Azure Blob Storage</p>
    <p class="feature-description">
      CockroachDB now supports Workload Identity for implicit authentication with <a href="https://www.cockroachlabs.com/docs/dev/cloud-storage-authentication?filters=azure#azure-blob-storage-implicit-authentication">Azure Blob Storage</a>.  
    </p>
   </td>
   <td>25.1</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
  </tr>
 </tbody>
</table>
