$default-button-color: #eee;

@mixin button-colors($background-color:$default-button-color) {
	background-color: $background-color;
	border: 1px solid darken($background-color, 3%);
	border-bottom: 2px solid darken($background-color, 17%);

	$color: #fff;
	@if lightness($background-color) > lightness(#aaaaaa) {
		$color: #333;
	}

	color: $color;
	text-decoration: none;

	&:active,
	&.active {
		background-color: darken($background-color, 15%) \9;
		border-color: darken($background-color, 15%) \9;
	}

	&:hover {
		background-color: darken($background-color, 5%);
		color: $color;
	}

	&.disabled,
	&[disabled] {
		color: $color;
		background-color: darken($background-color, 12%) !important;
		border-color: darken($background-color, 12%) !important;
		cursor: not-allowed;
	}
}

.btn {
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	border-radius: 2px;
	-webkit-appearance: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	*line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	@include button-colors;
	*border: 0;
	*margin-left: .3em;
}

.btn.disabled,
.btn[disabled] {
	border-bottom-width: 1px !important;
	border-top-width: 2px !important;
	cursor: not-allowed;
	opacity: 0.65;
}

.btn:first-child {
	*margin-left: 0;
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.active,
.btn:active {
	outline: 0;
	border-bottom-width: 1px;
	border-top: 2px solid transparent;
}

.btn-large {
	padding: 20px;
	font-size: 17.5px;
	max-width: 400px;
}

.btn-medium {
	padding: 12px;
}

.btn-small {
	padding: 2px 10px;
	font-size: 11.9px;
}

.btn-mini {
	padding: 1px 6px;
	font-size: 10.5px;
}

.btn-block {
	box-sizing: border-box;

	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.btn-block + .btn-block {
	margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	@include button-colors(#006dcc);
}
.btn-gmail {
	@include button-colors(#dc5648);
}
.btn-twitter {
	@include button-colors(#2dabdf);
}
.btn-warning {
	@include button-colors(#faa732);
}
.btn-danger {
	@include button-colors(#da4f49);
}
.btn-success {
	@include button-colors(#5bb75b);
}
.btn-info {
	@include button-colors(#49afcd);
}
.btn-inverse {
	@include button-colors(#363636);
}

.btn-white {
	@include button-colors(#fff);
	border-color: #EEE #EEE #D4D4D4 #EEE;

	.no-touch &:hover {
		background-color: #fbfbfb;
	}
}

button.btn,
input[type="submit"].btn {
	*padding-top: 3px;
	*padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
	*padding-top: 7px;
	*padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
	*padding-top: 3px;
	*padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
	*padding-top: 1px;
	*padding-bottom: 1px;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: transparent;
}

.btn-link {
	border-color: transparent;
	cursor: pointer;
	color: #0088cc;
}

.no-touch .btn-link:hover {
	color: #005580;
	text-decoration: underline;
	background-color: transparent;
}
.no-touch .btn-link[disabled]:hover {
	color: #333333;
	text-decoration: none;
}

.btn-transparent {
	background-color: transparent;
	border: 0;
	opacity: 0.7;
	cursor: pointer;

	&:active {
		position: relative;
		top: 0;
	}

	.no-touch &:hover,
	&:focus {
		opacity: 1;
	}

	&:focus {
		outline: none;
	}
}

.btn .caret {
	margin-top: 8px;
	margin-left: 0;
}
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
	margin-top: 6px;
}
.btn-large .caret {
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 5px;
}
.dropup .btn-large .caret {
	border-bottom-width: 5px;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

body > .btn-fileinput {
	display: none;
}

.btn-fileinput {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	font-weight: 300;
}
