.screenshot {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: #DDD;
	box-shadow: 0 1px 0 #ccc, 0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0 0;
	background: #DDD url(/img/brand/browser-buttons.svg) 4px 4px no-repeat;
}

img {
	max-width: 100%;
	height: auto;
}
