@font-face {
  font-family: 'Adelle-Bold';
  src: url('../fonts/Adelle-Bold.eot');
  src: url('../fonts/Adelle-Bold.woff2') format('woff2'),
       url('../fonts/Adelle-Bold.woff') format('woff'),
       url('../fonts/Adelle-Bold.ttf') format('truetype'),
       url('../fonts/Adelle-Bold.svg#Adelle-Bold') format('svg'),
       url('../fonts/Adelle-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('../fonts/AvenirLTStd-Roman.eot');
  src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
       url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
       url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg'),
       url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Oblique';
  src: url('../fonts/AvenirLTStd-Oblique.eot');
  src: url('../fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
       url('../fonts/AvenirLTStd-Oblique.woff') format('woff'),
       url('../fonts/AvenirLTStd-Oblique.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique') format('svg'),
       url('../fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('../fonts/AvenirLTStd-Medium.eot');
  src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
       url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
       url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg'),
       url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('../fonts/AvenirLTStd-Heavy.eot');
  src: url('../fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
       url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
       url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg'),
       url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('../fonts/AvenirLTStd-Black.eot');
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
       url('../fonts/AvenirLTStd-Black.woff') format('woff'),
       url('../fonts/AvenirLTStd-Black.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg'),
       url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin font-props {
  font-weight:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin adelle_b($size) {font-family: 'Adelle-Bold', serif; font-size:$size; @include font-props;}
@mixin avenir_r($size) {font-family: 'AvenirLTStd-Roman', serif; font-size:$size; @include font-props;}
@mixin avenir_o($size) {font-family: 'AvenirLTStd-Oblique', serif; font-size:$size; @include font-props;}
@mixin avenir_m($size) {font-family: 'AvenirLTStd-Medium', serif; font-size:$size; @include font-props;}
@mixin avenir_h($size) {font-family: 'AvenirLTStd-Heavy', serif; font-size:$size; @include font-props;}
@mixin avenir_bl($size) {font-family: 'AvenirLTStd-Black', serif; font-size:$size; @include font-props;}
