// Since we use header tags for seo, we don't always want a type style to
// be dictated by the tag being used. For example, we may want an element
// to be an h2 tag for seo, but in the designs the type style is an h4.
// To circumvent this issue, we'll attach these global styles to header tags.
// Global header stylings are still declared in _general.scss as a fallback.

@mixin headline-1 { // global h1
  @include adelle_b(36px);
  line-height: 45px;

  @include at-query($min, $screen-md) {
    font-size: 60px;
    line-height: 65px;
  }
}

@mixin headline-2 { // global h2
  @include adelle_b(30px);
  line-height: 40px;

  // NOTE: this increases earlier than others
  @include at-query($min, $screen-sm) {
    font-size: 48px;
    line-height: 60px;
  }
}

@mixin headline-3 { // global h3
  @include adelle_b(24px);
  line-height: 35px;

  @include at-query($min, $screen-md) {
    font-size: 36px;
    line-height: 45px;
  }
}

@mixin headline-4 { // global h4
  @include adelle_b(18px);
  line-height: 30px;

  @include at-query($min, $screen-md) {
    font-size: 30px;
    line-height: 40px;
  }
}

@mixin headline-4--avenir {
  @include avenir_r(18px);
  line-height: 30px;

  @include at-query($min, $screen-md) {
    font-size: 30px;
    line-height: 40px;
  }
}

@mixin headline-24-30 {
  @include adelle_b(24px);
  line-height: 35px;

  @include at-query($min, $screen-md) {
    font-size: 30px;
    line-height: 40px;
  }
}

//
// subheadings
//
@mixin subhead-adelle-lg {
  @include adelle_b(24px);
  line-height: 35px;
}

@mixin subhead-adelle-sm {
  @include adelle_b(18px);
  line-height: 30px;
}

@mixin subhead-avenir-lg {
  @include avenir_h(24px);
  line-height: 35px;
}

@mixin subhead-avenir-sm {
  @include avenir_h(18px);
  line-height: 30px;
}

//
// miscellaneous
//
@mixin button-text {
  @include avenir_bl(12px);
  line-height: 15px;
  letter-spacing: 1.5px;
}

@mixin button-text--heavy {
  @include avenir_h(12px);
  line-height: 15px;
  letter-spacing: 1.5px;
}

@mixin caption {
  @include avenir_r(14px);
  line-height: 20px;
}

@mixin caption--small {
  @include avenir_r(12px);
  line-height: 15px;
}

@mixin paragraph-type {
  @include avenir_r(16px);
  line-height: 25px;

  @include at-query($min, $screen-md) {
    font-size: 17px;
    line-height: 30px;
  }
}

@mixin paragraph-type--avenir-h {
  @include avenir_h(16px);
  line-height: 25px;

  @include at-query($min, $screen-md) {
    font-size: 18px;
    line-height: 30px;
  }
}
