$screen-xsm: 544px;
$screen-sm:  768px;
$screen-md:  992px;
$screen-lg:  1200px;

$cl_green: #54B30E;
$cl_green_dark: #338C03;
$cl_green_bright: #69CC00;
$cl_green_light: #F0FFE8;
$cl_blue: #142848;
$cl_blue_dark: #111D39;
$cl_blue_pale: #ECF7FF;
$cl_gray: #A2A2A2;
$cl_gray_medium: #DADADA;
$cl_gray_light: #F3F3F3;
$cl_warning: #D9534F;
$cl_warning_light: #FCF4F3;
