//Colors
$cl_green: #46a417;
$cl_blue: #142848;
$cl_gray: #F7F7F7;

$cl_gray_text: #959797;

$cl_blue_hover: #0e2b48;
$cl_blue_border: #7FBEEB;

$cl_border: #D9DBE2;

$cl_green_hover: #37880f;
$cl_green_dark: #4EB21D;
$cl_green_light: #F0FFE8;
$cl_green_pale: #FAFDF6;
$cl_alternate_green: #41A600;

$cl_blue_light: #ECF7FF;
$cl_blue_pale: #A9AEC6;
$cl_alternate_blue: #16274A;

$screen-xsm: 544px;
$screen-sm:  768px;
$screen-md:  992px;
$screen-lg:  1200px;