<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-hosted</th>
   <th colspan="1" rowspan="1">Advanced</th>
   <th colspan="1" rowspan="1">Standard</th>
   <th colspan="1" rowspan="1">Basic</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">Summary</p>
    <p class="feature-description">Description</p>
   </td>
   <td>All
    <sup>&starf;</sup>
   </td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
