@mixin button() {
	@include button-text;
	text-transform: uppercase;
	@include rounded(100px);
	@include groovy(all);
	display: inline-block;
	border: 2px solid $cl_green;
}

.button--primary {
	@include button();
	color: #FFFFFF;
	padding: 18px 25px 16px;
	background-color: $cl_green;

	&:focus {
		color: #FFFFFF;
	}

	&:hover {
		background-color: #FFFFFF;
		color: $cl_green;
	}
}

.button--secondary {
	@include button();
	color: $cl_green;
	line-height: 40px;
	text-align: center;
	width: 150px;
	height: 40px;
	background-color: #FFFFFF;

	&:focus {
		color: $cl_green;
	}

	&:hover {
		background-color: $cl_green;
		color: #FFFFFF;
	}
}

.button--header {
	@include button();
	display: none;
	height: 30px;
	@include avenir_bl(10px);
	line-height: 10px;
	background-color: $cl_green;
	border-color: $cl_green;
	padding: 8.25px 16px;
	color: #FFFFFF;
	margin-right: 15px;

	&:focus, &:hover {
		color: #FFFFFF;
	}

	@include at-query($min, $screen-sm) {
		display: inline-block;
	}

	@include at-query($min, $screen-md) {
		height: 40px;
		font-size: 12px;
		line-height: 12px;
		margin-left: 10px;
		padding: 13px 30px;

		&:hover {
			background-color: #FFFFFF;
			color: $cl_green;
			border: 2px solid $cl_green;
		}
	}
}

.arrow-up {
  display: inline-block;
  border: solid $cl_blue;
  border-width: 2px 0 0 2px;
  padding: 2px;
  margin-left: 4px;
  margin-bottom: 0;
  transition: transform 0.2s ease, margin-bottom 0.2s ease;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  &--pre {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 0;
    border-width: 0 1px 1px 0;
    margin: 0 3px;
  }
}

.contribute {
	.btn-contribute {
		@include button();
		background-color: transparent;
		border: none;
		color: $cl_blue;
		line-height: 40px;
		padding: 0;
		text-align: center;

		&:focus {
			color: $cl_green;
		}

		&:hover {
			color: $cl_green;
		}
	}

	.dropdown-menu {
		border: none;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
		// box-shadow: 0 0 15px 0 rgba(0,0,0,0.06), 0 0 5px 0 rgba(0,0,0,0.06);
	}

	.dropdown-menu > li > a {
		@include caption;
		color: $cl_blue;
		margin: 7px 0 7px;

		&:focus {
			text-decoration: none;
			background-color: transparent;
			color: $cl_green;
		}

		&:hover {
			text-decoration: none;
			background-color: transparent;
			color: $cl_green;
		}
	}

	.arrow-up {
		display: none;
	}

	&.open {
		.arrow-down {
			display: none;
		}

		.arrow-up {
			display: inline-block;
		}
	}
}
