@mixin button() {
	@include button-text;
	text-transform: uppercase;
	@include rounded(5px);
	@include groovy(all);
	display: inline-block;
	border: 2px solid $cl_green;
}

.button--primary {
	@include button();
	color: #FFFFFF;
	padding: 18px 25px 16px;
	background-color: $cl_green;

	&:focus {
		color: #FFFFFF;
	}

	&:hover {
		background-color: #FFFFFF;
		color: $cl_green;
	}
}

.button--secondary {
	@include button();
	color: $cl_green;
	line-height: 40px;
	text-align: center;
	width: 150px;
	height: 40px;
	background-color: #FFFFFF;

	&:focus {
		color: $cl_green;
	}

	&:hover {
		background-color: $cl_green;
		color: #FFFFFF;
	}
}

.button--header {
	@include button();
	display: none;
	height: 30px;
	@include avenir_h(10px);
	line-height: 13px;
	background-color: $cl_green;
	border-color: $cl_green;
	border-width: 1px;
	border-radius: 0px;
	padding: 8.25px 16px;
	color: #FFFFFF;
	margin-right: 15px;

	&:focus, &:hover {
		color: #FFFFFF;
	}

	@include at-query($min, $screen-sm) {
		display: inline-block;
	}

	@include at-query($min, $screen-md) {
		height: 40px;
		font-size: 12px;
		line-height: 40px;
		margin-left: 5px;
		padding: 0 17px;

		&:hover {
			background-color: #FFFFFF;
			color: $cl_green;
			border: 1px solid $cl_green;
		}
	}

	@media (min-width: 1024px) {
		margin-left: 10px;
	}

	&--alt {
		background-color: #FFFFFF;
		color: $cl_green;

		&:focus, &:hover {
			color: $cl_green;
		}

		@include at-query($min, $screen-md) {
			&:hover {
				background-color: $cl_green;
				color: #FFFFFF;
			}
		}
	}
}

.blue-arrow {
	display: inline-block;
	border: solid $cl_blue;
	padding: 4px;
	margin-left: 4px;
	transition: transform 0.2s ease, margin-bottom 0.2s ease;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	float: right;
	cursor: pointer;

	@include at-query($min, $screen-md) {
		display: none;
	}

	&--up {
		border-width: 2px 0 0 2px;
		margin-top: 3px;
	}

	&--down {
		border-width: 0 2px 2px 0;
		margin-bottom: 3px;
	}
}

.arrow-down {
  display: inline-block;

  border: solid $cl_blue;
  border-width: 0 2px 2px 0;
  padding: 2px;
  margin-left: 4px;
  margin-bottom: 2px;
  transition: transform 0.2s ease, margin-bottom 0.2s ease;
  transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	cursor: pointer;

  &--pre {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 0;
    border-width: 0 1px 1px 0;
    margin: 0 3px;
  }
}

.arrow-up {
  display: inline-block;
  border: solid $cl_blue;
  border-width: 2px 0 0 2px;
  padding: 2px;
  margin-left: 4px;
  margin-bottom: 0;
  transition: transform 0.2s ease, margin-bottom 0.2s ease;
  transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	cursor: pointer;

  &--pre {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 0;
    border-width: 0 1px 1px 0;
    margin: 0 3px;
  }
}

.contribute {
	.btn-contribute {
		@include button();
		border: 1px solid #D6DBE7;
		color: #242A35;
		margin-top: 9px;
		margin-right: 55px;
		text-align: center;

		&:focus {
                        outline: 0;
                        box-shadow: 0 0 0 3px #E7ECF3;
                        border: 1px solid #7E89A9;
                        border-radius: 3px;
		}
	}

	.dropdown-menu {
		border: none;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);

		@include at-query($min, 571px) {
			left: -60px;
		}
	}

	.dropdown-menu > li > a {
		@include caption;
                color: #394455;
		margin: 7px 0 7px;

		&:focus {
                        color: #394455;
			text-decoration: none;
			background-color: transparent;
		}

		&:hover {
                        color: #394455;
			text-decoration: none;
			background-color: transparent;
		}
	}
}
