@mixin button(){ 
	text-transform: uppercase;
	letter-spacing: 1.3px;
	@include rounded(100px);
	@include groovy(all);
	display: inline-block;
	border: 2px solid $cl_green;
}

.button--primary {
	@include button();
	@include avenir_bl(12px);
	line-height: 12px;
	color: #FFFFFF;
	padding: 18px 25px 16px;
	
	background-color: $cl_alternate_green;

	&:focus {
		color: #FFFFFF;
	}

	&:hover {
		background-color: #FFFFFF;
		color: $cl_green;
	}
}

.button--secondary {
	@include button();
	@include avenir_bl(12px);
	line-height: 12px;
	color: $cl_green;
	line-height: 40px;
	text-align: center;
	width: 150px;
	height: 40px;
	background-color: #FFFFFF;

	&:focus {
		color: $cl_green;
	}

	&:hover {
		background-color: $cl_green;
		color: #FFFFFF;
	}
}

.button--header {
	@include button();
	@include avenir_bl(10px);
	line-height: 10px;
	background-color: $cl_green;
	padding: 8px 16px;
	color: #FFFFFF;
	margin-right: 15px;
	

	&:focus {
		color: #FFFFFF;
	}

	&:hover {
		background-color: #FFFFFF;
		color: $cl_green;
		border: 2px solid $cl_green;
	}

	@include at-query($min, $screen-sm){
		font-size: 12px;
		line-height: 12px;
		margin-left: 10px;
		padding: 12px 30px;
	}
}

