@mixin button() {
	@include button-text;
	text-transform: uppercase;
	@include rounded(100px);
	@include groovy(all);
	display: inline-block;
	border: 2px solid $cl_green;
}

.button--primary {
	@include button();
	color: #FFFFFF;
	padding: 18px 25px 16px;
	background-color: $cl_green;

	&:focus {
		color: #FFFFFF;
	}

	&:hover {
		background-color: #FFFFFF;
		color: $cl_green;
	}
}

.button--secondary {
	@include button();
	color: $cl_green;
	line-height: 40px;
	text-align: center;
	width: 150px;
	height: 40px;
	background-color: #FFFFFF;

	&:focus {
		color: $cl_green;
	}

	&:hover {
		background-color: $cl_green;
		color: #FFFFFF;
	}
}

.button--header {
	@include button();
	height: 30px;
	@include avenir_bl(10px);
	line-height: 10px;
	background-color: $cl_green;
	padding: 8px 16px;
	color: #FFFFFF;
	margin-right: 15px;

	&:focus {
		color: #FFFFFF;
	}

	&:hover {
		background-color: #FFFFFF;
		color: $cl_green;
		border: 2px solid $cl_green;
	}

	@include at-query($min, $screen-sm) {
		height: 40px;
		font-size: 12px;
		line-height: 12px;
		margin-left: 10px;
		padding: 12px 30px;
	}
}

.contribute {
	.btn-contribute {
		@include button();
		background-color: transparent;
		border: none;
		color: #142848;
		line-height: 40px;
		padding: 0;
		text-align: center;

		&:focus {
			color: $cl_green;
		}

		&:hover {
			color: $cl_green;
		}
	}

	.dropdown-toggle {
		font-family: 'AvenirLTStd-Heavy', serif;
	}

	.dropdown-menu {
		border: none;
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.06), 0 0 5px 0 rgba(0,0,0,0.06);
	}

	.dropdown-menu > li > a {
		line-height: 20px;
		font-family: 'AvenirLTStd-Medium', serif;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		font-size: 14px;
			color: #142848;
			margin: 7px 0 7px;

		&:focus {
			text-decoration: none;
			background-color: transparent;
			color: $cl_green;
		}

		&:hover {
			text-decoration: none;
			background-color: transparent;
			color: $cl_green;
		}
	}
}
