.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #eee;
    @include avenir_bk(16px);
    line-height: 30px;
    color: $cl_blue;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    background-color: rgba(248,245,225,0.4);
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    background-color: rgba(217,83,79, .07);
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
    background-color: rgba(248,245,225,0.4);
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    background-color: $cl_light_blue;
    border-left-color: $cl_blue_border;
}
.bs-callout-info h4 {
    color: #5bc0de;
}