.general, .console, .bug, .security, .misc {
  border-radius: 20px;
  outline: 2px solid;
  padding-left: 3px;
  padding-right: -5px;
  margin: 10px;
  display: inline;
}

.general {
  outline-color: $cl_green_bright;
}

.console {
  outline-color: $blue-400;
}

.bug {
  outline-color: $cl_warning;
}

.security {
  outline-color: $electric-purple;
}

.misc {
  outline-color: $red-3;
}