.comparison-chart {
  width: 100%;
  text-align: center;

  // we only want one column besides CockrochDB on mobile
  &__column-two {
    display: none;

    @include at-query($min, $screen-sm) {
      display: table-cell;
    }
  }

  tr {
    &:hover, &:focus {
      background-color: inherit !important;
    }

    &:nth-child(even) {
      background: rgba(243, 243, 243, 0.5);

      &:hover, &:focus {
        background: rgba(243, 243, 243, 0.5) !important;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid $cl_gray_light;
    }
  }

  th {
    border-top: none;
    border-bottom: 2px solid $cl_blue;
    @include avenir_h(14px);
    color: $cl_blue;
    text-align: center;

    @include at-query($min, $screen-sm) {
      font-size: 17px;
    }
  }

  td {
    vertical-align: middle;
    border: none;
    border-left: 1px solid $cl_gray_light;

    &:first-child {
      min-width: auto;
      border-left: none;
    }

    @include at-query($min, $screen-sm) {
      min-width: 80px;
    }

    @include at-query($min, $screen-md) {
      min-width: 180px;
    }

    span.gray {
      color: $cl_gray_medium;
    }
  }

  &__feature {
    @include avenir_r(12px);
    line-height: 20px;
    font-weight: normal;
    color: $cl_blue;
    text-align: left;

    @include at-query($min, $screen-sm) {
      font-size: 17px;
      line-height: 30px;
      padding: 20px 15px 20px;
    }

    a[data-toggle="tooltip"] {
      &:hover {
        border-bottom: none;
        cursor: pointer;
      }

      img {
        margin: 0;
      }
    }
  }

  .comparison-chart__link {
    color: $cl_blue;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 5px;
      top: 50%;
      right: -12px;
      background: #6fc42d;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }

    &:after {
      -webkit-transform: rotate(-40deg);
              transform: rotate(-40deg);
      width: 15px;
      margin-top: -2px;
      right: -24px;
    }
  }
}

//
// select2 overrides
//
.select2 {
  width: 100% !important;
}

.select2-container {
  .select2-selection {
    border: none;
    outline: none;

    .select2-selection__rendered {
      text-align: center;
      color: $cl_blue;
      padding-right: 5px;
    }

    .select2-selection__arrow b {
      border-color: $cl_gray transparent transparent transparent;
      border-width: 6px 6px 0 6px;
      margin-top: -3px;

      &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 3px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        border-width: 6px 6px 0 6px;
        margin-top: -5px;
        left: -6px;
        top: -3px;
      }
    }
  }

  .select2-results {
    .select2-results__options {
      max-height: none;
    }

    &__option {
      text-align: center;
      @include caption;
      border-bottom: 1px solid $cl_gray_light;
      padding: 15px 0;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &--open .select2-dropdown {
    top: 5px;
  }

  .select2-dropdown {
    border: none;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $cl_gray transparent;
  border-width: 0 6px 6px 6px;

  &:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 3px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 6px 6px 6px;
    margin-top: -5px;
    left: -6px;
    top: 7px;
  }
}
