.copy-clipboard {
  position: absolute;
  top: 15px;
  right: 17px;
  @include avenir_bl(12px);
  line-height: 1.17;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #a2a2a2;
  @include groovy(color);

  &__text {
    display: inline-block;

  }

  svg {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    vertical-align: top;

    .st0 {
      @include groovy(fill);
    }
  }

  #copy-check {
    display: none;
  }


  &:hover {
    cursor: pointer;
    color: #4c4c4c;

    .st0 {
      fill: #4c4c4c;
    }
  }

  &--copied {
    #copy-icon {
      display: none;
    }

    #copy-check {
      display: inline-block;
    }

    &:hover {
      color: #a2a2a2;
    }
  }
}
