/* Feedback question and buttons */

#feedback-prompt {
  display: inline-block;
  padding: 25px;
  // background-color: $cl_green_light;
  font-size: 17px;
  line-height: 1;

  form {
    display: inline-block;
    vertical-align: bottom;
  }
  .yes-button,
  .no-button {
    img {
      vertical-align: middle;
      margin: 0 8px 4px 0;
    }
  }
}

#feedback-prompt p {
  // margin-bottom: 18px;
  // line-height: 0;
}

.feedback-question {
  display: block;
  line-height: 0;
  margin-right: 15px;
  vertical-align: bottom;
  @include avenir_r(17px);
  line-height: 22px;

  @include at-query($min, $screen-xsm) { display: inline-block; }
}

@media screen and (max-width: 767px){
  .feedback-question {
    font-size: 14px;
  }
  #feedback-prompt p.feedback-response {
    line-height: 20px;
    font-size: 14px;
  }
}

#yes-button,
#no-button,
#feedback-prompt input[type="submit"] {
  width: 88px;
  height: 44px;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  // background-color: $cl_green_light;
  color: $electric-purple !important;
  @include button-text;
  line-height: 44px;
  // text-transform: uppercase;
  text-align: center;
  text-decoration: none !important;
  border: 2px solid $electric-purple;
  border-radius: 5px;
  outline: none;
  @include groovy(background-color);

  &:hover {
    // background-color: $cl_blue;
    // color: #fff !important;
    // border-bottom: none;
  }
}

form[class*="hs-form"] {
  margin-bottom: 0;

  label {
    font-family: inherit;
    font-size: 15px;
  }

  div[class="actions"] {
    padding: 0;
    margin: 0;
  }

  input[type="radio"][class="hs-input"] { margin-right: 10px; }

  input[type="submit"] {
    background: none;
    text-shadow: none;
    box-sizing: border-box;

    &:hover:not(.inactive) {
      border: 1px solid $cl_blue;
      box-shadow: none;
    }
  }

  textarea:focus,
  input[type="email"]:focus {
    border: 1px solid $spanish-roast;
    box-shadow: none;
  }
}
