#os-tabs {

	button {
		border: 1px solid #dddddd;
		background-color: #ffffff;
		color: $cl_blue;
		@include avenir_h(16px);
		outline: 0;
		width: 90px;
		padding: 17px 0 11px;
		position: relative;
		bottom: -2px;
		float: left;
		line-height: 25px;
		margin: 0 2% 2% 0;

		&:before {
			display: inline-block;
			margin-top: -8px;
			vertical-align: middle;
		}

		&:hover {
			border: 1px solid $cl_green;
		}

		&.current {
			border: 1px solid $cl_green;
			background-color: #F0FFE8;
		}
	}
}

.install-button {
	display: inline-block;
	background-color: #ffffff;
	text-align: center;
	@include avenir_r(12px);
	line-height: 15px;
	color: $cl_blue !important;
	text-decoration: none !important;
	padding: 15px 0;
	float: left;
	position: relative;
	border: 2px solid #fff;
	border-bottom: none;

	@include at-query($min, $screen-sm) {
		width: auto;
		padding: 15px 25px;
		float: none;
		font-size: 16px;

		// this breaks the styleguide a bit, but 25 was too much space
		line-height: 20px;
	}

	@include at-query($min, $screen-md) {
		padding: 15px;
	}

	@include at-query($min, $screen-lg) {
		padding: 15px 25px;
	}

	&:hover {
		color: $cl_green !important;
		border-bottom: none !important;
	}

	&.current {
		border: 2px solid $cl_gray_medium;
		border-top: 2px solid $cl_green;
		border-bottom: 2px #fff;

		&:hover {
			color: $cl_blue !important;
		}

		&:after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			bottom: -2px;
			left: 0;
			background: #fff;
		}
	}

	.c2a {
		@include avenir_h(12px);

		@media (min-width: 700px) {
			display: inline-block;
			font-size: 16px;
		}
	}
}

.install-wrap {
	border-bottom: 2px solid $cl_gray_medium;
}

#mac-installs {
	.install-button {
		width: 24.25%;

		&:nth-child(-n+3){
			margin-right: 1%;
		}
	}
}

#linux-installs {
	.install-button {
		width: 32%;

		&:nth-child(-n+2){
			margin-right: 2%;
		}
	}
}

#windows-installs {
	.install-button {
		width: 48%;

		&:nth-child(-n+1){
			margin-right: 2%;
		}
	}
}

/* Generic Filter Button */

.filters {
	font-size: 0;

	.filter-button {
		display: inline-block;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		text-align: center;
		@include avenir_r(12px);
		line-height: 15px;
		color: $cl_blue !important;
		text-decoration: none !important;
		padding: 15px;
		margin: 1%;
		outline: none;

		&:hover {
			border: 1px solid $cl_green;
		}

		&.current {
			border: 1px solid $cl_green;
			background-color: #F0FFE8;
		}
	}

	a:hover {
		border-bottom: none;
	}
}

.filter-content {
	display: none;

	&.current {
		display: block;
	}
}

@media (min-width: 700px) {
	#os-tabs {

		button {
			width: 140px;
			margin: 0 10px 15px 0;

			&:before {
				font-family: 'FontAwesome';
				content: "\f078";
				margin-right: 10px;
				z-index: 5;
				font-size: 24px;
			}

			&#mac {
				
				&:before {
					content: "\f179";
	        }
			}

			&#linux {

				&:before {
					content: "\f17c";
	        }
			}

			&#windows {

				&:before {
					content: "\f17a";
	        }
			}

			&#source {

				&:before {
					content: "\f1c6";
				}
			}
		}
	}

	#mac-installs, #linux-installs, #windows-installs {
		.install-button {
			width: auto;
			margin-right: 0;

			&:nth-child(-n+3) {
				margin-right: 0;
			}
		}
	}

	.filters {
		.filter-button {
			margin: 0 0.5%;
			@include avenir_r(16px);
			line-height: 20px;
		}
	}
}

.filters-big {
	.filter-button {
		height: 55px;
		margin: 15px 15px 10px 0px;
		padding-left: 20px;
		padding-right: 20px;
		width: 20%;
	}
}
