#os-tabs {
	margin: 20px 0px 15px 0px;

	button {
		border: none;
		background-color: #ffffff;
		color: $neutral-600;
		@include sourcesanspro_r(14px);
		outline: 0;
		width: 90px;
		padding: 17px 0 11px;
		position: relative;
		// bottom: -2px;
		float: left;
		line-height: 25px;
		margin-right: 15px;
		// margin: 0 0 2% 0;
		border-bottom: 3px solid transparent;
		&:before {
			display: inline-block;
			margin-top: -8px;
			vertical-align: middle;
		}

		&:hover {
			color: $electric-purple;
			font-weight: 700;
		}

		&.current {
			color: $electric-purple;
			border-bottom-color: $electric-purple;
		}
	}
	&.os-tabs_button-outline-primary {
		a {
			&.external {
				position: relative;
				display: inline-block;
				&:after {
					position: absolute;
					top: 0;
					right: 20px;
				}
			}
		}
		button {
			@include button();
			color: $electric-purple;
			text-align: center;
			background-color: #FFFFFF;
			border-color: $electric-purple;
			border-width: 2px;
			// margin-right: 5px;
			padding: 10px 0 3px;
			@include poppins(16px);
			&:focus {
				border-color: $electric-purple;
				background-color: $electric-purple;
				box-shadow: 0 0 0 $input-focus-width $electric-purple;
			}

			&:hover {
				border-color: $electric-purple;
				background-color: $electric-purple;
				color: #fff;
			}

			&:not(:disabled):not(.disabled) {

				&:active {
					border-color: $electric-purple;
					background-color: $electric-purple;

					&:focus {
						border-color: $electric-purple;
						background-color: $electric-purple;
						box-shadow: 0 0 0 $input-focus-width $electric-purple;
					  }
				}

			}
		}
	}
}

.install-button {
	display: inline-block;
	background-color: #ffffff;
	text-align: center;
	@include sourcesanspro_r(14px);
	line-height: 15px;
	color: $cl_blue !important;
	text-decoration: none !important;
	padding: 15px 0;
	float: left;
	position: relative;
	border: 2px solid #fff;
	border-bottom: none;

	@include at-query($min, $screen-sm) {
		width: auto;
		padding: 15px 25px;
		float: none;
		font-size: 16px;

		// this breaks the styleguide a bit, but 25 was too much space
		line-height: 20px;
	}

	@include at-query($min, $screen-md) {
		padding: 15px;
	}

	@include at-query($min, $screen-lg) {
		padding: 15px 25px;
	}

	&:hover {
		color: $spanish-roast !important;
		border-bottom: none !important;
	}

	&.current {
		border: 2px solid $cl_gray_medium;
		border-top: 2px solid $spanish-roast;
		border-bottom: 2px #fff;

		&:hover {
			color: $cl_blue !important;
		}

		&:after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			bottom: -2px;
			left: 0;
			background: #fff;
		}
	}

	.c2a {
		@include sourcesanspro_r(12px);

		@media (min-width: 700px) {
			display: inline-block;
			font-size: 16px;
		}
	}
}

.install-wrap {
	border-bottom: 2px solid $cl_gray_medium;
}

#mac-installs {
	.install-button {
		width: 24.25%;

		&:nth-child(-n+3){
			margin-right: 1%;
		}
	}
}

#linux-installs {
	.install-button {
		width: 32%;

		&:nth-child(-n+2){
			margin-right: 2%;
		}
	}
}

#windows-installs {
	.install-button {
		width: 48%;

		&:nth-child(-n+1){
			margin-right: 2%;
		}
	}
}

/* Generic Filter Button */

.filters {
	font-size: 0;
	border-bottom: 1px solid $neutral-200;
	margin: 20px 0px 15px 0px;
	& + .filter-content {
		// margin-bottom: 25px;
	}
	.filter-button {
		display: inline-block;
		border: none;
		border-bottom: 3px solid transparent;
		background-color: #ffffff;
		text-align: center;
		@include sourcesanspro_r(14px);
		line-height: 15px;
		color: $neutral-600;
		text-decoration: none !important;
		padding: 15px;
		margin-right: 15px;
		outline: none;

		&:hover {
			color: $electric-purple;
		}

		&.current {
			color: $electric-purple;
			font-weight: 700;
			border-bottom-color: $electric-purple;
			margin-right: 15px;
		}
	}

	a:hover {
		border-bottom: none;
	}

	// Code tabs
	&__code {
		background: #1B1E25; //  TODO: Move to color variable
		border: 0;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		.filter-button {
			@include sourcesanspro_r(16px);
			border-bottom: none;
			background: #1B1E25;
			color: $white;
			&.current {
				@include sourcesanspro_b(16px);
				background: $neutral-800;
				color: $white;
			}
			&:hover{
				background: $neutral-800;
				color: $white;
			}
		}

		& ~ .filter-content {
			.highlight {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}

.filter-content {
	display: none;

	&.current {
		display: block;
	}
}

@media (min-width: 700px) {
	#os-tabs {

		button {
			width: 140px;

			&:before {
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 22px;
				height: 22px;
				content: ''; 
			}

			&#mac {

				&:before {
					background-image: url(images/icon-apple.png);
	        }
			}

			&#linux {

				&:before {
					background-image: url(images/icon-linux.png);
	        }
			}

			&#windows {

				&:before {
					background-image: url(images/icon-windows.png);
	        }
			}

			&#source {

				&:before {
					background-image: url(images/icon-zipfile.png);
				}
			}

			&#docker {

				&:before {
					background-image: url(images/icon-docker.png);
				}
			}
		}
	}

	#mac-installs, #linux-installs, #windows-installs {
		.install-button {
			width: auto;
			margin-right: 0;

			&:nth-child(-n+3) {
				margin-right: 0;
			}
		}
	}

	.filters {
		.filter-button {
			@include sourcesanspro_r(16px);
			line-height: 20px;
		}
	}
}

.filters-big {
	.filter-button {
		height: 55px;
		margin: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: 20%;
	}
}
