#help-widgets {
    z-index: 1000;
    position: absolute;
    right: 15px;
    bottom: auto;
    opacity: 0;
    @include groovy(opacity);

    @include at-query($min, $screen-md) {
        right: 30px;
    }

    &.fixed {
        position: fixed;
        bottom: 25px;
    }

    &.loaded {
        opacity: 1;
    }
}

.help-widget {
    position: relative;

    &__tooltip {
      @include caption;
      line-height: 20px;
      color: $cl_blue;
      white-space: nowrap;
      padding: 5px 15px;
      position: absolute;
      top: 50%;
      right: calc(100% + 15px);
      background-color: #fff;
      @include translate(10px, -50%);
      opacity: 0;
      @include groovy(all);
      pointer-events: none;
      display: none;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);

      &.hover-over {
        @include translate(0, -50%);
        opacity: 1;
      }

      @include at-query($min, $screen-sm){
        @include translate(15px, -50%);
        display: block;
      }
    }

    &__button {
        @include avenir_h(14px);
        line-height: 36px;
        @include rounded(100px);
        width: 75px;
        background-color: #FFFFFF;
        border: 2px solid #EBEBEB;
        text-align: center;
        padding: 0;
        display: block;

        &:hover, &:active, &:focus {
            color: $cl_blue !important;
        }

        &:hover {
            border-color: $cl_blue;
        }

        @include at-query($min, $screen-sm){
            font-size: 17px;
            line-height: 44px;
            width: 90px;
        }
    }

    &.help-forum {
        opacity: 0;
        @include groovy(all);

        &.button-over {
            opacity: 1;
            @include translate(0, -15px);
        }
    }

    &__close {
        cursor: pointer;
        display: inline-block;
        height: 47px;
        width: 47px;
        position: absolute;
        right: 0;
        top: -62px;
        opacity: 0;
        @include groovy(all);
        pointer-events: none;

        svg {
            width: 47px;
            height: 47px;
            display: block;

            circle {
                stroke: #E6E6E6 !important;
                fill: #FFFFFF !important;
                @include groovy(all);
            }
        }

        &.close-visible {
            opacity: 1;
            pointer-events: auto;
            @include translate(0, -15px);
        }

        &:hover {
            svg {
                circle {
                    stroke: $cl_blue !important;
                }
            }
        }

        @include at-query($min, $screen-md){
            display: none;
        }
    }
}

.gitter-chat-embed {
  z-index: 9999;
}
