.search {
  position: relative;

  .fa-search {
    position: absolute;
    top: 10px;
    left: 15px;
    color: $cl-green;
    font-size: 20px; // icon sizing
  }

  #search-input {
    background-color: white;
    border: none;
    border-radius: 32px;
    box-shadow: 0 0 8px $cl_gray_medium;
    height: 40px;
    width: calc(100% - 30px);
    outline: 0px none;
    padding: 3px 10px 0px 45px;
    transition: all 0.15s ease 0s;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 40px; // vertical positioning

    &::-webkit-input-placeholder {
      color: #bcbcbc;
    }

    &:focus {
      border-color: $cl_green_bright;
    }

    @media (min-width: $screen-md) {
      width: 100%;
    }
  }
}

#mysidebar li.search-wrap {
  margin-bottom: 0;

  @include at-query($min, $screen-md) {
    display: block;
    position: fixed;
    top: 89px;
    width: 240px;
    background: #ffffff;
    z-index: 2;
    padding-top: 11px;
  }
}

.search-item {
  margin-top: 30px;
}

.search-link {
  color: #999988;
  @include caption;
  margin-bottom: 5px;
}
.search-snippet {
  @include caption;
}

.clear-search {
  display: none;
  position: absolute;
  top: 2px;
  right: calc(0% + 30px);
  height: 38px;
  width: 35px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  @include at-query($min, $screen-md) { right: 0; }

  &:before, &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 11px;
    top: 50%;
    left: 6px;
    margin-top: -1px;
    background: $cl_blue;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
