.search {
  position: relative;

  .fa-search {
    position: absolute;
    top: 10px;
    left: 15px;
    color: $cl-green;
    font-size: 20px;
  }

  #search-input {
    background-color: white;
    border: solid 1px #bcbcbc;
    border-radius: 32px;
    height: 40px;
    width: 86%;
    outline: 0px none;
    padding: 3px 10px 0px 45px;
    transition: all 0.15s ease 0s;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 40px;

    &::-webkit-input-placeholder {
      color: #bcbcbc;
    }

    @media (min-width: $screen-md) {
      width: 90%;
    }
  }
}

li.search-wrap {
  margin-bottom: 0;
}

.search-item {
  margin-top: 30px;
}
.search-title {
  font-size: 20px;
}
.search-link {
  color: #999988;
  font-size: 14px;
}
.search-snippet {
  font-size: 14px;
}
