@charset "UTF-8";

.toc-col {
  display: none;

  @include at-query($min, 1072px) {
    padding: 34px 0;
    // min-width: 260px;
    // max-width: 260px;
    display: inline-block;
    background: #ffffff;
  }
}

#toc {
  display: block;
  max-width: 500px;
  padding-left: 0px;
  margin: 0;

  @include at-query($min, 1072px) {
    display: none;
  }
}

.toc-col-contents {
  height: 85vh;
  overflow-y: auto;
  padding-bottom: 5rem;
  padding-right: 5px;
}

.toc-col-contents::-webkit-scrollbar {
  display: none;
}

#toc-right {
  max-height: 85vh;
  padding-right: 15px;
  background: #ffffff;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}

#toc-right::-webkit-scrollbar {
  display: none;
}

#toc,
#toc-right {

  > ul {
    list-style-type: none;
    width: 100%;
    padding: 0 0 0 10px;

    li {
      list-style: none;
      line-height: 22px;
      white-space: nowrap; // prevent anchor JS link from ending up on next line
      margin: 0;
      a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        color: #475872;
        line-height: 22px;
        display: inline-flex;
        letter-spacing: 0.1px;
        padding: 6px 0 7px 20px;
        border-left: 2px solid $neutral-200;
        &:hover {
          font-weight: bold;
          text-decoration: none;
          border-bottom: none;
        }

        &.active--scroll {
          border-left: 2px solid $blue-300;
          font-weight: bold;
        }

        &.anchorjs-link {
           visibility: hidden;
        }
      }

      a:first-child {
        position: relative;
        white-space: normal;

        &:hover {
          &:before {
            color: $cl_blue;
          }
        }
      }

      > ul {
        margin: 0;
        padding: 0 0 0 10px;
      }
    }

    &:before {
      content: "On this page";
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12px;
      line-height: 14px;
      color: #242A35;
      display: flex;
      letter-spacing: 1.5px;
      padding-bottom: 20px;
    }
  }

  code {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0px;
  }
}
