@charset "UTF-8";

.toc-col {
  display: none;

  @include at-query($min, 1072px) {
    padding: 34px 0;
    min-width: 260px;
    max-width: 260px;
    display: inline-block;
    background: #ffffff;
  }
}

#toc {
  display: block;
  max-width: 500px;
  padding-left: 0px;
  margin: 0;

  @include at-query($min, 1072px) {
    display: none;
  }
}

#toc-right {
  max-height: 90vh;
  padding-right: 15px;
  background: #ffffff;
  overflow-y: hidden;

  &:hover,
  &:active,
  &:focus {
    overflow-y: auto;
  }
}

#toc,
#toc-right {

  > ul {
    list-style-type: none;
    width: 100%;
    padding: 0 0 0 10px;
    border-left: 5px solid $cl_gray_light;

    li {
      margin: 6px 0 7px;
      list-style: none;
      line-height: 1.1;
      white-space: nowrap; // prevent anchor JS link from ending up on next line

      a {
        @include avenir_r(13px);
        color: $cl_blue;

        &:hover {
          color: $cl_green;
          text-decoration: none;
          border-bottom: none;
        }

        &.active--scroll {
          color: $cl_green;
        }
      }

      a:first-child {
        position: relative;
        white-space: normal;

        &:hover {
          &:before {
            color: $cl_blue;
          }
        }
      }

      > ul {
        margin: 0;
        padding: 0 0 0 10px;
      }
    }

    &:before {
      content: "Contents";
      @include avenir_h(14px);
      line-height: 30px;
      color: $cl_blue;
      display: block;
    }
  }

  code {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0px;
  }
}
