@charset "UTF-8";

.toc-col {
  display: none;

  @include at-query($min, 1072px) {
    padding: 30px 30px 30px 0;
    min-width: 275px;
    max-width: 275px;
    display: inline-block;
  }
}

#toc {
  display: block;
  max-width: 500px;
  margin: 0;

  @include at-query($min, 1072px) {
    display: none;
  }
}

#toc-right {
  max-width: 100%;
  margin: 30px 0 0 0;
}

#toc,
#toc-right {

  > ul {
    background-color: $cl_green_light;
    padding: 20px;
    width: 100%;

    li {
      margin: 0;
      padding-left: 25px;
      list-style: none;

      a {
        @include avenir_r(14px);
        line-height: 20px;
        color: $cl_blue;

        &:hover {
          color: $cl_green;
          text-decoration: none;
          border-bottom: none;
        }
      }

      a:first-child {
        position: relative;

        &:before {
          position: absolute;
          content: '•';
          top: -2px;
          left: -18px;
        }

        &:hover {
          &:before {
            color: $cl_blue;
          }
        }
      }

      > ul {
        margin: 0;
        padding: 0;
      }
    }

    &:before {
      content: "On This Page";
      @include subhead-avenir-sm;
      color: $cl_blue;
      display: block;
    }
  }

  code {
    color: inherit;
    padding: 0px;
  }
}
