@charset "UTF-8";

.toc-col {
  display: none;

  @include at-query($min, 1072px) {
    padding: 30px 0;
    min-width: 275px;
    max-width: 275px;
    display: inline-block;
  }
}

#toc {
  display: block;
  max-width: 500px;
  margin: 0;

  @include at-query($min, 1072px) {
    display: none;
  }

  > ul {
    padding: 20px;
  }
}

#toc-right {
  max-height: 90vh;
  overflow-y: scroll;
  background: #ffffff;

  > ul {
    padding: 0;
  }
}

#toc,
#toc-right {
  padding-left: 15px;
  border-left: 5px solid $cl-green;

  > ul {
    list-style-type: none;
    width: 100%;

    li {
      margin: 0;
      list-style: none;

      a {
        @include avenir_r(14px);
        line-height: 20px;
        color: $cl_blue;

        &:hover {
          color: $cl_green;
          text-decoration: none;
          border-bottom: none;
        }
      }

      a:first-child {
        position: relative;

        &:hover {
          &:before {
            color: $cl_blue;
          }
        }
      }

      > ul {
        margin: 0;
        padding: 0 0 0 10px;
        border-left: 2px solid $cl-green;
      }
    }

    &:before {
      content: "On This Page";
      @include subhead-avenir-sm;
      color: $cl_blue;
      display: block;
    }
  }

  code {
    color: inherit;
    padding: 0px;
  }
}
