.version-tag {
  display: inline-block;
  position: relative;
  color: $cl_blue_note;
  @include avenir_r(13px);
  line-height: 20px;
  margin-left: 5px;

  &:before {
    content: '\f1d8';
    font-family: FontAwesome;
    font-size: 13px;
    margin-right: 5px;
  }
}

p, .clickable-header {
  .version-tag {
    @include avenir_r(15px);
    line-height: 30px;
  }
}
