<?xml version="1.0" encoding="UTF-8"?>
<div style="overflow-x:auto;">
<svg xmlns="http://www.w3.org/2000/svg" width="831" height="69">
   <polygon points="9 17 1 13 1 21"/>
   <polygon points="17 17 9 13 9 21"/>
   <rect x="31" y="3" width="58" height="32" rx="10"/>
   <rect x="29"
          y="1"
          width="58"
          height="32"
          class="terminal"
          rx="10"/>
   <text class="terminal" x="39" y="21">DROP</text>
   <rect x="109" y="3" width="80" height="32" rx="10"/>
   <rect x="107"
          y="1"
          width="80"
          height="32"
          class="terminal"
          rx="10"/>
   <text class="terminal" x="117" y="21">VIRTUAL</text>
   <rect x="209" y="3" width="82" height="32" rx="10"/>
   <rect x="207"
          y="1"
          width="82"
          height="32"
          class="terminal"
          rx="10"/>
   <text class="terminal" x="217" y="21">CLUSTER</text>
   <rect x="331" y="35" width="34" height="32" rx="10"/>
   <rect x="329"
          y="33"
          width="34"
          height="32"
          class="terminal"
          rx="10"/>
   <text class="terminal" x="339" y="53">IF</text>
   <rect x="385" y="35" width="70" height="32" rx="10"/>
   <rect x="383"
          y="33"
          width="70"
          height="32"
          class="terminal"
          rx="10"/>
   <text class="terminal" x="393" y="53">EXISTS</text>
   <a xmlns:xlink="http://www.w3.org/1999/xlink"
       xlink:title="virtual_cluster_spec">
      <rect x="495" y="3" width="148" height="32"/>
      <rect x="493" y="1" width="148" height="32" class="nonterminal"/>
      <text class="nonterminal" x="503" y="21">virtual_cluster_spec</text>
   </a>
   <rect x="683" y="35" width="100" height="32" rx="10"/>
   <rect x="681"
          y="33"
          width="100"
          height="32"
          class="terminal"
          rx="10"/>
   <text class="terminal" x="691" y="53">IMMEDIATE</text>
   <path class="line"
          d="m17 17 h2 m0 0 h10 m58 0 h10 m0 0 h10 m80 0 h10 m0 0 h10 m82 0 h10 m20 0 h10 m0 0 h134 m-164 0 h20 m144 0 h20 m-184 0 q10 0 10 10 m164 0 q0 -10 10 -10 m-174 10 v12 m164 0 v-12 m-164 12 q0 10 10 10 m144 0 q10 0 10 -10 m-154 10 h10 m34 0 h10 m0 0 h10 m70 0 h10 m20 -32 h10 m148 0 h10 m20 0 h10 m0 0 h110 m-140 0 h20 m120 0 h20 m-160 0 q10 0 10 10 m140 0 q0 -10 10 -10 m-150 10 v12 m140 0 v-12 m-140 12 q0 10 10 10 m120 0 q10 0 10 -10 m-130 10 h10 m100 0 h10 m23 -32 h-3"/>
   <polygon points="821 17 829 13 829 21"/>
   <polygon points="821 17 813 13 813 21"/>
</svg>
</div>
