<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "CockroachDB Docs" }}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
  {% include "navbar.njk" %}

  <main class="container-fluid">
    {{ content | safe }}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/navbar.js"></script>
</body>
</html>
