<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% for hash in page.allowed_hashes %}
    <a id="{{ hash }}" style="display: none"></a>
  {% endfor %}
  {% include topnav.html %}
  <div id="content">
    <div id="main-content" class="container">
      <div class="row sidebar-row">
        {% if page.no_sidebar == true %}
          <div class="col-md-10 col-md-offset-1 content-col">
        {% else %}
          {% include sidebar.html %}
          <div class="col-md-9 content-col content-col-border {% if page.url == '/' %}content-col--landing{% endif %}">
        {% endif %}
            {{content}}
          </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
  {% include google_tag_manager.html %}
  {% include google_remarketing.html %}
  {% include hubspot_analytics.html %}
  {% if page.twitter == true %}
    {% include twitter_analytics.html %}
  {% endif %}
  {% include drift.html %}
</body>
</html>
