<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% for hash in page.allowed_hashes %}
    <a id="{{ hash }}" style="display: none"></a>
  {% endfor %}
  {% include topnav.html %}
  <div id="content">
    <div id="main-content">
      <div class="sidebar-row">
        {% if page.no_sidebar == true %}
          <div class="content-col no-sidebar">
        {% else %}
          {% include sidebar.html %}
          <div class="content-col {% if page.url == '/' %}content-col--landing{% endif %}"> 
        {% endif %}
            {{content}}
          </div>
          <div class="toc-col">
            {% if page.toc == true %}
              <div id="toc-right"></div>
            {% endif %}
          </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
  <script src="{{ 'js/tocRightScrollHighlight.js' | relative_url }}"></script>
  {% include google_tag_manager.html %}
  {% include google_remarketing.html %}
  {% include hubspot_analytics.html %}
  {% if page.twitter == true %}
    {% include twitter_analytics.html %}
  {% endif %}
  {% include drift.html %}
</body>
</html>
