---
layout: default
---
<div class="cf-5329-area-16739"></div>

{% unless page.homepage %}
{% if page.version %}
  {% include version-switcher.html %}
{% endif %}
{% endunless %}

{% if page.homepage != true %}

<div class="post-header mb-3

{% unless page.homepage %}
   {% unless page.version %}
   mt-5
   {% endunless %}
{% endunless %}
">
  <h1 class="post-title-main">{{ page.title }}</h1>
  {% unless page.contribute == false %}
      {% include contribute-options.html %}
  {% endunless %}
</div>
{% endif %}

<div class="post-content">
  <!--
       TOC LEVEL: By default, a page TOC includes h2 and h3 headers. To limit a
       page TOC to h2 headers only, set `toc_not_nested: true` in the page's
       front-matter.
   -->
   {% if page.toc %}
      <div id="toc"></div>
   {% endif %}

   {% if page.url contains "v1.0" or page.url contains 'v1.1' or page.url contains 'v2.0' or page.url contains 'v2.1' or page.url contains 'v19.1' %}
      {% include_cached unsupported-version.md %}
   {% endif %}

   {% if page.url contains 'v19.2' %}
      {% include_cached unsupported-version-soon.md %}
   {% endif %}
   
   {{content}}

   {% if page.feedback != false %}
      {% include_cached feedback-widget.html %}
   {% endif %}

</div>

{% if page.homepage != true %}
   <script>
      anchors.add('h2, h3, h4, h5');
   </script>
{% endif %}
