---
layout: default
---

<div class="post-header">
  <h1 class="post-title-main">{% if page.homepage == true %} {{site.homepage_title}} {% else %}{{ page.title }}{% endif %}</h1>
  {% unless page.contribute == false %}
      {% include contribute-options.html %}
  {% endunless %}
</div>

<div class="post-content">
  <!--
       TOC LEVEL: By default, a page TOC includes h2 and h3 headers. To limit a
       page TOC to h2 headers only, set `toc_not_nested: true` in the page's
       front-matter.

       TOC PLACEMENT: To place the toc at the top of the page, set `toc: true`
       in the page's front-matter. To place the toc somewhere else, set `toc:
       false` in the front-matter, and then include the below
       <div> manually where you want it.
   -->
   {% if page.toc %}
      <div id="toc"></div>
   {% endif %}

   {{content}}

   {% if page.feedback != false %}
      <br><br>
      {% include feedback-widget.html %}
   {% endif %}

</div>

{% if page.homepage != true %}
   <script>
      anchors.add('h2, h3, h4, h5');
   </script>
{% endif %}
