---
layout: default
---
<div class="cf-5329-area-16739"></div>

{% unless page.homepage %}
{% if page.version %}
  {% include version-switcher.html %}
{% endif %}
{% endunless %}

{% comment %} Show the version switcher only if 1) the current page has a version and 2) the current page isn't the home page of the docs. {% endcomment %}

{% if page.homepage != true %}

<div class="post-header mb-3

{% unless page.homepage %}
   {% unless page.version %}
   mt-5
   {% endunless %}
{% endunless %}
">
  <h1 class="post-title-main">{{ page.title }}</h1>

</div>
{% endif %}

{% comment %} If the page supports it, show the contribution options. {% endcomment %}

<div class="post-content">
  <!--
       TOC LEVEL: By default, a page TOC includes h2 and h3 headers. To limit a
       page TOC to h2 headers only, set `toc_not_nested: true` in the page's
       front-matter.
   -->
   {% if page.toc %}
      <div id="toc"></div>
   {% endif %}

   {% comment %} If toc=true within the YAML front matter of a doc page, show the table of contents. {% endcomment %}

    {% assign x = site.data.versions | where_exp: "m", "m.major_version == page.version.version" | first %}

    {% unless x.maint_supp_exp_date == "N/A" or x.asst_supp_exp_date == "N/A" %}

    {% assign today = "today" | date: "%s" %} {% comment %} Fetch today's date and format it in seconds. {% endcomment %}

    {% assign m = x.maint_supp_exp_date | date: "%s" %} {% comment %} Format m_raw in seconds. {% endcomment %}
    {% assign a = x.asst_supp_exp_date | date: "%s" %} {% comment %} Format a_raw in seconds. {% endcomment %}

   {% if page.version and a < today %} {% comment %} If the assistance support expiration date has passed, show the unsupported message. {% endcomment %}
      {% include_cached unsupported-version.md %}
   {% endif %}

   {% if page.version and a >= today and m < today %} {% comment %} If the maintenance support expiration has passed but the version is still within the assistance support period, show this message nad pass the assistance support expiration date. {% endcomment %}
      {%assign ed = x.asst_supp_exp_date | date: "%B %e, %Y" %}
      {% include_cached unsupported-version-soon.md exp_date=ed %}
   {% endif %}

   {% endunless %}

   {{content}}

   <!-- {% if page.feedback != false %}
      {% include feedback-widget.html %}
   {% endif %}
   {% comment %} Show feedback widget at bottom of page. {% endcomment %} -->

   {% if page.docs_area %}
     <script>
         window.dataLayer = window.dataLayer || [];
         window.dataLayer.push({
         'docsArea' : '{{ page.docs_area }}'
     });
     </script>
   {% endif %} {% comment %} Add JS to track docs area for reporting. {% endcomment %}
   {% if page.product_area %}
     <script>
         window.dataLayer = window.dataLayer || [];
         window.dataLayer.push({
         'productArea': '{{ page.product_area }}'
     });
     </script>
   {% endif %} {% comment %} Add JS to track product area for reporting. {% endcomment %}

</div>
