<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
    <th colspan="1" rowspan="1">Ver.</th>
    <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-hosted</th>
    <th colspan="1" rowspan="1">Advanced</th>
    <th colspan="1" rowspan="1">Standard</th>
    <th colspan="1" rowspan="1">Basic</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">IAM authentication support for Amazon MSK Serverless</p>
    <p class="feature-description">
     <a href="https://www.cockroachlabs.com/docs/v24.3/change-data-capture-overview.html">Changefeeds</a> support IAM Authentication with Amazon MSK Serverless clusters (Amazon Managed Streaming for Apache Kafka). This feature is generally available.
    </p>
   </td>
   <td>24.3</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
  </tr>
 </tbody>
</table>
