<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-hosted</th>
   <th colspan="1" rowspan="1">Advanced</th>
   <th colspan="1" rowspan="1">Standard</th>
   <th colspan="1" rowspan="1">Basic</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">Free trial on CockroachDB Cloud</p>
    <p class="feature-description">
      New CockroachDB Cloud organizations can benefit from a 30-day free trial that enables you to consume up to $400 worth of free credits. Get started by signing up for <a href="https://cockroachlabs.cloud/signup">CockroachDB Cloud</a>
    </p>
   </td>
   <td>All
    <sup>&starf;</sup>
   </td>
   <td class="icon-center">{% include "icon-no.html" %}</td>
   <td class="icon-center">{% include "icon-no.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
  </tr>
 </tbody>
</table>
