<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
    <th colspan="1" rowspan="1">Ver.</th>
    <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-hosted</th>
    <th colspan="1" rowspan="1">Advanced</th>
    <th colspan="1" rowspan="1">Standard</th>
    <th colspan="1" rowspan="1">Basic</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">Licensing changes</p>
    <p class="feature-description">
      All versions of CockroachDB starting from the release date of 24.3.0 onward, including patch fixes for versions 23.1-24.2, are made available under the <a href="https://www.cockroachlabs.com/cockroachdb-software-license">CockroachDB Software License</a>. 
    </p>
    <p class="feature-description">
      See below for a summary of license options for self-hosted deployments. All Cloud deployments automatically have a valid Enterprise license.
    </p>
      <ul>
        <li>
          <p class="feature-description">
          <u>Enterprise</u>: This paid license allows usage of all CockroachDB features in accordance with the terms specified in the <a href="https://www.cockroachlabs.com/cockroachdb-software-license">CockroachDB Software License</a>. 
          </p>
        </li>
        <li>
          <p class="feature-description">
          <u>Enterprise Free</u>: Same functionality as Enterprise, but free of charge for businesses with less than $10M in annual revenue. Clusters will be throttled after 7 days without sending telemetry. License must be renewed annually. 
          </p>
        </li>
        <li>
          <p class="feature-description">
          <u>Enterprise Trial</u>: A 30 day self-service trial license. Telemetry is required during the trial. Clusters will be throttled after 7 days without sending telemetry. Telemetry can be disabled once the cluster is upgraded to a paid Enterprise license.
          </p>
        </li>
      </ul>
      <p class="feature-description">
        See the <a href="http://cockroachlabs.com/docs/stable/licensing-faqs">Licensing FAQs page</a> for more details on the CockroachDB Software License and license options.
      
        You may acquire CockroachDB licenses through the <a href="https://cockroachlabs.cloud/signup?experience=enterprise">CockroachDB Cloud console</a>.
      </p>
   </td>
   <td>24.3</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
   <td class="icon-center">{% include "icon-yes.html" %}</td>
  </tr>
 </tbody>
</table>
