name: List files changed as GitHub comment

on:
  pull_request

jobs:
  list-files-changed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed_files
        uses: tj-actions/changed-files@v4.2

      - name: Format list of changed files
        id: format
        run: |
          declare -a output

          files=(${{ steps.changed_files.outputs.all_modified_files }})
          pr_num=${{ github.event.pull_request.number }}
          for file in ${files[@]}; do
            # only create links for Markdown files that are not includes
            if [[ $file == *.md ]] && [[ $file != _* ]]
            then
              html_file=${file%.md}.html
              file="<a href=\"https://deploy-preview-$pr_num--cockroachdb-docs.netlify.app/docs/$html_file\" target="_blank">$file</a>"
            fi
            output+="$file\n"
          done;
          body="${output[@]//$'\n'/'%0A'}"
          echo ::set-output name=body::$body

      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Files changed:

            ${{ steps.format.outputs.body }}
