name: PR Review
on: 
  pull_request:
    # types:
    #   - opened
    #   - reopened
    #   - ready_for_review
  pull_request_review:
    types:
      - submitted
      - edited
      - dismissed

permissions: read-all
    
jobs:
  pr-review:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Set up Golang
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Run PR review check
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PR_AUTHOR: ${{ github.event.pull_request.user.login }}
        PR_NUMBER: ${{ github.event.pull_request.number }}
      run: go run .github/scripts/docs-prs-reviews.go
