name: Vale Linting
on: [pull_request]

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Vale
      uses: errata-ai/vale-action@v1.5.0
      with:
        config: https://raw.githubusercontent.com/cockroachdb/docs/master/.vale.ini
        files: __onlyModified
        onlyAnnotateModifiedLines: true
        debug: true
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
