<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
    <th colspan="1" rowspan="1">Ver.</th>
    <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
    <th colspan="1" rowspan="1">Advanced</th>
    <th colspan="1" rowspan="1">Standard</th>
    <th colspan="1" rowspan="1">Basic</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">LDAP support in Public Preview</p>
    <p class="feature-description">
      CockroachDB support for authentication and authorization using the Lightweight Directory Access Protocol (LDAP) is now in Public Preview. This enables organizations to use existing enterprise directory systems for authentication and authorization.
    </p>
   </td>
   <td>24.3</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
