<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
   <th colspan="1" rowspan="1">Advanced</th>
   <th colspan="1" rowspan="1">Standard</th>
   <th colspan="1" rowspan="1">Basic</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">Free trial on CockroachDB Cloud</p>
    <p class="feature-description">
      New CockroachDB Cloud organizations can benefit from a 30-day free trial that enables you to consume up to $400 worth of free credits. Get started by signing up for [CockroachDB Cloud](https://cockroachlabs.cloud/signup)
    </p>
   </td>
   <td>All
    <sup>&starf;</sup>
   </td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
    <td>
     <p class="feature-summary">CockroachDB Cloud (pay-as-you-go) on GCP</p>
     <p class="feature-description">
      CockroachDB Cloud is now available as a pay-as-you-go offering on the GCP Marketplace. This allows GCP customers to pay for CockroachDB Cloud charges via their GCP accounts, with no up-front commitments.
     </p>
    </td>
    <td>All
     <sup>&starf;</sup>
    </td>
    <td class="icon-center">{% include icon-no.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
   </tr>
 </tbody>
</table>
