<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
    <th colspan="1" rowspan="1">Ver.</th>
    <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
    <th colspan="1" rowspan="1">Advanced</th>
    <th colspan="1" rowspan="1">Standard</th>
    <th colspan="1" rowspan="1">Basic</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">User-defined functions and stored procedures support SECURITY DEFINER</p>
    <p class="feature-description">
      You can create or alter a user-defined function (UDF) or stored procedure (SP) with <code>[EXTERNAL] SECURITY DEFINER</code> instead of the default <code>[EXTERNAL] SECURITY INVOKER</code>. With <code>SECURITY DEFINER</code>, the privileges of the owner are checked when the UDF or SP is executed, rather than the privileges of the executor. The <code>EXTERNAL</code> keyword is optional and exists for SQL language conformity. 
    </p>
   </td>
   <td>24.3</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
  <tr>
    <td>
     <p class="feature-summary">CockroachDB now supports triggers</p>
     <p class="feature-description">
      CockroachDB now supports triggers. Triggers allow automatic execution of specified functions in response to specified events on a particular table or view. They can be used for automating tasks, enforcing business rules, and maintaining data integrity.
     </p>
    </td>
    <td>24.3</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
   </tr>
 </tbody>
</table>
