<table>
 <thead>
  <tr>
   <th id="feature-detail-key" colspan="2">Feature detail key</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>&starf;</td>
   <td>Features marked "All*" were recently made available in the CockroachDB Cloud platform. They are available for all supported versions of CockroachDB, under the deployment methods specified in their row under Availability.</td>
  </tr>
  <tr>
   <td>&starf;&starf;</td>
   <td>Features marked "All**" were recently made available via tools maintained outside of the CockroachDB binary. They are available to use with all supported versions of CockroachDB, under the deployment methods specified in their row under Availability.</td>
  </tr>
  <tr>
   <td>{% include icon-yes.html %}</td>
   <td>Feature is available for this deployment method of CockroachDB as specified in the icon’s column: CockroachDB Self-hosted, CockroachDB Advanced, CockroachDB Standard, or CockroachDB Basic.</td>
  </tr>
  <tr>
   <td>{% include icon-no.html %}</td>
   <td>Feature is not available for this deployment method of CockroachDB as specified in the icon’s column: CockroachDB Self-hosted, CockroachDB Advanced, CockroachDB Standard, or CockroachDB Basic.</td>
  </tr>
 </tbody>
</table>
