<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="5" rowspan="1">Availability</th>
  </tr>
  <tr>
    <th colspan="1" rowspan="1">Ver.</th>
    <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-hosted</th>
    <th colspan="1" rowspan="1">Advanced</th>
    <th colspan="1" rowspan="1">Standard</th>
    <th colspan="1" rowspan="1">Basic</th>
   </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">SELECT now supported on PCR standby clusters</p>
    <p class="feature-description">
      <a href="https://cockroachlabs.com/docs/v24.3/physical-cluster-replication-overview.html">Physical cluster replication (PCR)</a> has been enhanced to support <code>SELECT</code> operations on standby clusters. This enables you to scale read performance by running, for example, non-critical workloads on standby clusters.  
    </p>
   </td>
   <td>24.3</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-no.html %}</td>
   <td class="icon-center">{% include icon-no.html %}</td>
</tr>
  <tr>
    <td>
     <p class="feature-summary">Logical Data Replication in Preview</p>
     <p class="feature-description">
      <a href="https://cockroachlabs.com/docs/v24.3/logical-data-replication-overview.html">Logical data replication (LDR)</a> continuously replicates tables between an active source CockroachDB cluster to an active destination CockroachDB cluster. Both source and destination can receive application reads and writes, and participate in bidirectional LDR replication for eventual consistency in the replicating tables.
      </p>
      <p class="feature-description">
      The active-active setup between clusters can provide protection against cluster, datacenter, or region failure while still achieving single-region low latency reads and writes in the individual CockroachDB clusters. Each cluster in an LDR job still benefits individually from multi-active availability with CockroachDB's built-in Raft replication providing data consistency across nodes, zones, and regions. 
     </p>
     <p class="feature-description">
      This feature is in Preview.
     </p>
    </td>
    <td>24.3</td>
    <td class="icon-center">{% include icon-yes.html %}</td>
    <td class="icon-center">{% include icon-no.html %}</td>
    <td class="icon-center">{% include icon-no.html %}</td>
    <td class="icon-center">{% include icon-no.html %}</td>
   </tr>
 </tbody>
</table>
