<table>
 <thead>
  <tr>
   <th class="center-align" colspan="1" rowspan="2">Feature</th>
   <th class="center-align" colspan="4" rowspan="1">Availability</th>
  </tr>
  <tr>
   <th colspan="1" rowspan="1">Ver.</th>
   <th colspan="1" rowspan="1" style="white-space: nowrap;">Self-Hosted</th>
   <th colspan="1" rowspan="1">Dedicated</th>
   <th colspan="1" rowspan="1">Serverless</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <p class="feature-summary">IAM authentication support for Amazon MSK Serverless</p>
    <p class="feature-description">
     <a href="https://www.cockroachlabs.com/docs/v24.3/change-data-capture-overview.html">Changefeeds</a> now support IAM Authentication with Amazon MSK Serverless sinks. This feature is GA.
    </p>
   </td>
   <td>24.2</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
   <td class="icon-center">{% include icon-yes.html %}</td>
  </tr>
 </tbody>
</table>
