
@mixin font-props {
  font-weight:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin source_code_r($size) {font-family: 'Source Code Pro', monospace, Arial, Helvetica, sans-serif; font-size:$size; @include font-props;}

@mixin sourcesanspro_r($size) {font-family: 'Source Sans Pro', sans-serif; font-size:$size; @include font-props;}
@mixin sourcesanspro_m($size) {font-family: 'Source Sans Pro', sans-serif; font-size:$size; @include font-props; font-weight: 600;}
@mixin sourcesanspro_b($size) {font-family: 'Source Sans Pro', sans-serif; font-size:$size; @include font-props; font-weight: bold;}

// Poppins
@mixin poppins($size) {font-family: 'Poppins', sans-serif; font-size:$size; @include font-props;}
@mixin poppins_sb($size) {font-family: 'Poppins', sans-serif; font-size:$size; @include font-props; font-weight: bold;}
